---
layout: changelog
title: Archived LTS Changelogs
show_ratings: false
has_rss: false
actions:
  <a class="app-button app-button--primary app-mobile-hide" href="/changelog-stable">
    <ion-icon name="arrow-back-circle-outline"></ion-icon>
    Back to Recent Changelogs
  </a>
---

.ratings
  - # source: https://github.com/jenkins-infra/jenkins.io/blob/master/content/_data/changelogs/lts.yml
  - archived_changelogs = site.changelogs[:lts].select { |release| release.date <= 2.years.ago }.reverse
  - archived_changelogs.each do |release|
    %div
      = partial('release-header.html.haml', :release => release, :url => 'changelog-stable')
      - if release.changes
        %div.app-releases__list__items
          = partial('changelog-changes.html.haml', :changes => release.changes)
