- release = site.changelogs[:lts].reverse.select { |release| Gem::Version.new(release.version) <= Gem::Version.new(site.jenkins.latest) }[0]

:plain
  {
    "schemaVersion": 1,
    "label": "Jenkins LTS",
    "message": "#{release.version}",
    "color": "blue",
    "cacheSeconds": 300
  }
