!!! XML
%rss(version="2.0"
     xmlns:content="https://purl.org/rss/1.0/modules/content/"
     xmlns:atom="http://www.w3.org/2005/Atom")

  %channel
    %title
      Jenkins LTS Changelog
    %link
      https://jenkins.io/changelog-stable
    %atom:link(href="#{absolute_link(page.url)}" rel="self" type="application/rss+xml")
    %description
      Changelog for Jenkins LTS releases
    %lastBuildDate
      #{Date.today.rfc822}
    = partial('changelog-changes.xml.haml', :releases => site.changelogs[:lts], :changelog_url => 'https://jenkins.io/changelog-stable/', :newest_release => site.jenkins.stable, :limit => 0)
