---
layout: changelog
title: Changelog preview
show_ratings: true
has_rss: true
---
%p
  %b
    This is a preview changelog for upcoming releases. For publicly available releases see
    %a{:href => '/changelog/'}
      the weekly release changelog.

.ratings
  - # source: https://github.com/jenkins-infra/jenkins.io/blob/master/content/_data/changelogs/weekly.yml
  - counter = 0
  - site.changelogs[:weekly].reverse.select { |release| Gem::Version.new(release.version) > Gem::Version.new(site.jenkins.latest) }[0..29].each do | release |
    = partial('release-header.html.haml', :release => release)
    %ul.image
      = partial('changelog-changes.html.haml', :changes => release.changes)