---
:layout: post
:title: Thank you for downloading OS X installer
:nodeid: 367
---

:css
  .submitted {
    display: none;
  }

%a{:name => 'stable'}/

%p
  Download hasn't started?

  %a#startDownloadLink{:href => ''}
    Click this link


%h2
  What's next?

%ul
  %li
    %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Thanks+for+using+OSX+Installer'}
      Learn how the OS X installer sets up your Jenkins, and how you can tweak it.
  %li
    %a{:href => 'https://twitter.com/jenkinsci'}
      Follow us
    on Twitter for updates

:javascript
  $(document).ready(function() {
    var url = 'http://mirrors.jenkins-ci.org/osx/latest';

    if (window.location.hash == '#stable') {
      url = 'http://mirrors.jenkins-ci.org/osx-stable/latest'
    }

    $('#startDownloadLink').attr('href', url);
    window.location.href = url;
  })
