---
layout: default
title: Jenkins Artwork
---

/ Please add new logo meta-data to content/images/logos and content/_data/logo

.container
  .row
    &nbsp;
  .row
    .col-12
      %h1.text-center
        Artwork

      %p
        The original Jenkins logo was created by our friends at
        %a{:href => 'https://frontside.io/'}
          Frontside.
        Special thanks to
        %a{:href => 'https://github.com/cowboyd'}
          Charles Lowell
        for his efforts championing the logo's original design. Usage
        guidelines for the original logo can be found on our
        %a{:href => '/press'}
          Press
        page. This page simply catalogues the many clever variations of Jenkins
        created by members of the Jenkins community.

      %p
        These images are also available in various sizes and SVG formats
        online, or as a zip file.  These are licensed under the
        %a{:href => 'https://creativecommons.org/licenses/by-sa/3.0/'}
          Creative Commons Attribution-ShareAlike 3.0 Unported License.
        Under the terms of this license, you must include an attribution to the
        Jenkins project, with a link (https://jenkins.io/), if you display
        these logos or derivates thereof.

%hr/

.container
  .row
    - site.logo.sort.to_h.each_pair do |key, logo|
      .col-4
        .text-center
          %h3
            = logo['name']
          %a{:href => logo['url'], :target => '_blank'}
            %img{:src => logo['url_256'], :alt => logo['name']}
          %p
            -if logo['credit']
              Created by
              - if logo['credit_url']
                %a{:href => logo['credit_url']}
                  = logo['credit']
              - else
                = logo['credit']
            - if logo['source']
              %br/
              %a{:href => logo['source_url'], :target => '_blank'}
                = logo['source']
            - if logo['vector']
              %br/
              %small
                %a{:href => logo['vector']}
                  SVG format

%hr/

.container
  .row
    .col-md-12
      %h3
        Adding a Logo
      %p
        In order to add a new logo, please refer to the 
        %a{:href => 'https://github.com/jenkins-infra/jenkins.io/blob/master/CONTRIBUTING.adoc#adding-a-logo'}
          CONTRIBUTING guidelines.

