# All website content
content/ @jenkins-infra/copy-editors

# GSoC
content/projects/gsoc @jenkins-infra/gsoc
content/*gsoc* @jenkins-infra/gsoc

# Hacktoberfest
*hacktoberfest* @jenkins-infra/hacktoberfest
