---
layout: security
title: All published security issues
section: security
---

.container
  .row
    %p
      This page lists all security issues that have been published in security advisories since ca. 2018.

  .row
    .container
      .row
        %ul
          - site.security_issues.sort_by { |x| x[:id] }.reverse.each do |issue|
            %li
              %a{:href => "../issue/#{issue[:redirect_id]}"}
                = issue[:redirect_id]
