---
layout: simplepage
title: Jenkins download and deployment
---

:ruby
  def third_party_href(url)
    third_party = {'data-toggle' => 'tooltip', 'data-placement' => 'top', 'title' => 'This is a package supported by a third party which may be not as frequently updated as packages supported by the Jenkins project directly'}
    return third_party.merge({:href => url})
  end

%p
  The Jenkins project produces two release lines: Stable (LTS) and regular (Weekly).
  Depending on your organization's needs, one may be preferred over the other.
  See the links below for more information and recommendations about the release lines.

.container          
  .row
    .col-md-6
      %h4
        Stable (LTS)
      %p
        Long-Term Support (LTS) release baselines are chosen every 12 weeks from the stream of regular releases.
        Every 4 weeks we release stable releases which include bug and security fix backports. 

        %a{'href' => 'lts'}
          Learn more…

        %p.details
          %a.item{:href=>'/changelog-stable'}
            Changelog
          |
          %a.item{:href=>'/doc/upgrade-guide'}
            Upgrade Guide
          |
          %a.item{:href=>'http://mirrors.jenkins.io/war-stable/'}
            Past Releases
    .col-md-6
      %h4
        Regular releases (Weekly)
      %p
        This release line delivers bug fixes and new features rapidly to users and plugin developers who need them.
        It is generally delivered on a weekly cadence.
        %a{'href' => 'weekly'}
          Learn more…

      %p.details
        %a.item{:href=>'/changelog'}
          Changelog
        |
        %a.item{:href=>'http://mirrors.jenkins.io/war/'}
          Past Releases

%h2
  Downloading Jenkins

%p
  Jenkins is distributed as WAR files, native packages, installers, and Docker images.
  Follow these installation steps:

%ol
  %li
    Before downloading, please take a moment to review the
    %strong
      %a{:href => '/doc/book/installing/#prerequisites'}
        Hardware and Software requirements
    section of the User Handbook.
  %li
    Select one of the packages below and follow the download instructions.
  %li
    Once a Jenkins package has been downloaded, proceed to the
    %strong
      %a{:href => '/doc/book/getting-started/installing/'}
        Installing Jenkins
    section of the User Handbook.

.container          
  .row
    .col-md-6
      .list-group
        %strong
          %i.icon-box-add
          Download Jenkins
          = site.jenkins.stable
          LTS for:

        .list-group
          %a.list-group-item.list-group-item-action{:href=>'http://mirrors.jenkins.io/war-stable/' + site.jenkins.stable + '/jenkins.war'}
            %span.title
              Generic Java package (.war)
              %div{:style => 'font-size: x-small;'}
                SHA-256:
                = open('https://repo.jenkins-ci.org/releases/org/jenkins-ci/main/jenkins-war/' + site.jenkins.stable + '/jenkins-war-' + site.jenkins.stable + '.war.sha256').read()
          %a.list-group-item.list-group-item-action{:href=>'https://hub.docker.com/r/jenkins/jenkins'}
            %span.icon
            %span.title
              Docker
          %a.list-group-item.list-group-item-action{:href=>'https://pkg.jenkins.io/debian-stable/'}
            %span.icon
            %span.title
              Ubuntu/Debian
          %a.list-group-item.list-group-item-action{:href=>'https://pkg.jenkins.io/redhat-stable/'}
            %span.icon
            %span.title
              CentOS/Fedora/Red Hat
          %a.list-group-item.list-group-item-action{:href=>'/download/thank-you-downloading-windows-installer-stable'}
            %span.icon
            %span.title
              Windows
          %a.list-group-item.list-group-item-action{:href=>'https://pkg.jenkins.io/opensuse-stable/'}
            %span.icon
            %span.title
              openSUSE
          %a.list-group-item.list-group-item-action{third_party_href('https://www.freshports.org/devel/jenkins-lts')}
            %span.icon
            %span.title
              FreeBSD
            %span.icon-gear-menu-o/
          %a.list-group-item.list-group-item-action{third_party_href('https://packages.gentoo.org/packages/dev-util/jenkins-bin')}
            %span.title
              Gentoo
            %span
              &nbsp;
            %span.icon-gear-menu-o/
          %a.list-group-item.list-group-item-action{third_party_href('/download/lts/macos')}
            %span.icon
            %span.title
              macOS
            %span
              &nbsp;
            %span.icon-gear-menu-o/
          %a.list-group-item.list-group-item-action{third_party_href('http://openports.se/devel/jenkins/stable')}
            %span.title
              OpenBSD
            %span
              &nbsp;
            %span.icon-gear-menu-o/

    .col-md-6
      %strong
        %i.icon-box-add
        Download Jenkins
        = site.jenkins.latest
        for:

      .list-group
        %a.list-group-item.list-group-item-action{:href=>'http://mirrors.jenkins-ci.org/war/' + site.jenkins.latest + '/jenkins.war'}
          %span.title
            Generic Java package (.war)
            %div{:style => 'font-size: x-small;'}
              SHA-256:
              = open('https://repo.jenkins-ci.org/releases/org/jenkins-ci/main/jenkins-war/' + site.jenkins.latest + '/jenkins-war-' + site.jenkins.latest + '.war.sha256').read()
        %a.list-group-item.list-group-item-action{:href=>'https://hub.docker.com/r/jenkins/jenkins/'}
          %span.icon
          %span.title
            Docker
        %a.list-group-item.list-group-item-action{:href=>'https://pkg.jenkins.io/debian/'}
          %span.icon
          %span.title
            Ubuntu/Debian
        %a.list-group-item.list-group-item-action{:href=>'http://mirrors.jenkins-ci.org/redhat/'}
          %span.icon
          %span.title
            CentOS/Fedora/Red Hat
        %a.list-group-item.list-group-item-action{:href=>'/download/thank-you-downloading-windows-installer'}
          %span.icon
          %span.title
            Windows
        %a.list-group-item.list-group-item-action{:href=>'http://mirrors.jenkins-ci.org/opensuse/'}
          %span.icon
          %span.title
            openSUSE
        %a.list-group-item.list-group-item-action{third_party_href('https://www.archlinux.org/packages/community/any/jenkins/')}
          %span.title
            Arch Linux
          %span
            &nbsp;
          %span.icon-gear-menu-o/
        %a.list-group-item.list-group-item-action{third_party_href('https://www.freshports.org/devel/jenkins')}
          %span.title
            FreeBSD
          %span
            &nbsp;
          %span.icon-gear-menu-o/
        %a.list-group-item.list-group-item-action{third_party_href('https://packages.gentoo.org/packages/dev-util/jenkins-bin')}
          %span.title
            Gentoo
          %span
            &nbsp;
          %span.icon-gear-menu-o/
        %a.list-group-item.list-group-item-action{third_party_href('/download/weekly/macos')}
          %span.icon
          %span.title
            macOS
          %span
            &nbsp;
          %span.icon-gear-menu-o/
        %a.list-group-item.list-group-item-action{third_party_href('http://openports.se/devel/jenkins/devel')}
          %span.title
            OpenBSD
          %span
            &nbsp;
          %span.icon-gear-menu-o/
        %a.list-group-item.list-group-item-action{third_party_href('https://pkg.openindiana.org/hipster/en/search.shtml?token=jenkins')}
          %span.title
            OpenIndiana Hipster
          %span
            &nbsp;
          %span.icon-gear-menu-o/

%h2
  Deploying Jenkins in public cloud

%p
  There are public cloud vendors providing their own Jenkins distributions on marketplaces.
  Such distributions may be used to quickly deploy Jenkins and, in many cases,
  to get an instance preconfigured to be used within the public cloud
  (e.g. bundled plugins, integrations with public cloud services, etc.).

  %div
    %a{third_party_href('https://aka.ms/jenkins-on-azure')}
      - # Contact azdevopspub@microsoft.com if issues arise
      %img{:src => '/images/azure-deploy-button.png'}/
      %span.icon-gear-menu-o/
%hr
  NOTE: Packages with the
  %span.icon-gear-menu-o
  gear icon are maintained by third parties.
  Such packages may be not as frequently updated as packages supported by the Jenkins project directly. 
