---
:layout: simplepage
:title: Thank you for downloading Windows installer
---

= partial('thank-you-downloading-windows-installer.html.haml', :release_url => 'https://get.jenkins.io/windows/' + site.jenkins.latest + '/jenkins.msi')
