---
:layout: post
:title: Thank you for downloading OS X stable installer
---

= partial('thank-you-downloading-osx-installer.html.haml', :release_url => 'http://mirrors.jenkins-ci.org/osx-stable/latest')