---
:layout: simplepage
:title: Thank you for downloading Windows Stable installer
---

= partial('thank-you-downloading-windows-installer.html.haml', :release_url => 'https://get.jenkins.io/windows-stable/' + site.jenkins.stable + '/jenkins.msi')