.app-app-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;

  &__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    h1 {
      margin-bottom: 0;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;

    .app-button {
      svg, ion-icon {
        width: 1.25rem;
        height: 1.25rem;
      }
    }
  }
}
