.app-author {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.5rem;
  font-size: 1.15rem;
  line-height: 1.66;
  color: var(--color);

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  p {
    margin-bottom: 0 !important;

    &:empty {
      display: none;
    }
  }

  &__name {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0 !important;
  }
}
