.app-avatar {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  aspect-ratio: 1;
  flex-shrink: 0;

  &__image {
    position: relative;
    display: inline-flex;
    border-radius: 100%;
    overflow: hidden;
    flex-shrink: 0;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  &::before {
    position: absolute;
    content: "";
    inset: 0;
    background: currentColor;
    z-index: -1;
    -webkit-mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='417px' height='418px' viewBox='0 0 417 418' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(0.980673, 0.980673)' fill='%23000000' fill-rule='nonzero'%3E%3Cpath d='M210.919327,0.0193270899 C93.9393271,-1.56067291 -1.56067291,93.9393271 0.0193270899,210.919327 C1.57932709,323.109327 92.9293271,414.459327 205.119327,416.019327 C322.119327,417.619327 417.599327,322.119327 415.999327,205.139327 C414.459327,92.9293271 323.109327,1.57932709 210.919327,0.0193270899 Z M337.339327,327.269327 C336.532877,328.141425 335.380548,328.609997 334.194338,328.548175 C333.008128,328.486353 331.910751,327.900533 331.199327,326.949327 C322.254817,315.246761 311.301056,305.22754 298.849327,297.359327 C273.389327,281.019327 241.129327,272.019327 208.019327,272.019327 C174.909327,272.019327 142.649327,281.019327 117.189327,297.359327 C104.738051,305.224049 93.7842588,315.239911 84.8393271,326.939327 C84.127903,327.890533 83.0305259,328.476353 81.8443159,328.538175 C80.6581059,328.599997 79.5057768,328.131425 78.6993271,327.259327 C49.3560751,295.582996 32.7342766,254.192296 32.0193271,211.019327 C30.3893271,113.709327 110.239327,32.2593271 207.589327,32.018782 C304.939327,31.7793271 384.019378,110.829327 384.019378,208.019327 C384.052862,252.233399 367.379541,294.82752 337.339327,327.269327 Z'%3E%3C/path%3E%3Cpath d='M208.019327,96.0193271 C188.299327,96.0193271 170.469327,103.409327 157.799327,116.839327 C145.129327,130.269327 138.799327,148.839327 140.229327,168.769327 C143.129327,208.019327 173.539327,240.019327 208.019327,240.019327 C242.499327,240.019327 272.849327,208.019327 275.809327,168.779327 C277.289327,149.039327 271.009327,130.639327 258.129327,116.959327 C245.409327,103.459327 227.609327,96.0193271 208.019327,96.0193271 Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='417px' height='418px' viewBox='0 0 417 418' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(0.980673, 0.980673)' fill='%23000000' fill-rule='nonzero'%3E%3Cpath d='M210.919327,0.0193270899 C93.9393271,-1.56067291 -1.56067291,93.9393271 0.0193270899,210.919327 C1.57932709,323.109327 92.9293271,414.459327 205.119327,416.019327 C322.119327,417.619327 417.599327,322.119327 415.999327,205.139327 C414.459327,92.9293271 323.109327,1.57932709 210.919327,0.0193270899 Z M337.339327,327.269327 C336.532877,328.141425 335.380548,328.609997 334.194338,328.548175 C333.008128,328.486353 331.910751,327.900533 331.199327,326.949327 C322.254817,315.246761 311.301056,305.22754 298.849327,297.359327 C273.389327,281.019327 241.129327,272.019327 208.019327,272.019327 C174.909327,272.019327 142.649327,281.019327 117.189327,297.359327 C104.738051,305.224049 93.7842588,315.239911 84.8393271,326.939327 C84.127903,327.890533 83.0305259,328.476353 81.8443159,328.538175 C80.6581059,328.599997 79.5057768,328.131425 78.6993271,327.259327 C49.3560751,295.582996 32.7342766,254.192296 32.0193271,211.019327 C30.3893271,113.709327 110.239327,32.2593271 207.589327,32.018782 C304.939327,31.7793271 384.019378,110.829327 384.019378,208.019327 C384.052862,252.233399 367.379541,294.82752 337.339327,327.269327 Z'%3E%3C/path%3E%3Cpath d='M208.019327,96.0193271 C188.299327,96.0193271 170.469327,103.409327 157.799327,116.839327 C145.129327,130.269327 138.799327,148.839327 140.229327,168.769327 C143.129327,208.019327 173.539327,240.019327 208.019327,240.019327 C242.499327,240.019327 272.849327,208.019327 275.809327,168.779327 C277.289327,149.039327 271.009327,130.639327 258.129327,116.959327 C245.409327,103.459327 227.609327,96.0193271 208.019327,96.0193271 Z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }

  &:has(.app-avatar__image) {
    &::before {
      opacity: 0.1;
      border-radius: 100%;
      -webkit-mask-image: none;
      mask-image: none;
    }
  }
}
