.app-back-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;

  &::before {
    content: "";
    position: relative;
    display: inline-block;
    width: 1.4rem;
    height: 1.4rem;
    background-color: currentColor;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 550 512'%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='60' d='M328 112L184 256l144 144'/%3E%3C/svg%3E%0A");
    background-size: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100vmax;
  }
}
