.app-banner {
  margin-top: 15px;
  padding: 20px 25px;
  background-color: color-mix(in srgb, var(--accent-color) 7.5%, transparent);
  border: 1px solid color-mix(in srgb, var(--accent-color) 5%, transparent);
  border-radius: 10px;
}
