.app-banner {
  margin: 10px 0;
  padding: 10px 15px;
  background-color: color-mix(in srgb, var(--accent-color) 7.5%, transparent);
  border: 1px solid color-mix(in srgb, var(--accent-color) 5%, transparent);
  border-radius: 10px;
}
