.app-button {
  --button-background: var(--color--secondary);
  --button-color: var(--color);
  --button-background-opacity: 10%;

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem 1.1rem;
  border-radius: 0.66rem;
  font-family: inherit;
  font-weight: 500;
  font-size: 0.85rem;
  border: none;
  background: color-mix(in srgb, var(--button-background) var(--button-background-opacity), transparent);
  box-sizing: border-box;
  color: var(--button-color) !important;
  text-decoration: none !important;
  box-shadow: 0 0 0 10px transparent;
  transition: 0.2s ease;
  cursor: pointer;
  line-height: 1.66;

  @media (max-width: $app-mobile-breakpoint) {
    font-size: 1rem;
  }

  svg {
    width: 1.1rem;
    height: 1.1rem;
    color: currentColor;
  }

  &:hover {
    --button-background-opacity: 15%;
  }

  &:active, &:focus {
    --button-background-opacity: 25%;

    box-shadow: 0 0 0 5px color-mix(in srgb, var(--button-background) 15%, transparent);
  }

  &--tertiary {
    --button-background-opacity: 0%;
  }

  &--primary {
    --button-background: var(--blue);
    --button-color: var(--blue);
  }

  &--accordion {
    aspect-ratio: 1;
    padding: 3px;
    margin-right: 0.5rem;
    translate: 0 1px;

    svg {
      width: 0.875rem;
      height: 0.875rem;
    }
  }
}
