.listingblock {
  background: color-mix(in srgb, var(--color) 0.5%, transparent);
  border: 2px solid color-mix(in srgb, var(--color) 7.5%, transparent);
  border-radius: 1rem;
  padding: 0.6rem 1rem;
  margin: 0 0 1.5rem 0;

  pre {
      margin-bottom: 0;
  }
}

.highlight {
  table td { padding: 5px; }
  table pre { margin: 0; }
  .cm {
    color: var(--color--secondary);
    font-style: italic;
  }
  .cp {
    color: #999999;
    font-weight: bold;
  }
  .c1 {
    color: var(--color--secondary);
    font-style: italic;
  }
  .cs {
    color: #999999;
    font-weight: bold;
    font-style: italic;
  }
  .c, .cd {
    color: var(--color--secondary);
    font-style: italic;
  }
  .err {
    color: var(--red);
    background-color: #e3d2d2;
  }
  .gd {
    color: var(--color);
    background-color: color-mix(in srgb, var(--red) 15%, transparent);
  }
  .ge {
    color: var(--color);
    font-style: italic;
  }
  .gr {
    color: var(--red);
  }
  .gh {
    color: #999999;
  }
  .gi {
    color: var(--color);
    background-color: color-mix(in srgb, var(--green) 15%, transparent);
  }
  .go {
    color: #888888;
  }
  .gp {
    color: #555555;
  }
  .gs {
    font-weight: bold;
  }
  .gu {
    color: #aaaaaa;
  }
  .gt {
    color: var(--red);
  }
  .kc {
    color: var(--color);
    font-weight: bold;
  }
  .kd {
    color: var(--color);
    font-weight: bold;
  }
  .kn {
    color: var(--color);
    font-weight: bold;
  }
  .kp {
    color: var(--color);
    font-weight: bold;
  }
  .kr {
    color: var(--color);
    font-weight: bold;
  }
  .kt {
    color: #445588;
    font-weight: bold;
  }
  .k, .kv {
    color: var(--color);
    font-weight: bold;
  }
  .mf {
    color: var(--teal);
  }
  .mh {
    color: var(--teal);
  }
  .il {
    color: var(--teal);
  }
  .mi {
    color: var(--teal);
  }
  .mo {
    color: var(--teal);
  }
  .m, .mb, .mx {
    color: var(--teal);
  }
  .sb {
    color: var(--pink);
  }
  .sc {
    color: var(--pink);
  }
  .sd {
    color: var(--pink);
  }
  .s2 {
    color: var(--pink);
  }
  .se {
    color: var(--pink);
  }
  .sh {
    color: var(--pink);
  }
  .si {
    color: var(--pink);
  }
  .sx {
    color: var(--pink);
  }
  .sr {
    color: var(--green);
  }
  .s1 {
    color: var(--pink);
  }
  .ss {
    color: #990073;
  }
  .s {
    color: var(--pink);
  }
  .na {
    color: var(--teal);
  }
  .bp {
    color: #999999;
  }
  .nb {
    color: #0086B3;
  }
  .nc {
    color: #445588;
    font-weight: bold;
  }
  .no {
    color: var(--teal);
  }
  .nd {
    color: #3c5d5d;
    font-weight: bold;
  }
  .ni {
    color: #800080;
  }
  .ne {
    color: var(--red);
    font-weight: bold;
  }
  .nf {
    color: var(--red);
    font-weight: bold;
  }
  .nl {
    color: var(--red);
    font-weight: bold;
  }
  .nn {
    color: #555555;
  }
  .nt {
    color: var(--blue);
  }
  .vc {
    color: var(--teal);
  }
  .vg {
    color: var(--teal);
  }
  .vi {
    color: var(--teal);
  }
  .nv {
    color: var(--teal);
  }
  .ow {
    color: var(--color);
    font-weight: bold;
  }
  .o {
    color: var(--color);
    font-weight: bold;
  }
  .w {
    color: #bbbbbb;
  }
}
