.app-events {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 0;
  max-width: Max(Min(85vw, 1600px), $app-tablet-breakpoint);
  margin: auto;
  padding: 4rem 1rem;

  @media screen and (max-width: $app-mobile-breakpoint) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  @media screen and (max-width: $app-tablet-breakpoint) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 100vw;
    transform: translateX(-50%);
    background: black;
    z-index: -1;
    opacity: 0.2;
  }
}
