.app-events {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 0;
  max-width: Max(Min(85vw, 1600px), $app-tablet-breakpoint);
  margin: auto;
  padding: 4rem 1rem;
  display: none;

  @media screen and (max-width: $app-mobile-breakpoint) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  @media screen and (max-width: $app-tablet-breakpoint) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  h2 {
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--color);
  }
}
