.app-events-container {
  &:not(:has(.app-event)) {
    display: none;
  }
}

.app-events {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  padding: 0;

  @media screen and (max-width: $app-mobile-breakpoint) {
    padding-bottom: 2rem;
  }

  @media screen and (max-width: $app-tablet-breakpoint) {
    padding-bottom: 3rem;
  }
}

.app-events__heading {
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--color);
  margin-top: 4rem;
  margin-bottom: 2rem;

  @media screen and (max-width: $app-mobile-breakpoint) {
    margin-top: 2rem;
  }

  @media screen and (max-width: $app-tablet-breakpoint) {
    margin-top: 3rem;
  }
}

.app-event {
  position: relative;
  transition: 0.2s ease;

  a {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1.5rem;
    color: var(--color);
    text-decoration: none !important;
  }

  &:hover {
    box-shadow: 0 40px 70px -50px rgba(0, 0, 40, 0.4);
    scale: 1.0125;
  }

  &__title {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 650;
    line-height: 1.5;
  }

  &__teaser {
    margin: 0;
    color: var(--color--secondary);
    text-decoration: none !important;
    line-height: 1.66;
    font-weight: 450;
    font-size: 1rem;
  }

  &__details {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.75rem;
    margin: 0;
    color: var(--color--secondary);
    text-decoration: none !important;
    line-height: 1.66;
    font-weight: 500;
    font-size: 1rem;

    span {
      display: flex;
      align-items: center;
      gap: 0.75rem;
    }

    ion-icon {
      width: 1.125rem;
      height: 1.125rem;
    }
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 0.66rem;
    background-color: var(--color--secondary);
    opacity: 0.05;
    z-index: -1;
  }
}
