.app-pagination {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  gap: 0.3125rem;
  min-height: 2.8125rem;

  &__page-item {
    display: flex;
    align-items: center;
    justify-content: center;

    &:first-child, &:last-child {
      position: absolute;
      top: 0;
      bottom: 0;
    }

    &:first-child {
      left: 0;
    }

    &:last-child {
      right: 0;
    }

    @media screen and (max-width: $app-mobile-breakpoint) {
      &:not(:first-child):not(:last-child) {
        display: none;
      }
    }

    &--hidden {
      display: none;
    }

    &--disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &__page-link {
    --link-color--hover: var(--color);
    --link-color--active: var(--color);

    min-width: 2.8125rem;
    height: 2.8125rem;
    color: var(--color--secondary);
    font-weight: 500;
    padding: 0 0.85rem;

    &__current {
      color: var(--color);

      &::before {
        opacity: 0.1;
      }
    }

    &:hover {
      text-decoration: none !important;
    }

    ion-icon {
      width: 1.125rem;
      height: 1.125rem;
    }
  }
}

.app-page-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color--secondary);
  padding: 0;

  select {
    appearance: none;
    outline: none;
    border: none;
    margin: 0;
    padding: 0.45rem 1.55rem 0.45rem 0.85rem;
    background: transparent;
    cursor: pointer;
    text-align: center;
    color: currentColor;
    font-weight: 500;
    min-height: 2.8125rem;
    min-width: 105px;
  }

  ion-icon {
    position: absolute;
    right: 0.85rem;
    pointer-events: none;
    width: 1.125rem;
    height: 1.125rem;
  }

  @media (min-width: $app-mobile-breakpoint) {
    display: none;
  }
}
