.app-social-media-buttons__container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.app-social-media-buttons {
  display: contents;
  padding: 0;
  margin: 0;
  list-style-type: none;

  li {
    display: contents;

    a {
      --button-background: var(--button-color);

      position: relative;
      display: inline-flex;
      width: 2.5rem;
      height: 2.5rem;
      font-size: 0;
      flex-shrink: 0;
      padding: 0;

      &[href*="linkedin"] {
        --button-color: rgb(10, 102, 194);
      }

      &[href*="github.com"] {
        --button-color: rgb(110, 84, 148);
      }

      &[href*="twitter"] {
        --button-color: rgb(29, 161, 242);
      }

      svg {
        width: 1.25rem;
        height: 1.25rem;
      }

      &:has(.app-sigs__item__icon) {
        --button-background: color-mix(in srgb, var(--button-color) 40%, transparent);
      }

      .app-sigs__item__icon {
        border-radius: inherit;

        &::after {
          display: none;
        }
      }
    }
  }

  // '/' separator between two lists
  & + .app-social-media-buttons {
    &::before {
      content: "";
      position: relative;
      width: 1rem;
      height: 1.25rem;
      flex-shrink: 0;
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;
      mask-image: url("data:image/svg+xml,%3Csvg width='10' height='20' viewBox='0 0 10 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 18L8 2' stroke='black' stroke-width='1.5px' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      background: color-mix(
                      in sRGB,
                      var(--color--secondary) 30%,
                      transparent
      );

      @media (prefers-contrast: more) {
        background: var(--color);
      }
    }
  }
}
