*[data-tooltip] {
  position: relative;

  @media (hover: hover) {
    &:hover {
      &::before {
        opacity: 1;
        scale: 1;
        translate: -50% -2px;
      }
    }
  }

  &::before {
    content: attr(data-tooltip);
    position: absolute;
    top: -35px;
    left: 50%;

    --tooltip-color: var(--color);
    --tooltip-box-shadow: 0 0 8px 2px rgba(0, 0, 30, 0.05), 0 0 1px 1px rgba(0, 0, 20, 0.025), 0 10px 20px rgba(0, 0, 20, 0.15);

    color: var(--tooltip-color);
    padding: 0.4rem 0.75rem;
    border-radius: 0.66rem;
    box-shadow: var(--tooltip-box-shadow);
    font-weight: 500;
    font-size: 0.7rem;
    z-index: 2;
    background: var(--background);
    opacity: 0;
    scale: 0.9;
    translate: -50% 5px;
    transition: 0.2s ease;
    pointer-events: none;
    white-space: nowrap;
  }
}
