.app-status-container {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2px;
  animation: fade-in-container 0.35s ease both;

  &__icons {
    display: flex;
    gap: 5px;

    .app-button {
      --button-background: color-mix(in srgb, var(--color--secondary), transparent);
      gap: 5px;
      padding: 6px 11px;

      svg {
        width: 1.75rem;
        height: 1.75rem;
      }
    }

    .sunny {
      svg {
        transition: 1s ease;
      }

      &:hover svg {
        rotate: 180deg;
      }
    }

    .cloudy {
      svg {
        scale: 90%;

        * {
          stroke-width: 1.65px;
        }
      }
    }
  }

  &__issues {
    display: block;
    margin-right: 12px;
    color: var(--color--secondary);
    font-weight: 500;
    font-size: 0.85rem;
    max-width: 650px;
    overflow: hidden;
    text-align: right;

    @media (max-width: $app-mobile-breakpoint) {
      text-align: left;
    }
  }

  @media (max-width: $app-mobile-breakpoint) {
    align-items: start;
    gap: 15px;
  }
}

@keyframes fade-in-container {
  from {
    opacity: 0;
  }
}
