---
layout: simplepage
title: Participate and contribute
section: participate
---

%p
  There are many ways to engage with the Jenkins project and community.
  Here are the most common ways to get you started.
  Welcome aboard!


.container
  .row
    .col-lg-6
      %h2
        Participate

      %p
        As a participant, you take an active role in the community.

      %h3
        Meet
      %p
        Meet other Jenkins users and share your experiences.
      %ul
        %li
          Organize or attend
          %a{:href => '/projects/jam/'}
            Jenkins Area Meetups.
        %li
          Attend other events with a Jenkins presence, like SCALE or FOSDEM.

      %h3
        Help
      %p
        As an experienced user, you can help others get the most out of Jenkins.
      %ul
        %li
          %a{:href => '/mailing-lists'}
            Mailing lists
        %li
          %a{:href => '/chat'}
            Gitter rooms and IRC channels
        %li
          %a{:href => 'https://reddit.com/r/jenkinsci'}
            \/r/jenkinsci on Reddit
        %li
          %a{:href => 'https://stackoverflow.com/tags/jenkins'}
            Jenkins on Stack Overflow

      %h3
        Review changes
      %p
        Help review changes to code or documentation.
      %ul
        %li
          %a{:href => 'https://github.com/pulls?utf8=%E2%9C%93&q=is%3Aopen+is%3Apr+team%3Ajenkinsci%2Fcode-reviewers'}
            List of open pull requests for which
            %strong
              code reviews
            have been requested
        %li
          %a{:href => 'https://github.com/pulls?utf8=%E2%9C%93&q=is%3Aopen+is%3Apr+team%3Ajenkins-infra%2Fcopy-editors'}
            List of open pull requests for which
            %strong
              copy editing
            has been requested
      %p
        Note that you will only be able to see the open pull requests linked above if you belong to the corresponding
        GitHub Team.

      %h3
        Provide feedback
      %p
        We cannot fix what we don't know is broken. So let us know about it!
      %ul
        %li
          %a{:href => 'https://wiki.jenkins.io/display/JENKINS/How+to+report+an+issue'}
            How to report an issue in Jenkins
        %li
          The
          %a{:href => '/changelog'}
            changelog
          has an integrated feedback mechanism. Just select
          %em
            Community ratings
          and vote using the weather icons.
        %li
          Likewise, the
          %a{:href => '/changelog-stable'}
            LTS changelog
          provides the same functionality.

    .col-lg-6
      %h2
        Contribute

      %p
        As a contributor, you actively help improve Jenkins and plugins by contributing code, documentation, translations, or tests.

      %h3
        Write code
      %p
        Do you enjoy writing code? There are numerous plugins and components for you to contribute to.
        %a{:href => 'code'}
          Learn more.

      %p
        Are you a student? You might be eligible to participate in Google Summer of Code.
        %a{:href => expand_link('../projects/gsoc')}
          Learn more.

      %h3
        Translate
      %p
        Jenkins is used all over the world by speakers of dozens of different languages. If you're fluent in languages other than English, consider improving support for those languages
        %a{:href => 'https://wiki.jenkins.io/display/JENKINS/Internationalization'}
          by contributing to core or plugin localizations.

      %h3
        Document
      %p
        Improve the documentation of Jenkins and plugins to make it easier for others to get started.

      %ul
        %li
          We coordinate and discuss documenting efforts using the
          %a{:href => 'https://groups.google.com/forum/#!forum/jenkinsci-docs'}
            jenkinsci-docs
          mailing list and the
          %a{:href => '/chat/'}
            \#jenkins-community IRC channel.
        %li
          %a{:href => 'https://github.com/jenkins-infra/jenkins.io/blob/master/CONTRIBUTING.adoc#adding-documentation'}
            Learn how to contribute documentation to jenkins.io

      %h3
        Test
      %p
        The Jenkins project relies heavily on automated tests to ensure stability and consistency of features. By contributing automated tests that match your use cases, you can help prevent regressions that would affect you.
      %ul
        %li
          %a{:href => 'https://github.com/jenkinsci/acceptance-test-harness'}
            Acceptance Test Harness (ATH) on GitHub
        %li
          %a{:href => 'https://github.com/jenkinsci/jenkins-test-harness'}
            Jenkins Unit Test Harness on GitHub

      %h3
        Design
      %p
        As it is intended for daily use by finicky web developers, design is essential. Check
        %a{:href => 'design'}
          how
        you can bring a creative touch to Jenkins.
