---
layout: simplepage
title: Participate and Contribute
section: participate
---

:css
  .grid-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
      grid-gap: 20px;
      margin-bottom: 1rem;
  }

  .channels-help {
      text-align: center;
  }

  .card {
      border: 1px solid #d3d3d3;
      border-radius: .25rem;
  }

  .bg-img {
      background-size: cover;
      min-height: 20px;
      background-position: center;
  }

  .content {
      padding: 15px;
  }

  .bg-img-meet {
      background-color: #A4262C;
  }

  .btn-meet {
      border: 1px solid#A4262C;
      color: 
  }

  .btn-meet:hover {
      background-color: #A4262C;
      color: white;
  }

  .bg-img-code {
      background-color: #40587C;
  }

  .btn-code {
      border: 1px solid #40587C;
  }

  .btn-code:hover {
      background-color: #40587C;
      color: white;
  }


  .bg-img-help {
      background-color: #407855;
  }

  .btn-help {
      border: 1px solid #407855;
  }

  .btn-help:hover {
      background-color: #407855;
      color: white;
  }


  .bg-img-translate {
      background-color: #8E6F33;
  }

  .btn-translate {
      border: 1px solid #8E6F33;
  }

  .btn-translate:hover {
      background-color: #8E6F33;
      color: white;
  }


  .bg-img-document {
      background-color: #0078D4;
  }

  .btn-document {
      border: 1px solid#0078D4;
  }

  .btn-document:hover {
      background-color: #0078D4;
      color: white;
  }

  .bg-img-design {
      background-color: #038387;
  }

  .btn-design {
      border: 1px solid #038387;
  }

  .btn-design:hover {
      background-color: #038387;
      color: white;
  }


  .bg-img-test {
      background-color: #867365;
  }

  .btn-test {
      border: 1px solid #867365;
  }

  .btn-test:hover {
      background-color: #867365;
      color: white;
  }


  .bg-img-review {
      background-color: #CA5010;
  }

  .btn-review {
      border: 1px solid #CA5010;
  }

  .btn-review:hover {
      background-color: #CA5010;
      color: white;
  }

  h3 {
      margin: 0;
  }
  .bl {
    position: absolute;                  
    bottom: 8.6%;                          
    left: 4.4%;
  }
  .p1 {
      margin-bottom: 20%;
  }
%body
%p
  There are many ways to engage with the Jenkins project and community. Here are the most common ways to get you
  started. Welcome aboard!
.grid-container
  .card
    .bg-img.bg-img-meet
    .content
      %h3 MEET
      %p.p1 Meet other Jenkins users and share your experiences by organizing and attending events and meetups.
      %a.btn.btn-meet.bl{ :href => "/participate/meet"} Read More
  .card
    .bg-img.bg-img-code
    .content
      %h3 CODE
      %p.p1 Do you enjoy writing code? There are numerous plugins and components for you to contribute to.
      %a.btn.btn-code.bl{ :href => "/participate/code"} Read More
  .card
    .bg-img.bg-img-help
    .content
      %h3 HELP
      %p.p1 As an experienced user, you can help others get the most out of Jenkins.
      %a.btn.btn-help.bl{ :href => "/participate/help"} Read More
  .card
    .bg-img.bg-img-translate
    .content
      %h3 TRANSLATE
      %p.p1 If you're fluent in languages other than English, consider improving support for those languages.
      %a.btn.btn-translate.bl{ :href => "/doc/developer/internationalization/"} Read More
  .card
    .bg-img.bg-img-test
    .content
      %h3 TEST
      %p.p1 You can help prevent regressions by contributing automated tests. 
      %a.btn.btn-test.bl{ :href => "/participate/test"} Read More
  .card
    .bg-img.bg-img-document
    .content
      %h3 DOCUMENT
      %p.p1 Improve the documentation to make it easier for others to get started.
      %a.btn.btn-document.bl{ :href => "/participate/document"} Read More
  .card
    .bg-img.bg-img-design
    .content
      %h3 DESIGN
      %p.p1 As it is intended for daily use by finicky web developers, design is essential
      %a.btn.btn-design.bl{ :href => "/participate/design"} Read More
  .card
    .bg-img.bg-img-review
    .content
      %h3 REVIEW
      %p.p1 Help review changes to code or documentation.
      %a.btn.btn-review.bl{ :href => "/participate/review-changes"} Read More
 
%p.channels-help
  %b
    Help and feedback. 
  Please contact us in the 
  %a{:href => 'https://gitter.im/jenkinsci/newcomer-contributors'}
    Newcomer
  or
  %a{:href => 'https://gitter.im/jenkinsci/advocacy-and-outreach-sig'}
    Advocacy and Outreach SIG
  channels if you have any questions about contributing to Jenkins.
  Any feedback about the guidelines will be appreciated.
