---
layout: simplepage
title: PARTICIPATE AND CONTRIBUTE
section: participate
---

:css
  .grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
  }

  .card {
      border: 1px solid #d3d3d3;
      border-radius: .25rem;
  }

  .bg-img {
      background-size: cover;
      min-height: 20px;
      background-position: center;
  }

  .content {
      padding: 15px;
  }

  button {
      background-color: transparent;
      padding: .5rem 1rem;
      cursor: pointer;
      border-radius: .25rem;
  }

  .bg-img-meet {
      background-color: #A4262C;
      opacity: 80%;
  }

  .btn-meet {
      border: 1px solid#A4262C;
  }

  .btn-meet:hover {
      background-color: #A4262C;
      color: white;
  }

  .bg-img-code {
      background-color: #CA5010;
      opacity: 80%;
  }

  .btn-code {
      border: 1px solid #CA5010;
  }

  .btn-code:hover {
      background-color: #CA5010;
      color: white;
  }


  .bg-img-help {
      background-color: #407855;
      opacity: 80%;
  }

  .btn-help {
      border: 1px solid #407855;
  }

  .btn-help:hover {
      background-color: #407855;
      color: white;
  }


  .bg-img-translate {
      background-color: #8E6F33;
      opacity: 80%;
  }

  .btn-translate {
      border: 1px solid #8E6F33;
  }

  .btn-translate:hover {
      background-color: #8E6F33;
      color: white;
  }


  .bg-img-document {
      background-color: #0078D4;
      opacity: 80%;
  }

  .btn-document {
      border: 1px solid#0078D4;
  }

  .btn-document:hover {
      background-color: #0078D4;
      color: white;
  }

  .bg-img-design {
      background-color: #038387;
      opacity: 80%;
  }

  .btn-design {
      border: 1px solid #038387;
  }

  .btn-design:hover {
      background-color: #038387;
      color: white;
  }


  .bg-img-test {
      background-color: #867365;
      opacity: 80%;
  }

  .btn-test {
      border: 1px solid #867365;
  }

  .btn-test:hover {
      background-color: #867365;
      color: white;
  }


  .bg-img-review {
      background-color: #40587C;
      opacity: 80%;
  }

  .btn-review {
      border: 1px solid #40587C;
  }

  .btn-review:hover {
      background-color: #40587C;
      color: white;
  }

  h3 {
      margin: 0;
  }
%body
%p
  There are many ways to engage with the Jenkins project and community. Here are the most common ways to get you
  started. Welcome aboard!
.grid-container
  .card
    .bg-img.bg-img-meet
    .content
      %h3 MEET
      %p Meet other Jenkins users and share your experiences by organizing and attending Jenkins Area Meetups.
      %button.btn-meet{:onclick => "window.location.href = '/projects/jam/';"} Read More
  .card
    .bg-img.bg-img-code
    .content
      %h3 CODE
      %p Do you enjoy writing code? There are numerous plugins and components for you to contribute to.
      %button.btn-code{:onclick => "window.location.href = 'code';"} Read More
  .card
    .bg-img.bg-img-help
    .content
      %h3 HELP
      %p As an experienced user, you can help others get the most out of Jenkins.
      %button.btn-help{:onclick => "window.location.href = '/mailing-lists';"} Read More
  .card
    .bg-img.bg-img-translate
    .content
      %h3 TRANSLATE
      %p If you're fluent in languages other than English, consider improving support for those languages.
      %button.btn-translate{:onclick => "window.location.href = '';"} Read More
  .card
    .bg-img.bg-img-test
    .content
      %h3 TEST
      %p
        By contributing automated tests that match your use cases, you can help prevent regressions that
        would affect you.
      %button.btn-test{:onclick => "window.location.href = 'test';"} Read More
  .card
    .bg-img.bg-img-document
    .content
      %h3 DOCUMENT
      %p Improve the documentation to make it easier for others to get started.
      %button.btn-document{:onclick => "window.location.href = '';"} Read More
  .card
    .bg-img.bg-img-design
    .content
      %h3 DESIGN
      %p As it is intended for daily use by finicky web developers, design is essential
      %button.btn-design{:onclick => "window.location.href = 'design';"} Read More
  .card
    .bg-img.bg-img-review
    .content
      %h3 REVIEW
      %p Help review changes to code or documentation.
      %button.btn-review{:onclick => "window.location.href = 'review-changes';"} Read More

      
