# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

#
# The above will handle all files NOT found below
#
# These files are text and should be normalized (Convert crlf => lf)
*.adoc          text
*.css           text
*.groovy        text
*.haml          text
*.htm           text
*.html          text
*.java          text
*.js            text
*.json          text
*.properties    text
*.rb            text
*.scss          text
*.sh            text
*.svg           text
*.txt           text
