.DS_Store
.gradle/
build/
*.sw*
.awestruct/

# Ignore merge files
*.orig

# Ignore Intellij files
.idea
*.iml

# Ignore vscode files
.vscode/

# nodejs
/node_modules/
/.npm/

# ruby
/.bundle/
/vendor/
/.config/

# external - see scripts/fetch-external-resources
/content/_tmp/
/content/_data/_generated/


# external - files unzipped from /content/_tmp/
# generated pipeline step documentation
content/doc/pipeline/steps/*.adoc

# generated extension points documentation
content/doc/developer/extensions/*.adoc


# unknown
/.sass-cache/
/_site
/_tmp/
/content/_site/
