.DS_Store
.gradle/
build/
*.sw*
.awestruct/
Gemfile.lock

# Ignore merge files
*.orig

# Ignore Intellij files
.idea
*.iml

# Ignores from bower

bower.json
bower_components/
node_modules/
src/assets
content/assets

# generated pipeline step documentation
content/doc/pipeline/steps/*.adoc


/.bundle/
/.sass-cache/
/_site
/_tmp/
/Gemfile.lock
/content/_site/
/content/_tmp/
