$app-mobile-breakpoint: 600px;
$app-tablet-breakpoint: 1020px;

@media (max-width: $app-mobile-breakpoint) {
  .app-mobile-hide {
    display: none !important;
  }
}

@media (min-width: $app-mobile-breakpoint) {
  .app-mobile-only {
    display: none !important;
  }
}
