$app-mobile-breakpoint: 600px;
$app-tablet-breakpoint: 1020px;

@media (max-width: $app-mobile-breakpoint) {
  .app-mobile-hide {
    display: none !important;
  }
}

@media (min-width: $app-mobile-breakpoint) {
  .app-mobile-only {
    display: none !important;
  }
}

@media (min-width : 450px) and (max-width : 500px){
  .app-avatar{
    aspect-ratio: 2/2;
  }
}

@media (min-width : 400px) and (max-width : 449px){
  .app-avatar{
    aspect-ratio: 3/2.5;
  }
}
