:root {
  --background: white;
  --color: hsl(212, 100%, 5%);
  --color--secondary: hsl(212, 30%, 40%);
  --accent-color: hsl(212, 100%, 42%);

  --link-color: var(--accent-color);
  --link-color--hover: hsl(212, 100%, 35%);
  --link-color--active: hsl(212, 100%, 30%);

  --blue: #006fe6;
  --light-blue: #4da3ff;
  --dark-blue: #003e80;
  --brown: #a2845e;
  --light-brown: #c7b59f;
  --dark-brown: #624f38;
  --cyan: #32ade6;
  --light-cyan: #8dd1f1;
  --dark-cyan: #13739f;
  --green: #1ea64b;
  --light-green: #4bdf7c;
  --dark-green: #0e5024;
  --indigo: #5856d6;
  --light-indigo: #a9a8ea;
  --dark-indigo: #29279f;
  --orange: #fe820a;
  --light-orange: #feb670;
  --dark-orange: #a15001;
  --pink: #fb0f45;
  --light-pink: #fd7393;
  --dark-pink: #a10327;
  --purple: #af52de;
  --light-purple: #d7a8ee;
  --dark-purple: #7c20aa;
  --red: #e6001f;
  --light-red: #ff4d65;
  --dark-red: #800011;
  --yellow: #ffb31a;
  --light-yellow: #ffd580;
  --dark-yellow: #b37800;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --background: hsl(240, 15%, 10%);
    --color: hsl(240, 15%, 95%);
    --color--secondary: hsl(240, 20%, 70%);
    --accent-color: hsl(220, 100%, 75%);

    --link-color--hover: hsl(220, 100%, 80%);
    --link-color--active: hsl(220, 100%, 85%);

    --blue: hsl(210, 100%, 55%);
    --light-blue: #8cc6ff;
    --dark-blue: #0054a8;
    --brown: hsl(30, 35%, 45%);
    --light-brown: #d1b9a0;
    --dark-brown: #5d452d;
    --cyan: hsl(200, 100%, 70%);
    --light-cyan: #b3e6ff;
    --dark-cyan: #008fd6;
    --green: hsl(135, 75%, 55%);
    --light-green: #9bf1b0;
    --dark-green: #159335;
    --indigo: hsl(250, 75%, 60%);
    --light-indigo: #b3a6f2;
    --dark-indigo: #2e17a1;
    --orange: hsl(35, 100%, 50%);
    --light-orange: #ffca80;
    --dark-orange: #995900;
    --pink: hsl(350, 100%, 60%);
    --light-pink: #ff99aa;
    --dark-pink: #b8001f;
    --purple: hsl(280, 85%, 60%);
    --light-purple: #daa1f7;
    --dark-purple: #760eaa;
    --red: hsl(5, 100%, 60%);
    --light-red: #ffa299;
    --dark-red: #b80f00;
    --yellow: hsl(50, 100%, 55%);
    --light-yellow: #ffec8c;
    --dark-yellow: #a88c00;
  }
}
