:root {
  --background: white;
  --color: hsl(212, 100%, 5%);
  --color--secondary: hsl(212, 30%, 40%);
  --accent-color: hsl(212, 100%, 42%);

  --link-color: var(--accent-color);
  --link-color--hover: hsl(212, 100%, 35%);
  --link-color--active: hsl(212, 100%, 30%);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --background: hsl(220, 20%, 15%);
    --color: hsl(220, 100%, 95%);
    --color--secondary: hsl(220, 20%, 65%);
    --accent-color: hsl(220, 100%, 80%);
  }
}
