:root {
  --background: white;
  --color: hsl(212, 100%, 5%);
  --color--secondary: hsl(212, 30%, 40%);
  --accent-color: var(--blue);

  --link-color: var(--accent-color);
  --link-color--hover: color-mix(in srgb, var(--link-color) 75%, var(--color));
  --link-color--active: color-mix(in srgb, var(--link-color), var(--color));

  --bs-code-color: var(--pink);

  --blue: color(display-p3 0.135 0.417 0.93);
  --brown: color(display-p3 0.63 0.518 0.359);
  --cyan: color(display-p3 0.29 0.661 0.905);
  --green: color(display-p3 0.277 0.645 0.303);
  --indigo: color(display-p3 0.3437 0.3375 0.8098);
  --orange: color(display-p3 0.94 0.522 0.174);
  --pink: color(display-p3 0.91 0.177 0.265);
  --purple: color(display-p3 0.6403 0.342 0.8425);
  --red: color(display-p3 0.83 0.137 0.137);
  --yellow: color(display-p3 1 0.733 0.245);
  --teal: color(display-p3 0.299 0.624 0.73);

  --bluesky: hsl(213, 100%, 52%);
  --github: hsl(264, 28%, 45%);
  --linkedin: hsl(210, 91%, 40%);
  --mastodon: hsl(240, 100%, 69%);
  --twitter: hsl(0, 0%, 0%);
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --background: hsl(240, 15%, 10%);
    --color: hsl(240, 15%, 95%);
    --color--secondary: hsl(240, 20%, 70%);

    --blue: color(display-p3 0.205 0.538 1);
    --brown: color(display-p3 0.67 0.497 0.302);
    --cyan: color(display-p3 0.475 0.793 1);
    --green: color(display-p3 0.422 0.88 0.422);
    --indigo: color(display-p3 0.406 0.31 1);
    --orange: color(display-p3 1 0.633 0.215);
    --pink: color(display-p3 1 0.32 0.447);
    --purple: color(display-p3 0.678 0.282 0.94);
    --red: color(display-p3 0.95 0.312 0.228);
    --yellow: color(display-p3 1 0.87 0.285);
    --teal: color(display-p3 0.359 0.72 0.835);

    --mastodon: hsl(240, 100%, 69%);
    --twitter: hsl(0, 0%, 100%)
  }
}
