:root {
  --background: white;
  --color: hsl(212, 100%, 5%);
  --color--secondary: hsl(212, 30%, 40%);
  --accent-color: hsl(212, 100%, 42%);

  --link-color: var(--accent-color);
  --link-color--hover: hsl(212, 100%, 35%);
  --link-color--active: hsl(212, 100%, 30%);

  --blue: #006fe6;
  --light-blue: #4da3ff;
  --dark-blue: #003e80;
  --brown: #a2845e;
  --light-brown: #c7b59f;
  --dark-brown: #624f38;
  --cyan: #32ade6;
  --light-cyan: #8dd1f1;
  --dark-cyan: #13739f;
  --green: #1ea64b;
  --light-green: #4bdf7c;
  --dark-green: #0e5024;
  --indigo: #5856d6;
  --light-indigo: #a9a8ea;
  --dark-indigo: #29279f;
  --orange: #fe820a;
  --light-orange: #feb670;
  --dark-orange: #a15001;
  --pink: #fb0f45;
  --light-pink: #fd7393;
  --dark-pink: #a10327;
  --purple: #af52de;
  --light-purple: #d7a8ee;
  --dark-purple: #7c20aa;
  --red: #e6001f;
  --light-red: #ff4d65;
  --dark-red: #800011;
  --yellow: #ffb31a;
  --light-yellow: #ffd580;
  --dark-yellow: #b37800;
}
