---
layout: simplepage
title: "Jenkins Adopters"
section: project
description: "List of Jenkins adopters"
---

This page provides a list of Jenkins adopters.

.grid-container    
  - site.adopters.keys.sort.each do |p|
    - if p != "README"
      = partial("company-card.html.haml", :companyId => p)

%h1 More adopters

%a{:href => "https://stackshare.io/jenkins"}
  Stackshare
lists many more Jenkins adopters.
According to the site, Jenkins has more than 3000 adopter companies which you can discover using its web interface and API.
%a{:href => "https://stackshare.io/jenkins"}
  Jenkins on Stackshare

%p
  %a{:href => "https://stackshare.io/jenkins"}
    %img{:src => expand_link("images/adopters/stackshare.png"), :alt => "Adopters on Stackshare", :width => "100%"}

%h1 References

%ul
  %li
    %a{:href => "https://stackshare.io/jenkins"}
      Jenkins on Stackshare
  %li
    %a{:href => "https://stories.jenkins.io/"}
      Jenkins stories - more case studies
  %li
    %a{:href => expand_link("/project/adopters/contributing#add-your-org")}
      Add your company to the listing

      
