---
layout: default
title: Jenkins Special Interest Groups
---

.container
  .row.body
    .col-lg-9
      %h1
        Jenkins Special Interest Groups
      %p
        This page lists active Jenkins Special Interest Groups (SIGs).
        See
        %a{:href => "link:https://github.com/jenkinsci/jep/tree/master/jep/4", :target => "_blank"}
          JEP-4
        for more information about SiGs and the process for creating new ones.

      - site.sigs.keys.each do |name|

        - data = site.sigs[name]
        %h1
          = data.title
        - if data.logo
          %img{:title => "Logo", :src => expand_link(data.logo), :style => "float:right"}
            = data.raw_content
        %ul
          - if data.links.googlegroup
            %li
              %a{:href => "https://groups.google.com/forum/#!forum/{data.links.googlegroup}", :target => "_blank"}
                Mailing List
          - if data.links.gitter
            %li
              %a{:href => "https://gitter.im/#{data.links.gitter}?utm_source=share-link&utm_medium=link&utm_campaign=share-link", :target => "_blank"}
                %img{:title => "Gitter", :src => "https://badges.gitter.im/#{data.links.gitter}.svg"}
        %p
          %a{:href => name}
            More info
    .col-lg-3
      .sidebar-nav
