---
layout: simplepage
title: "Jenkins Board and Officers"
section: project
tags:
  - governance
  - board
  - elections
links:
  googlegroup: jenkinsci-board
  meetings: https://wiki.jenkins.io/display/JENKINS/Governance+Meeting+Agenda
---

:ruby
  board_members = [
    ["kohsuke"],
    ["rtyler", "2011", "2020/12"],
    ["oleg_nenashev", "2019/12/03", "2021/12/02"],
    ["uhafner", "2019/12/03", "2021/12/02"],
    ["slide_o_mix", "2019/12/03", "2021/12/02"]
  ]
  officers = [
    ["Security", "daniel-beck", "2019/12/03", "2020/12/02"],
    ["Release", "olivergondza", "2019/12/03", "2020/12/02"],
    ["Infrastructure", "olblak", "2019/12/03", "2020/12/02"],
    ["Events", "alyssat", "2019/12/03", "2020/12/02"],
    ["Documentation", "markewaite", "2019/12/03", "2020/12/02"]
  ]

As per the Jenkins project
%a{:href => expand_link("/project/governance/#governance-board")}
  governance document
the project has a board consisting of five members.
The board can be contacted confidentially by emailing to 
%a{:href => "mailto://jenkinsci-board@googlegroups.com"}
  jenkinsci-board@googlegroups.com

%h2
  Current board members

- board_members.each do |member_id, term_begin, term_end|
  = partial("community-role-holder.html.haml", :author => member_id, :term_begin => term_begin, :term_end => term_end)

%h2
  Officers

In accordance with the
%a{:href => expand_link("/project/team-leads")}
  Team Leads
structure the following individuals have been empowered with executive authority by the Governance Board.

- officers.each do |officer_type, member_id, term_begin, term_end|
  %h3
    = officer_type
  = partial("community-role-holder.html.haml", :author => member_id, :term_begin => term_begin, :term_end => term_end)

%h2 References

%ul
  %li
    %a{:href => expand_link("/project/team-leads")}
      Team Leads (officers)
  %li
    %a{:href => expand_link("/project/board-election-process")}
      Board Election process
  %li
    %a{:href => expand_link("/blog/2019/11/08/board-elections/")}
      2019 Board elections
