---
layout: simplepage
title: "Jenkins Board and Officers"
section: project
tags:
  - governance
  - board
  - elections
links:
  googlegroup: jenkinsci-board
  meetings: /project/governance-meeting/
---

:ruby
  board_members = [
    ["jonesbusy", "2024/12/03", "2026/12/02" ],
    ["notmyfault", "2024/12/03", "2026/12/02"],
    ["basil", "2023/12/11", "2025/12/15"],
    ["slide_o_mix", "2024/12/03", "2026/12/02"],
    ["markewaite", "2021/12/03", "2025/12/15"],
  ]
  officers = [
    ["Security", "wadeck", "2024/12/03", "2025/12/02"],
    ["Release", "timja", "2024/12/03", "2025/12/02"],
    ["Infrastructure", "dduportal", "2024/12/03", "2025/12/02"],
    ["Events", "alyssat", "2024/12/03", "2025/12/02"],
    ["Documentation", "kmartens27", "2024/12/03", "2025/12/02"]
  ]

As per the Jenkins project
%a{:href => expand_link("/project/governance/#governance-board")}
  governance document
the project has a board consisting of five members.
The board can be contacted confidentially by emailing to 
%a{:href => "mailto:jenkinsci-board@googlegroups.com"}
  jenkinsci-board@googlegroups.com

%h2
  Current board members

%div.app-authors
  - board_members.each do |member_id, term_begin, term_end|
    = partial("community-role-holder.html.haml", :author => member_id, :term_begin => term_begin, :term_end => term_end)

%h2
  Officers

In accordance with the
%a{:href => expand_link("/project/team-leads")}
  Team Leads
structure the following individuals have been empowered with executive authority by the Governance Board.

%div.app-authors
  - officers.each do |officer_type, member_id, term_begin, term_end|
    %h3
      = officer_type
    = partial("community-role-holder.html.haml", :author => member_id, :term_begin => term_begin, :term_end => term_end)

%h2 References

%ul
  %li
    %a{:href => expand_link("/project/team-leads")}
      Team Leads (officers)
  %li
    %a{:href => expand_link("/project/board-election-process")}
      Board Election process
  %li
    %a{:href => expand_link("/blog/2019/11/08/board-elections/")}
      2019 Board elections
