.container.blog-post {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 100ch;
  min-height: 65rem;
  margin-top: 4rem;
}

.blog-post hr {
  margin: 0 !important;
}

.app-back-link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.app-back-link::before {
  content: "";
  position: relative;
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  background-color: currentColor;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 550 512'%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='60' d='M328 112L184 256l144 144'/%3E%3C/svg%3E%0A");
  background-size: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 100vmax;
}

.container.blog-post h1 {
  font-size: 2.75rem;
  font-weight: 800;
  color: black;
  max-width: 80%;
  /*font-family: "Georgia", serif;*/
  margin-bottom: 0;
}

.blog-post .post-attrs {
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  gap: 1rem;
}

.blog-post h2 {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0;
  color: black;
}

.blog-post h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
  color: black;
}

.tags {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  gap: 0.5rem;
  margin-bottom: 0;
}

.tag {
  position: relative;
  font-weight: 500;
  padding: 0.3rem 0.65rem;
  font-size: 0.8rem;
  color: black;
}

.tag::before {
  content: "";
  position: absolute;
  inset: 0;
  background: black;
  opacity: 0.1;
  border-radius: 100vmax;
}

.container.blog-post .submitted {
  display: flex;
  align-items: center;
  gap: 0.5ch;
  font-weight: 500;
}

.blog-post .blog-content {
  /*display: grid;*/
  /*grid-template-columns: 1fr;*/
  /*flex-direction: column;*/
  gap: 1.5rem;
}

.blog-post table {
  margin: 0;
}

.blog-post pre {
  margin: 0;
}

.sectionbody, .sect1, .ulist, .sect2 {
  display: contents;
}

.blog-post ul, .blog-post ol {
  margin: 0;
}

.blog-post .blog-content .paragraph p, .blog-post .blog-content li {
  margin: 0;
  line-height: 1.66;
  color: black;
  font-size: 1.15rem;
}

.section.blogs h4.blog-title {
  font-size: 1.25rem;
  padding-bottom: 0.25rem;
}

.container.blog-post .main-content {
  margin-bottom: 60px
}
