---
layout: default
title: "Jenkins 2.0"
---

:css
  #download DT {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0.2em 0;
    padding: 0;
  }
  #download DD IMG {
    vertical-align: middle;
  }
  #download DL {
    margin: 0;
  }
  #highlights DT {
    font-weight: bold;
    margin-top: 1em;
  }
  #highlights DD {
    padding-left: 1em;
    margin-bottom: 1em;
  }
  #previewdownloads {
    float: right;
    width: 200px;
    padding: 1em;
    background: #d3d7cf;
    margin-left: 1em;
  }


%h1
  Jenkins 2.0 preview

%p
  %strong
    Jenkins 2.0
  is an upcoming major version of Jenkins with a number of usability enhancements and new features.

%div#previewdownloads
  %h2
    Preview Downloads


  %dl#download
    %dt
      Download the .war

    %dd
      %div
        %a{:href => 'http://mirrors.jenkins-ci.org/war-rc/2.0/jenkins.war'}
          jenkins.war

    %dt
      Download native packages

    %dd.release-block-platforms
      %div
        %img{:src => "/images/os/win_other.png"}
          %a.release-block-soft{:href => "http://mirrors.jenkins-ci.org/windows-rc/jenkins-2.0.zip"}
            Windows
      %div
        %img{:src => "/images/os/ubuntu.png"}
          %a.release-block-soft{:href => "http://pkg.jenkins-ci.org/debian-rc/binary/jenkins_2.0_all.deb"}
            Ubuntu/Debian
      %div
        %img{:src => "/images/os/redhat.png"}
          %a.release-block-soft{:href => "http://pkg.jenkins-ci.org/redhat-rc/jenkins-2.0-1.1.noarch.rpm"}
            Red Hat/Fedora
      %div
        %img{:src => "/images/os/os_macosx.png"}
          %a.release-block-soft{:href => "http://mirrors.jenkins-ci.org/osx-rc/jenkins-2.0.pkg"}
            Mac OS X
      %div
        %img{:src => "/images/os/opensuse.png"}
          %a.release-block-soft{:href => "http://pkg.jenkins-ci.org/opensuse-rc/jenkins-2.0-1.2.noarch.rpm"}
            openSUSE

    %dt Docker

    %dd#release-block-platforms
      %div
        %a.release-block-soft{:href => "https://hub.docker.com/r/jenkinsci/jenkins/"}
          %tt docker pull jenkinsci/jenkins:2.0-alpha-3


%h2
  Highlights

%dl#highlights
  %dt
    %strong
      Pipeline as Code
    keeps delivery
    %a{:href => 'https://en.wikipedia.org/wiki/Don%27t_repeat_yourself'}
      DRY
  %dd
    %p
      The new
      %a{:href => '/solutions/pipeline'}
        Pipeline
      functionality in Jenkins allows you to define configuration as code,
      which can be checked in and version controlled along with the rest of
      your project's source code.

    %img{:src => '/images/hello-world-pipeline.png', :title => 'A simple build/test pipeline'}/

    %p
      Defining your pipeline's configuration as code makes it easier to create
      a simple "build and test" pipeline, while enabling more advanced and
      complex pipelines through the expressive Groovy-based domain specific
      language.

    %p
      With the new Pipeline Stage View Plugin, the different stages of pipelines
      can easily be visualized.

    %a{:href => '/images/pipeline-stage-view.png', :target => '_blank'}
      %img{:src => '/images/pipeline-stage-view.thumb.png', :title => 'A pipeline stage view',
          :width => 550}/

    %p
      Learn more about this on our
      %a{:href => '/solutions/pipeline'}
        Pipeline solutions page
      !

  %dt
    Out of the box: Secure defaults

  %dd
    %p
      Jenkins access is no longer "first come, first served":
      The initial setup is protected so that your Jenkins is always safe from unauthorized access.

  %dt
    Out of the box: Easy to get it right
  %dd
    %p
      For new users, Jenkins 2.0 starts off with set of recommended plugins to
      help get you started with the right set of tools to get up and running with
      Jenkins quickly.

      For the more adventurous users, the Jenkins 2.0 initial setup process
      also allows you to pick and choose exactly the plugins you want to meet
      your specific needs. The list of plugins is hand-picked by Jenkins experts
      from our popular plugins to ensure the best getting-started experience for
      new users.

    %a{:href => '/images/getting-started-setup.png', :target => '_blank'}
      %img{:src => '/images/getting-started-setup.png', :title => 'Getting started with Jenkins 2.0',
          :width => 550}/

    %p
      Of course, users will always be able to add plugins after the initial
      setup through the current "Manage Plugins" interface.

  %dt
    Improved user interface
  %dd
    A number of small, but useful improvements, have been made to tidy up the
    interfaces you use every day.

    %p
      Job configuration forms are now easier to use as the structure of the form is visually clearer, 
      and tabs allow you to quickly navigate to different sections of the configuration with ease.

    %a{:href => '/images/2.0-config-dialog.png', :target => '_blank'}
      %img{:src => '/images/2.0-config-dialog.thumb.png', :title => 'The new job configuration dialog in 2.0',
          :width => 550}/


  %dt
    Totally backwards compatible
  %dd
    Jenkins 2.0 is a drop-in replacement of the Jenkins 1.x series of releases
    and fully backward compatible. There will be practically no reason
    %em
      not
    to upgrade once 2.0 is released in the next couple of months.

  %dt
    More changes are coming!
  %dd
    We're not done yet! There will be more changes towards Jenkins 2.0, and we'll
    keep updating this page to highlight them.

%p
  We have more details of
  %a{:href => "https://wiki.jenkins-ci.org/display/JENKINS/Jenkins+2.0"}
    the 2.0 plan
  on our wiki!



%h2
  Give us feedback!
%p
  We're very interested in your feedback on what you think of the Jenkins 2.0
  preview releases.

%p
  To experience Jenkins 2.0 properly, we recommend you set up
  %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Administering+Jenkins'}
    a different Jenkins home directory
  \. This way, you'll both get to try the new setup, and keep your production instance
  safe from possible issues.

%ul
  %li
    If you use Twitter, you can leave us some feedback
    %a{:href => 'https://twitter.com/intent/tweet?text=@jenkinsci%20I%20think%20%23jenkins2%20is%20'}
      on Twitter
  %li
    Our
    %a{:href => 'http://groups.google.com/group/jenkinsci-users/topics'}
      jenkinsci-users
    mailing list is available for feedback in
    %a{:href => 'https://groups.google.com/d/msg/jenkinsci-users/fEWFVUj0UVY/GbG0ChvkIgAJ'}
      %strong
        this thread
  %li
    Of course, this is a preview release, so if you find any issues please report them to our
    %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Issue+Tracking'}
      our issue tracker
    in the "JENKINS" project.
