---
layout: default
title: Not Found
notitle: true
---

:css
  .errorcontainer {
    text-align: center;
    margin: 30px;
  }

%div.errorcontainer
  %img{:src => '/images/fire-jenkins.svg'}

  %h1
    The page you requested could not be found.

  %p
  %a{:href => "/"} Back to homepage

