---
layout: default
title: Not Found
notitle: true
---

:css
  .errorcontainer {
    text-align: center;
    margin: 30px;
  }

%div.errorcontainer
  %img{:src => '/images/fire-jenkins.svg'}

  %h1
    The page you requested could not be found.

  %p
  Feel free to tell me what happened on one of the chat channels:
  %a{:href => "https://www.jenkins.io/chat/"} www.jenkins.io/chat/
  for details.

  %p
  %a{:href => "/"} Back to homepage

- # TODO Add suggestions for frequently accessed pages, recently moved pages, etc.?
