---
layout: simplepage
title: Awards
---

- site.awards.values.sort_by{ |award| [award['year'],award['name']] }.reverse.each do |award|
  - if award['image']
    %img{:src => expand_link('images/' + award['image']), :style => 'float: right; margin: 5px;'}
  %h2
    - if award['url']
      %a{:href => award['url'], :target => '_blank'}
        = award['title']
    - else
      = award['title']
  - if award['description']
    %p
      = award['description']
  - if award['quote']
    %blockquote
      = award['quote']
  %div{:style => 'clear: both;'}
