---
layout: simplepage
title: Awards
tight: true
---

%p.app-description Highlighting the milestones and achievements of Jenkins.

- site.awards.values.sort_by { |award| [award['year'], award['name']] }.reverse.each do |award|
  .award-item
    .award-item__icon
      - if award['image']
        %img{src: expand_link('images/' + award['image']), alt: award['title'], width: "96"}
      - else
        %img{src: expand_link('/images/logos/jenkins/jenkins.svg'), alt: 'Placeholder', width: "96"}
    .award-item__content
      %h2.award-title
        - if award['url']
          %a{href: award['url'], target: '_blank', class: 'text-decoration-none'}
            = award['title']
        - else
          = award['title']
      - if award['description']
        %p.award-description
          = award['description']
      - if award['quote']
        %blockquote.award-quote
          %p.mb-0
            = award['quote']
