---
layout: simplepage
title: Awards
---

.awards-page
  .container
    .row
      .col-md-12
        %p.sub-heading Highlighting the milestones and achievements of Jenkins.

    - site.awards.values.sort_by { |award| [award['year'], award['name']] }.reverse.each do |award|
      .award-card.mx-auto.my-4
        .award-content
          %h2.award-title
            - if award['url']
              %a{href: award['url'], target: '_blank', class: 'text-decoration-none'}
                = award['title']
            - else
              = award['title']
          - if award['description']
            %p.award-description
              = award['description']
          - if award['quote']
            %blockquote.award-quote
              %p.mb-0
                = award['quote']
        - if award['image']
          .award-image
            %img{src: expand_link('images/' + award['image']), alt: award['title'], class: 'img-fluid rounded'}
