---
layout: simplepage
title: Awards
awards:
- year: 2008
  title: Duke's Choice Award
# url: http://java.sun.com/javaone/sf/2008/articles/2008dukeschoiceawards.jsp
  description: >
    Each year, the Duke's Choice awards committee invites Java community members to nominate the best and most innovative use of Java technology for recognition.
    The Java technology leadership team -- including James Gosling, known as the father of Java technology -- selects the winners based on the creativity of the Java technology-based applications and services.
  quote: >
    Hudson is an open-source continuous integration system written in the Java platform that enables developers to automate various aspects of the development process like builds and tests, as well as bring transparency to projects.
    Its emphasis is on ease of use and extensibility, which has enabled the community to develop more than 50 plug-ins to date.
  image: duke2008.png
- year: 2008
  title: GlassFish Community Innovation Award 2008
  url: https://www.thefreelibrary.com/-a0185711149
  description: >
    Sun Microsystems, Inc. today announced the winners of the GlassFish Community Innovation Awards Contest designed to fuel innovation around the GlassFish(TM) application server.
    GlassFish is based on the reference implementation of Java(TM) Platform, Enterprise Edition and is one of the leading open source application servers in the industry today with more than eight million downloads since its release in May 2005.
    The contest was part of Sun's Open Source Community Innovation Awards Program, a multi-year program running across several open source communities with a $1 million total prize.
  image: glassfish.gif
- year: 2010
  title: >
    SDTimes 100, 2010: ALM Platforms
  image: SDTimes2010.png
  url: http://www.sdtimes.com/content/article.aspx?ArticleID=34383&page=6
  description: >
    Each year the SD Times 100 recognizes companies, non-commercial organizations, open source projects and other influencers for their innovation and leadership.
- year: 2011
  title: >
    SDTimes 100, 2011: ALM&SCM
  image: SDTimes2011.gif
  url: http://www.sdtimes.com/content/article.aspx?ArticleID=35592&page=4
  description: >
    Each year the SD Times 100 recognizes companies, non-commercial organizations, open source projects and other influencers for their innovation and leadership.
- year: 2011
  url: http://www.oscon.com/oscon2011/public/schedule/detail/21161
  title: O'Reilly Open-Source Award, 2011
  image: oscon.png
  description: >
    The O’Reilly Open Source Awards recognize individual contributors who have demonstrated exceptional leadership, creativity, and collaboration in the development of Open Source Software.
    Past recipients have included Brian Aker, Angela Byron, Karl Fogel, Pamela Jones, Bruce Momjian, Chris Messina, David Recordon, and Andrew Tridgell.
    The nomination process is open to the entire open source community and all entries will be judged by the 2010 winners.
- title: InfoWorld Bossies Award, 2011
# url: http://www.infoworld.com/d/open-source-software/bossie-awards-2011-the-best-open-source-application-development-software-171759-0&current=6
  year: 2011
  image: bossies_logo.gif
  description: >
    Each year, InfoWorld's Bossies (Best of Open Source Software awards) recognize the best open source software for business.
    The InfoWorld Test Center's central mission has always been to identify the most promising and cost-effective products available to IT organizations.
    The Bossies are selected by InfoWorld Test Center editors and reviewers.
- title: >
    SDTimes 100, 2012: Development Tools & CI
  year: 2012
  image: SDTimes2012.gif
  url: http://www.sdtimes.com/content/article.aspx?ArticleID=36641&page=5
  description: >
    Software today is built in rapid iterations, with continuous builds and integration into the product for multiple updates per year.
    Here, SD Times recognizes the companies and projects that make the tools that enable this to happen.
- title: >
    SDTimes 100, 2013: Development Tools & CI
  description: >
    Cycles have shrunk down to weeks instead of months, and constant progress in a product is the norm.
    Being able to leverage code into new features and products, and getting those deployed quickly, is critical to a business’ success.
    Companies have adjusted to this new reality, but not without help.
    These organizations provided the tools to make sure companies found the timely updates they were looking for.
  year: 2013
  image: SDTimes2013.gif
  url: http://sdtimes.com/content/article.aspx?ArticleID=51682&page=4
- title: >
    SDTimes 100, 2014: DevOps & SCM
  url: http://sdtimes.com/content/article.aspx?ArticleID=71295&page=4
  image: SDTimes2014.gif
  description: >
    With cycles seemingly getting shorter and shorter, developers need tools that help them hit release dates without compromising.
    With speed in mind, these companies keep developers on track, no matter how fast they need to go.
  year: 2014
- title: >
    Geek Choice Award 2014
  image: Geek-Choice-Awards-CI-Server-300x300-black.png
  url: http://zeroturnaround.com/rebellabs/10-kick-ass-technologies-modern-developers-love/
  quote: >
    Jenkins has an almost laughably dominant position in the CI server segment; with founder Kohsuke Kawaguchi leading the way, a strong community of active plugin developers and a group of geeks even using it to trigger their office coffee machines, Jenkins is definitely a geek’s choice.
  year: 2014
- title: >
    Bossie Awards 2014: The best open source application development tools
  year: 2014
  image: bossie_awards_2014_primary-100463112-carousel.idge.jpeg
  quote: >
    Jenkins is an extendable, open source continuous integration server that monitors executions of repeated jobs, such as building a software project or jobs run by cron.
    …
    There are hundreds of Jenkins plug-ins in the categories of source code management, build triggers, build tools, build wrappers, build notifiers, slave launchers and controllers, build reports, artifact uploaders, and many more.
  description: >
    InfoWorld's picks of the year among languages, frameworks, libraries, and all the other tools that programmers use.
  url: http://www.infoworld.com/article/2687772/application-development/164642-Bossie-Awards-2014-The-best-open-source-application-development-tools.html
- title: >
    DevOps Dozen 2016: Best DevOps Open Source Project
  url: https://devops.com/the-2016-devops-dozen-winners-announced/
  year: 2016
  quote: >
    The DevOps world is chock full of great open source projects.
    Many of them have huge communities who are very passionate and involved.
    The Jenkins community holds its own with any of them.
    More importantly, Jenkins seems to be at the center of the DevOps/CD world.
- title: >
    DevOps Dozen 2017: Best DevOps Open Source Project
  url: https://devops.com/3rd-annual-devops-dozen-winners-announced/
  year: 2017
  quote: >
    Jenkins is one of the leading open source automation servers available.
    Jenkins has an extensible, plugin-based architecture, enabling developers to create 1,400+ plugins to adapt it to a multitude of build, test and deployment technology integrations.
    In 2017, Jenkins surpassed 155,000 active installations (these are active installations that report usage back to the Jenkins project—only a fraction of total installations), and approximately 1.5 million users, making it the most widely deployed continuous delivery automation server in the world.
---

- page.awards.reverse.each do |award|
  - if award.image
    %img{:src => expand_link('images/awards/' + award.image), :style => 'float: right; margin: 5px;'}
  %h2
    - if award.url
      %a{:href => award.url}
        = award.title
    - else
      = award.title
  - if award.description
    %p
      = award.description
  - if award.quote
    %blockquote
      = award.quote
  %div{:style => 'clear: both;'}