/* icons taken from http://www.image-seed.com/archives/cat_10007473.html */

/* cancel out the CSS style definition in the Drupal theme */
ul.image li {
  list-style: none !important;
  margin-bottom: 5px;
}

ul.image li.security:before, ul.image li.rfe:before, ul.image li.bug:before {
    content: "•";
    position: relative;
    left: -7px;
    font-size: 18px;
    margin-left: -15px;
    line-height: 0;
}
ul.image li.major:before, ul.image li.security:before {
    left: -3px;
    top: 3px;
    font-size: 28px;
    margin-left: -22px;
}

ul.image li.rfe:before {
  color: #99f;
}
ul.image li.rfe.major:before {
  color: #99f;
}
ul.image li.bug:before {
  color: red;
}
ul.image li.bug.major:before {
  color: red;
}
ul.image li.security:before {
  color: #fa0;
}
ul.image li.security {
  font-weight: bold;
}

.iconlegend ul {
  display: inline;
}
.iconlegend ul li {
  display: inline;
  margin-left: 40px;
}

/* For community ratings */
img.rate { vertical-align: middle; margin-right: 2em; }
img.rate:hover { cursor: pointer; }
div.rate-offset { padding-left: 2em; }
span.related-issues { display: block; }
