/* icons taken from http://www.image-seed.com/archives/cat_10007473.html */
BODY, TH, TD, P, LI {
  font-size: 100%;
}

/* cancel out the CSS style definition in the Drupal theme */
#content .content UL.image LI {
  list-style: none !important;
}

UL.image {
  list-style: none;
  padding-left: 1em;
  margin-left: 1em;
}
UL.image LI {
  padding-left: 22px;
  background-repeat: no-repeat;
  background-position: left center;
  margin-bottom: 0.5em;
}
UL.image LI.rfe {
  background-image: url(images/rfe.gif);
}
UL.image LI.rfe.major {
  background-image: url(images/rfe2.gif);
}
UL.image LI.bug {
  background-image: url(images/bug.gif);
}
UL.image LI.bug.major {
  background-image: url(images/bug2.gif);
}

UL.iconlegend {
  display: inline;
}
UL.iconlegend LI {
  display: inline;
}
.iconlegend IMG {
  vertical-align: middle;
  padding-left: 0.7em;
  padding-right: 0.2em;
}

/* For community ratings */
img.rate { vertical-align: middle; margin-right: 2em; }
img.rate:hover { cursor: pointer; }
div.rate-offset { padding-left: 2em; }
span.related-issues { display: block; }
