---
layout: default
title: Jenkins installation and setup
---
= partial('downloadbanner.html.haml')

.container
  .row.body
    .col-md-1
    .col-md-8
      %h2
        Jenkins Installation and Setup
      .doc-block
        %h3
          Introduction
        %p
          With the release of 2.0, the installation of Jenkins remains
          largely the same but the initial setup is different. After you have
          chosen your preferred OS or container for installation the first
          time you run Jenkins you will be presented with a setup wizard to
          properly configure Jenkins. Jenkins will not be accessible via the
          web interface or CLI until the initial setup is complete.

        %pre.code
          INFO: This is a new Jenkins instance. The Plugin Install Wizard will be launched.

        %h4
          System Requirements
        %p
          Jenkins requires Java7 or above and Servlet 3.1 to function. Java8
          is recommended. Jenkins requires a fair amount of memory to operate
          well. Smaller installations should start around 256MB-1GB.

        %h3
          Installation

        %h4
          Unix/Linux Installation
        %p
          Jenkins has native integrations with the following OSes. See
          respective sections for how to make Jenkins run in the background
          automatically:
        %ul
          %li
            %a{ href: 'https://wiki.jenkins-ci.org/display/JENKINS/Installing+Jenkins+on+Ubuntu' } Installing Jenkins on Ubuntu
          %li
            %a{ href: 'https://wiki.jenkins-ci.org/display/JENKINS/Installing+Jenkins+on+Red+Hat+distributions' } Installing Jenkins on Red Hat Distributions
          %li
            %a{ href: 'https://wiki.jenkins-ci.org/display/JENKINS/Installing+Jenkins+with+Docker' } Installing Jenkins with Docker

        %p
          Alternatively, if you have a servlet container that supports
          Servlet 3.1/JSP 2.0, then you can run them as services, and deploy
          jenkins.war as you would any other war file.

          %a{ href: "https://wiki.jenkins-ci.org/display/JENKINS/Containers" }
            Container specific
          documentation is available if you choose this route.

        %h4
          Windows Installation
        %p
          If you're running on Windows it is good to run Jenkins as a service
          so it starts up automatically without requiring a user to log in.
          The easiest way is to run the Windows installer, linked from
          Jenkins' homepage. This also has the advantage of being easier to
          automate.

        %p
          The manual way is to follow Installing Jenkins as a Windows
          service. Alternatively, you can install a servlet container like
          GlassFish and Tomcat, which can run as a service by itself, and
          then deploy Jenkins to it.

        %p
          Since Jenkins was written to work on unix-like platforms, some
          parts assume the presence of unix-utilities. It is advised to
          install these as well on Windows. Install UnxUtils (this includes a
          shell that seems to work with forward and backwards slashes and
          does globbing correctly)(UnxUtils does not download), put it in the
          Windows PATH , and copy sh.exe to C:\bin\sh.exe (or whichever drive
          you use) to make shebang lines work. This should get you going. If
          UnxUtils gives you trouble (Fork Failed Errors), try Win-Bash.

        %ul
          %li
            %a{ href: "https://wiki.jenkins-ci.org/display/JENKINS/Installing+Jenkins+as+a+Windows+service", title: "Install Service"} Installing Jenkins as a Windows service
        %p
        %br

        %h3
          Setup Wizard
        %p
          Jenkins 2.0 is no longer installed completely open and accessible
          to the world. Instead Jenkins is initially configured to be more
          secure. Jenkins can no longer be accessed without a username and
          password and open ports are limited. During the initial run of
          Jenkins a security token is generated and printed in the console
          log:

        %pre.code
          *************************************************************
          *************************************************************
          *************************************************************

          Jenkins initial setup is required. A security token is required to proceed.
          Please use the following security token to proceed to installation:

          41d2b60b0e4cb5bf2025d33b21cb

          *************************************************************
          *************************************************************
          *************************************************************

        %p
          This token must be input in the Setup Wizard the first time you
          open the Jenkins UI. This token will also serve as the default
          password for the user 'admin' if you skip the user-creation step in
          the Setup Wizard.
        %p
          In addition to configuring the initial security for Jenkins the
          Setup Wizard will also install the initial plugins in your
          installation. Previously,Jenkins included several bundled plugins
          based on a set of assumed use cases. However, as technology and
          tools have changed the list of bundled plugins included with
          Jenkins has not kept up to date. Rather than continuously updating
          a list of bundled plugins, Jenkins 2.0 begins with a setup wizard
          asking the user to choose the initial plugins to be installed. The
          recommended set of plugins available are based on the most common
          use cases but users are free to customize their own installion.
