---
layout: default
title: Jenkins installation and setup
---

= partial('downloadbanner.html.haml')

.container
  .row.body
    .col-md-1
    .col-md-10
      %h2
        Getting started with Jenkins

      .container
        .row
          %p
            The Jenkins project produces two release lines, LTS and weekly.
            Depending on your organization's needs, one may be preferred over
            the other.
          %p
            Both release lines are distributed as
            %code
              \.war
            files, native packages, installers, and Docker containers.
        .row
          .col-md-6
            %h4
              Long-term Support (LTS)
            %p
              LTS (Long-Term Support) releases are chosen every 12 weeks from the
              stream of regular releases as the stable release for that time period.

              %a{'href' => 'https://wiki.jenkins-ci.org/display/JENKINS/LTS+Release+Line'}
                Learn more…

              %p.details
                %a.item{:href=>'/changelog-stable'}
                  Changelog
                |
                %a.item{:href=>'/doc/upgrade-guide'}
                  Upgrade Guide
                |
                %a.item{:href=>'http://mirrors.jenkins.io/war-stable/'}
                  Past Releases

          .col-md-6
            %h4
              Weekly
            %p
              A new release is produced weekly to deliver bug fixes and
              features to users and plugin developers.

            %p.details
              %a.item{:href=>'/changelog'}
                Changelog
              |
              %a.item{:href=>'http://mirrors.jenkins.io/war/'}
                Past Releases
        .row
          .col-md-6
            %strong
              %i.icon-box-add
              Deploy Jenkins
              = site.jenkins.stable

              .container
                .row
                  .m-3
                    %a{:href => 'https://aka.ms/jenkins-on-azure'}
                      - # Contact azdevopspub@microsoft.com if issues arise
                      %img{:src => 'https://azuredeploy.net/deploybutton.png'}/

            .list-group
            %strong
              %i.icon-box-add
              Download Jenkins
              = site.jenkins.stable
              for:

            .list-group
              %a.list-group-item.list-group-item-action{:href=>'https://hub.docker.com/_/jenkins/'}
                %span.icon
                %span.title
                  Docker
              %a.list-group-item.list-group-item-action{:href => 'http://www.freshports.org/devel/jenkins-lts'}
                %span.icon
                %span.title
                  FreeBSD
              %a.list-group-item.list-group-item-action{:href=>'https://packages.gentoo.org/packages/dev-util/jenkins-bin'}
                %span.icon
                %span.title
                  Gentoo
              %a.list-group-item.list-group-item-action{:href=>'/content/thank-you-downloading-os-x-installer#stable'}
                %span.icon
                %span.title
                  Mac OS X
              %a.list-group-item.list-group-item-action{:href=>'http://openports.se/devel/jenkins/stable'}
                %span.icon
                %span.title
                  OpenBSD
              %a.list-group-item.list-group-item-action{:href=>'https://pkg.jenkins.io/opensuse-stable/'}
                %span.icon
                %span.title
                  openSUSE
              %a.list-group-item.list-group-item-action{:href=>'https://pkg.jenkins.io/redhat-stable/'}
                %span.icon
                %span.title
                  Red Hat/Fedora/CentOS
              %a.list-group-item.list-group-item-action{:href=>'https://pkg.jenkins.io/debian-stable/'}
                %span.icon
                %span.title
                  Ubuntu/Debian
              %a.list-group-item.list-group-item-action{:href=>'/content/thank-you-downloading-windows-installer#stable'}
                %span.icon
                %span.title
                  Windows
              %a.list-group-item.list-group-item-action{:href=>'http://mirrors.jenkins.io/war-stable/latest/jenkins.war'}
                %span.title
                Generic Java package (.war)

          .col-md-6
            %strong
              %i.icon-box-add
              Download Jenkins
              = site.jenkins.latest
              for:

            .list-group
              %a.list-group-item.list-group-item-action{:href=>'https://hub.docker.com/r/jenkinsci/jenkins/'}
                %span.icon
                %span.title
                  Docker
              %a.list-group-item.list-group-item-action{:href => 'http://www.freshports.org/devel/jenkins'}
                %span.icon
                %span.title
                  FreeBSD
              %a.list-group-item.list-group-item-action{:href=>'https://packages.gentoo.org/packages/dev-util/jenkins-bin'}
                %span.icon
                %span.title
                  Gentoo
              %a.list-group-item.list-group-item-action{:href=>'/content/thank-you-downloading-os-x-installer'}
                %span.icon
                %span.title
                  Mac OS X
              %a.list-group-item.list-group-item-action{:href=>'http://openports.se/devel/jenkins/devel'}
                %span.icon
                %span.title
                  OpenBSD
              %a.list-group-item.list-group-item-action{:href=>'https://pkg.jenkins.io/opensuse/'}
                %span.icon
                %span.title
                  openSUSE
              %a.list-group-item.list-group-item-action{:href=>'https://pkg.jenkins.io/redhat/'}
                %span.icon
                %span.title
                  Red Hat/Fedora/CentOS
              %a.list-group-item.list-group-item-action{:href=>'https://pkg.jenkins.io/debian/'}
                %span.icon
                %span.title
                  Ubuntu/Debian
              %a.list-group-item.list-group-item-action{:href=>'/content/thank-you-downloading-windows-installer'}
                %span.icon
                %span.title
                  Windows
              %a.list-group-item.list-group-item-action{:href=>'http://mirrors.jenkins.io/war/latest/jenkins.war'}
                %span.title
                Generic Java package (.war)


        %hr/

        .row
          .col-md-12
            %p
              Once a Jenkins package has been downloaded, proceed to the
              %strong
                %a{:href => '/doc/book/getting-started/installing/'}
                  Installing Jenkins
              section of the User Handbook.
