<!DOCTYPE html>
%html
  %head
    %title
      = page.title
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
    %meta{:'name' => 'description', :content => 'Jenkins is an open source automation server'}/
    = partial('scriptlinks.html.haml')    
  %body
    = partial('toptoolbar.html.haml', :section=>'events', :specific=>'events')
    
    .container
      .row.body
        .col-md-12
          %h2 Events
      .row
        .col-md-5
                
        .col-md-7
          .cal
            .row.days
              .col-md-2 M
              .col-md-2 T
              .col-md-2 W
              .col-md-2 T
              .col-md-2 F
              .col-md-2.weekend SS
            .row
              .col-md-2
              .col-md-2
              .col-md-2
              .col-md-2
              .col-md-2
              .col-md-2.weekend
            .row
              .col-md-2
              .col-md-2
                %a.apt.span-4 JUC West
              .col-md-2
              .col-md-2
              .col-md-2
              .col-md-2.weekend
            .row
              .col-md-2
              .col-md-2
              .col-md-2
              .col-md-2
              .col-md-2
              .col-md-2.weekend
            .row
              .col-md-2
              .col-md-2
              .col-md-2
              .col-md-2
              .col-md-2
              .col-md-2.weekend
            .row
              .col-md-2
              .col-md-2
              .col-md-2
                %a.apt.span-1 Office Hours
              .col-md-2
              .col-md-2
              .col-md-2.weekend
                 