---
layout: default
title: Jenkins
blogrollup: true
---

- if legacy?
  :css
    /*kill off unwanted crafts */
    #content H1, DIV.taxonomy {
        display:none;
    }
    #content DIV.node {
        border-bottom:none;
    }

    #welcome #directory {
        padding-top: 2em;
    }
    #welcome #directory A {
        text-decoration: none !important;
    }
    #welcome #directory A:link {
        text-decoration: none !important;
    }
    #welcome #directory A:hover {
        text-decoration: underline;
        color: black;
    }
    #welcome #directory .title {
        color: black;
        font-weight: bold;
        font-size: 1.5em;
    }
    #welcome #directory TD {
        vertical-align: middle;
        padding-bottom: 3em;
    }
    #welcome #directory .description {
        color: gray;
    }
    #welcome #directory .logo {
        border: 0px;
        margin-right: 1em;
    }

  %div#welcome
    %div.content{:align => 'center'}
      %table#directory{:valign => 'middle', :style => 'border: none;'}
        %tr
          %td
            %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Meet+Jenkins'}
              %img.logo{:src => '/images/logo_head.png'}/

          %td
            %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Meet+Jenkins'}
              %div.title
                Meet Jenkins
              %div.description
                Find out what Jenkins is and get started.

        %tr
          %td
            %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Use+Jenkins'}
              %img.logo{:src => '/images/user.gif'}/

          %td
            %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Use+Jenkins'}
              %div.title
                Use Jenkins
              %div.description
                See how to get more out of your Jenkins

        %tr
          %td
            %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Plugins'}
              %img.logo{:src => '/images/plugin.png'}/

          %td
            %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Plugins'}
              %div.title
                Customize Jenkins
              %div.description
                Chose from hundrends of plugins to customize Jenkins to suit your needs

        %tr
          %td
            %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Extend+Jenkins'}
              %img.logo{:src => '/images/developer.gif'}/

          %td
            %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Extend+Jenkins'}
              %div.title
                Extend Jenkins
              %div.description
                Learn how to build or extend Jenkins by writing plugins

    %div{:style => 'padding-top: 3em; text-align: right;'}
      %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Awards'}
        Awards
      %img{:src => '/images/award.png', :style => 'vertical-align: middle;'}/

- else
  = partial('downloadbanner.html.haml')
  = partial('jumbotron.html.haml')

  %div.container
    .row.body
      = partial('sidebar.html.haml')

      %div#content.col-md-8{:class => 'main-content with-sidebar'}
        %div#content-top/

        = partial('blogs.html.haml')

        %div#content-bottom/
