<!doctype html>
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Roboto:400,300,500,900,700,700italic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/lib.css", :rel => "stylesheet", :type => "text/css"}/
    
    = partial('scriptlinks.html.haml') 
    
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"}

    
  %body
    = partial('toptoolbar.html.haml',:section=>'plugins', :specific=>'plugins')
    
    .jumbotron.plugins
      .container
        .row
          .col-md-2
          .col-md-3
            %img{:src => "/images/plug_256px.png"}
          .col-md-4.overview
            %h1 Jenkins Plugins
            %p Ex ferri altera dolorum qui, ut dicunt omnium sit. Id mei quis iracundia percipitur. Et quot nullam adversarium duo. Case solet no per. Pro fastidii recusabo te. Vidit ubique ius in, et idque mollis dissentiet vix, nam oportere forensibus dissentiunt ea.
          .col-md-3
    
    #grid-box
    
    %script{:src => "/plugins-scripts/static/bundle.js"}    
    
