---
:layout: post
:title: macOS Installers for Jenkins Weekly
---

= partial('osx-brew-installer.html.haml', :tag => 'jenkins', :type => 'Weekly')

= partial('osx-native-installer.html.haml', :release_url => 'http://mirrors.jenkins-ci.org/osx/')
