body .Item{
  display:block;
}
body .Tile{
    height: auto;
    position: relative;
    width: auto;
    padding: .5rem 1rem .5rem 7rem;
    text-align: left;
    min-height:6rem;
    max-width:60rem
}
body .Tile > .Score, 
body .Tile > .Icon {
  position: absolute;
  left: 1rem;
  width: 5rem;
}
body .Tile > .Score {
  top: 4rem;
}
body .Tile > .Version {
    margin-bottom: .25rem;
}
body .Tile > .Excerpt {
    height: auto;
    max-height: 3.3rem;
    margin-bottom: .25rem;
    min-height:.5rem
}





.Item {
  display:inline-block;
  vertical-align:top;
  padding:.25rem
}
.Tile {
  display: block;
  border: .1rem solid #ccc;
  font-size: .85rem;
  height: 18rem;
  width:13rem;
  box-sizing: border-box;
  padding: .67rem;
  box-shadow: 0 8px 2px -4px rgba(0,0,0,.15);
  color: #666;
  text-decoration: none !important;
  background: #fff;
  opacity: .85;
  border-radius: 3px;
  text-align:left;
  ztransition: all .05s ease-out;
  position:relative;
}

.Tile:hover {
  border: .1rem solid #999;
  opacity: 1;
  ztransform: scale(1.03);
  z-index:2;
}

.Tile:hover h4 {
  color: #069;
  text-decoration: underline;
}

.Tile .Icon {
  text-align: center;
  margin: .5rem 0 0;
}

.Tile .Icon>i {
  display: inline-block;
  font-size: 1.33rem;
  color: #fff;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  line-height: 3rem;
  font-style: normal;
  margin: -1px 0 0 -1px;
  text-shadow: rgba(0, 0, 0, .5) 1px 2px 1px
}

.Tile .Score {
  margin: 0 0 .67rem
}

.Tile .Score>span:after {
  content: '\2605 \2605 \2605 \2605 \2606';
  display: block;
  text-align: center;
}

.Tile .Version {
  font-size: .75rem;
  margin: -.5rem 0 .5rem;
  color: #999;
}

.Tile .Version span {
  margin-right: .25rem
}

.Tile .Version span.v {
  margin-right: 1rem;
  display: none;
}

.Tile .Version span.c:after {
  content: '+'
}

.Tile .Excerpt {
  white-space: normal;
  line-height: 1.1rem;
  height: 3.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  margin: 0 0 .67rem;
  word-wrap: break-word;
}

.Tile .Excerpt p, .Tile .Excerpt div {
  display: inline;
}

.Tile .Wiki{
  display:none;
}

.Tile h4:after, .Tile .Excerpt:after {
  display: block;
  content: ' ';
  box-shadow: inset #fff -250px 0 250px -200px;
  height: 19px;
  height: 1.1rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.Tile h4 {
  font-size: 1rem;
  margin: 0 0 .5rem;
  line-height: 1.1rem;
  max-height: 2.2rem;
  overflow: hidden;
  font-weight: normal;
  color: #000;
  font-weight: normal;
  position: relative;
}

.Tile .Authors>div {
  font-size: .75rem;
  display: block;
  color: #59a;
  margin-right: .25rem;
  line-height: 1rem;
}
