.ResultsSummary {
  flex-grow: 1;
  text-align: right;
  font-size: .75rem;
}

.ControlBar {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
}

.Button {
  border: none;
  line-height: 2rem;
  padding: 0 1rem;
  background-color: #3eb14f;
  color: white;
  font-size: 1em;
  border-radius: .25em;
  cursor: pointer;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  transition-duration: 0.35s;
}

.Button:hover, .Button:focus {
  transform: translate3d(0, -1px, 0);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  outline: 0;
}

.SearchInput {
  border: 0;
  border-bottom: 1px solid #CCC;
  padding: 5px 0;
  font-size: 1em;
  font-weight: 300;
  background-color: transparent;
  margin: 0 1rem;
}

.SearchInput:disabled {
  opacity: .65;
}

.SearchInput:focus {
  outline: none;
}

.VirtualScroll {
  width: 100%;
  border: 1px solid #e8e8e8;
  margin-top: 1rem;
  padding: .5rem;
  text-align: center;
  background: #e5f7ff;
  background: #D8D6D5;
  box-shadow: inset rgba(0, 0, 0, .15) 0 3px 1px
}

.noRows {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #CCC;
}

nav form {
  margin: 0;
  padding: 0
}

.ItemFinder {
  background: #DCD9D8 url(/img/bricks_30x30.png) fixed;
  min-height: 40rem;
  box-shadow: inset rgba(0, 0, 0, .15) 0 -2px 1px;
  float:left;
  clear:both;
  width:100%;
}

.ItemFinder>div {
  padding: 0
}

.ItemsList>nav {
  background: #eae9e8;
  border-radius: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 3px 2px rgba(0, 0, 0, .15);
  margin-top: -1px
}

.CategoriesBox {
  background: #fff;
  box-shadow: 0 3px 2px rgba(0, 0, 0, .15)
}

.CategoriesBox>ul>li {
  border: 1px solid #ccc;
  margin-top: -1px;
}

.CategoriesBox li>a.li {
  border-radius: 0;
  border: none;
}

.CategoriesBox .scm>a.li {
  border-left: 1rem solid #6D6B6D
}

.CategoriesBox .build>a.li {
  border-left: 1rem solid #DCD9D8
}

.CategoriesBox .deployment>a.li {
  border-left: 1rem solid #D33833
}

.CategoriesBox .pipelines>a.li {
  border-left: 1rem solid #335061
}

.CategoriesBox .containers>a.li {
  border-left: 1rem solid #81B0C4
}

.CategoriesBox .security>a.li {
  border-left: 1rem solid #709aaa
}

.CategoriesBox .general>a.li {
  border-left: 1rem solid #000
}

.GridBox {
  padding: .5rem;
  text-align: center
}

body div .GridBox {
  display: block;
  padding: 0;
  clear:both;
}

body div .GridBox>.Grid {
  display: table;
  padding:0;
  border-top:1px solid #bbb;
}

body div .GridBox>.Grid>div {
  display: table-row-group;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}

body div .GridBox>.Grid>div>a {
  display: table-row;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  postion:static;
  
}

body div .GridBox>.Grid>div>a>div {
  display: table-cell;
  max-height: 4.9rem;
  height: auto;
  padding: .25rem;
  position:static;
  min-height:2.7rem;
  font-size:.8rem;
  border-bottom:1px solid #ccc;
}
body div .GridBox>.Grid>div>a>div.Icon,
body div .GridBox>.Grid>div>a>div.Wiki {display:none}
body div .GridBox>.Grid>div>a>div.Score {white-space:nowrap; font-size:.8rem}
body div .GridBox>.Grid>div>a>div.Title {width:20%}
body div .GridBox>.Grid>div>a>div.Title>h4 {font-size:.85rem; font-weight:bold; color:#5ac; min-height:2.2rem}



body .Item{
  display:block;
}
body .Tile{
    height: auto;
    position: relative;
    width: auto;
    padding: .5rem 1rem .5rem 7rem;
    text-align: left;
    min-height:6rem;
    max-width:60rem
}
body .Tile > .Score, 
body .Tile > .Icon {
  position: absolute;
  left: 1rem;
  width: 5rem;
}
body .Tile > .Score {
  top: 4rem;
  font-size:1rem;
}
body .Tile > .Version {
    margin-bottom: .25rem;
}
body .Tile > .Excerpt {
    height: auto;
    max-height: 3.3rem;
    margin-bottom: .25rem;
    min-height:.5rem
}





.Item {
  display:inline-block;
  vertical-align:top;
  padding:.25rem
}
.Tile {
  display: block;
  border: .1rem solid #ccc;
  font-size: .85rem;
  height: 18rem;
  width:13rem;
  box-sizing: border-box;
  padding: .67rem;
  box-shadow: 0 8px 2px -4px rgba(0,0,0,.15);
  color: #666;
  text-decoration: none !important;
  background: #fff;
  opacity: .85;
  border-radius: 3px;
  text-align:left;
  ztransition: all .05s ease-out;
  position:relative;
}

.Tile:hover {
  border: .1rem solid #999;
  opacity: 1;
  ztransform: scale(1.03);
  z-index:2;
}

.Tile:hover h4 {
  color: #069;
  text-decoration: underline;
}

.Tile .Icon {
  text-align: center;
  margin: .5rem 0 0;
}

.Tile .Icon>i {
  display: inline-block;
  font-size: 1.33rem;
  color: #fff;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  line-height: 3rem;
  font-style: normal;
  margin: -1px 0 0 -1px;
  text-shadow: rgba(0, 0, 0, .5) 1px 2px 1px
}

.Tile .Score {
  margin: 0 0 .67rem
}

.Tile .Score>span:after {
  content: '\2605 \2605 \2605 \2605 \2606';
  display: block;
  text-align: center;
}

.Tile .Version {
  font-size: .75rem;
  margin: -.5rem 0 .5rem;
  color: #999;
}

.Tile .Version span {
  margin-right: .25rem
}

.Tile .Version span.v {
  margin-right: 1rem;
  display: none;
}

.Tile .Version span.c:after {
  content: '+'
}

.Tile .Excerpt {
  white-space: normal;
  line-height: 1.1rem;
  height: 3.3rem;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  margin: 0 0 .67rem;
  word-wrap: break-word;
}

.Tile .Excerpt p, .Tile .Excerpt div {
  display: inline;
}

.Tile .Wiki{
  display:none;
}

.Tile h4:after, .Tile .Excerpt:after {
  display: block;
  content: ' ';
  box-shadow: inset #fff -250px 0 250px -200px;
  height: 19px;
  height: 1.1rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.Tile h4 {
  font-size: 1rem;
  margin: 0 0 .5rem;
  line-height: 1.1rem;
  max-height: 2.2rem;
  overflow: hidden;
  font-weight: normal;
  color: #000;
  font-weight: normal;
  position: relative;
}

.Tile .Authors>div {
  font-size: .75rem;
  display: block;
  color: #59a;
  margin-right: .25rem;
  line-height: 1rem;
}
