---
layout: simplepage
title: Report an issue in a plugin
section: participate
noanchors: true
uneditable: true
---

:css
    .bg-img {
        background-size: cover;
        min-height: 20px;
        background-position: center;
    }
    .bg-img-bug {
        background-color: var(--red);
    }
    .app-button--bug {
        --button-background: var(--red);
        --button-color: var(--red);
    }

    .bg-img-rfe {
        background-color: var(--indigo);
    }
    .app-button--rfe {
        --button-background: var(--indigo);
        --button-color: var(--indigo);
    }

    .bg-img-security {
        background-color: var(--orange);
    }
    .app-button--security {
        --button-background: var(--orange);
        --button-color: var(--orange);
    }

    .bl {
        position: absolute;
        bottom: 8.6%;
        left: 4.4%;
    }
    .p1 {
        margin-bottom: 22%;
    }

%p
    Choose the kind of issue you'd like to report below.
    %strong
        Please be sure to to follow the 
        %a{:href => '/participate/report-issue/' }
            advice on how to report great issues.

.grid-container
    .card
        .bg-img.bg-img-bug
        .content
            %h3
                Bug
            %p.p1
                Report that something is broken.
            %a.app-button.app-button--bug.bl#link-bug{:href => 'https://issues.jenkins.io/secure/CreateIssueDetails!init.jspa?pid=10172&issuetype=1&priority=4' }
                Continue
    .card
        .bg-img.bg-img-rfe
        .content
            %h3
                Improvement
            %p.p1
                Request a new feature or improvement.
            %a.app-button.app-button--rfe.bl#link-rfe{:href => 'https://issues.jenkins.io/secure/CreateIssueDetails!init.jspa?pid=10172&issuetype=2&priority=4' }
                Continue
    .card
        .bg-img.bg-img-security
        .content
            %h3
                Security Issue
            %p.p1
                Report a security issue privately.
                %a{:href => '/security/reporting/' }
                    Learn more...
            %a.app-button.app-button--security.bl#link-security{:href => 'https://issues.jenkins.io/secure/CreateIssueDetails!init.jspa?pid=10180&issuetype=10103&components=17329&summary=[INSERT_PLUGIN_ID_HERE]%20Insert%20Summary%20Here' }
                Continue

:javascript
    // TODO Also pass the plugin name and show it on the UI, but for now this is simpler and probably safer.
    const hash = window.location.hash.substring(1);
    if (hash) {
        const [componentId, pluginId] = hash.split('/');
        if (/^\d+$/.test(componentId)) {
            document.getElementById('link-bug').href = document.getElementById('link-bug').href + "&components=" + componentId;
            document.getElementById('link-rfe').href = document.getElementById('link-rfe').href + "&components=" + componentId;
        }
        if (pluginId && /^[a-zA-Z0-9_-]+$/.test(pluginId)) {
            document.getElementById('link-security').href = document.getElementById('link-security').href.replace('INSERT_PLUGIN_ID_HERE', pluginId);
        }
    }
