.app-blog-page {
  .attrs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;

    & > div {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }
}
