.app-blog-page {
  position: relative;
  max-width: Max(Min(85vw, 1600px), $app-tablet-breakpoint);
  margin: auto;
  padding: 4rem 1rem;

  @media screen and (max-width: $app-mobile-breakpoint) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  @media screen and (max-width: $app-tablet-breakpoint) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .blog-date {
    font-size: 0.85rem;
    font-weight: 800;
    letter-spacing: 1px;
    color: var(--color--secondary);
    text-transform: uppercase;
    margin: 0 0 0.5rem;
  }

  h1 {
    font-size: Max(2rem, Min(2.25vw, 2.55rem));
    font-weight: 800;
    color: var(--color);
    font-family: "Georgia", serif;
  }

  .app-card__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
    font-weight: 500;
    color: var(--color--secondary);

    .app-card__details__authors {
      display: flex;
      align-items: center;
      gap: 1rem;
      flex-wrap: wrap;

      &--compact {
        gap: 0;

        .app-author-link {
          transition: 0.2s ease;

          &:not(:first-of-type) {
            margin-left: -2px;
          }

          img {
            box-shadow: 0 0 0 2px var(--background);
          }

          span {
            display: none;
          }

          &:last-of-type {
            margin-right: 1rem;
          }

          &:hover {
            z-index: 1;
            translate: 0 -2px;
            scale: 1.05;
          }
        }

        &:has(a:hover) {
          .app-author-link:not(:hover) {
            scale: 90%;
            filter: saturate(0.75) blur(0.5px);
          }
        }
      }
    }
  }
}
