.app-blog-page {
  .blog-date {
    font-size: 0.8rem;
    font-weight: 800;
    letter-spacing: 1px;
    color: var(--color--secondary);
    text-transform: uppercase;
    margin: 0 0 0.5rem;
  }

  h1 {
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--color);
    font-family: "Georgia", serif;

    a {
      color: var(--color);
      text-decoration-skip: auto;

      &:active {
        opacity: 0.7;
      }
    }

    @media screen and (max-width: $app-mobile-breakpoint) {
      font-size: 1.6rem;
    }
  }
}

.app-card__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  font-weight: 500;
  color: var(--color--secondary);

  .app-card__details__authors {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;

    &--compact {
      gap: 0;

      .app-author-link {
        position: relative;
        transition: 0.2s ease, margin-left 0s, margin-right 0s;

        &:not(:first-of-type) {
          margin-left: -2px;
        }

        .app-avatar {
          box-shadow: 0 0 0 2px var(--background);
          border-radius: 100%;
        }

        span {
          display: none;
        }

        &:last-of-type {
          margin-right: 1rem;
        }

        @media (hover: hover) {
          &:hover {
            z-index: 1;
            translate: 0 -2px;
            scale: 1.05;

            &::before {
              opacity: 1;
              scale: 1;
              translate: 0 0;
            }
          }
        }

        &:active {
          .app-avatar__image {
            filter: brightness(0.8);
          }
        }

        &::before {
          content: attr(data-user-name);
          position: absolute;
          top: -35px;
          white-space: nowrap;

          --tooltip-color: var(--color);
          --tooltip-box-shadow: 0 0 8px 2px rgba(0, 0, 30, 0.05), 0 0 1px 1px rgba(0, 0, 20, 0.025), 0 10px 20px rgba(0, 0, 20, 0.15);

          color: var(--tooltip-color);
          padding: 0.4rem 0.75rem;
          border-radius: 0.66rem;
          box-shadow: var(--tooltip-box-shadow);
          font-weight: 550;
          font-size: 0.7rem;
          z-index: 2;
          background: var(--background);
          opacity: 0;
          scale: 0.9;
          translate: 0 5px;
          transition: 0.2s ease;
          pointer-events: none;
        }
      }

      &:has(a:hover) {
        .app-author-link:not(:hover) {
          scale: 90%;
          filter: saturate(0.75) blur(0.5px);
        }
      }
    }
  }
}

.app-tags-picker {
  position: relative;
  font-size: 0.9rem;
  color: var(--color);
  font-weight: 500;

  svg {
    translate: 0 1px;
  }

  select {
    appearance: none;
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
  }

  &--active {
    &::before {
      opacity: 0.05;
    }
  }
}
