.app-download-page__release-lines {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
  gap: 0 4rem;
  margin: 60px 0;

  .details {
    display: flex;
    gap: 10px;
  }

  @media screen and (max-width: $app-tablet-breakpoint) {
    display: flex;
    flex-direction: column;
    margin: 0;

    .details {
      flex-direction: column;
      margin-bottom: 30px;
    }
  }
}

.app-download-page__download-header {
  font-size: 1rem;
  font-weight: 500;
}

.app-download-page__downloads {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4rem;
  margin: 10px 0 20px 0;
}

.app-download-page__download-list {
  display: flex;
  flex-direction: column;
  gap: 2px;

  & > .app-button {
    display: grid;
    grid-template-columns: auto 1fr auto;
    --button-background: color-mix(in srgb, var(--color--secondary) 35%, transparent);
    padding: 12px 18px;
    justify-content: start;
    font-size: 1rem;
    gap: 5px 15px;

    @media screen and (max-width: $app-tablet-breakpoint) {
      grid-template-columns: auto 1fr;

      span {
        grid-column: 2;
      }
    }

    &:first-of-type {
      grid-template-columns: auto 1fr;

      div {
        display: flex;
        flex-direction: column;

        .copy-button {
          padding: 8px;
          aspect-ratio: 1;
        }
      }
    }

    &:not(:first-of-type) {
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;
    }

    &:not(:last-of-type) {
      border-bottom-left-radius: 0.25rem;
      border-bottom-right-radius: 0.25rem;
    }

    .app-download-page__sha256 {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: space-between;
      font-size: 0.7rem;

      @media screen and (max-width: $app-tablet-breakpoint) {
        display: none;
      }
    }

    span {
      color: var(--color--secondary);
    }

    svg {
      scale: 110%;
    }
  }
}
