.app-post-page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 100ch;
  min-height: 65rem;
  margin-top: 4rem;
  color: var(--color);
  margin-bottom: 4rem;

  @media screen and (max-width: $app-mobile-breakpoint) {
    margin-top: 0;
    margin-bottom: 0;
  }

  @media screen and (max-width: $app-tablet-breakpoint) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 2.75rem;
    font-weight: 800;
    max-width: 80%;
    margin-bottom: 0;

    @media screen and (max-width: $app-mobile-breakpoint) {
      max-width: unset;
    }

    @media screen and (max-width: $app-tablet-breakpoint) {
      font-size: 2rem;
    }
  }

  h2 {
    font-size: 1.6rem;
    font-weight: 700;
  }

  .post-attrs {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    gap: 1rem;
    color: var(--color--secondary);
    flex-wrap: wrap;
  }

  .submitted {
    display: flex;
    align-items: center;
    gap: 0.5ch;
    font-weight: 500;
  }

  .blog-content {
    margin-bottom: -1.5rem;

    h3 {
      font-size: 1.4rem;
      font-weight: 600;
    }

    .paragraph, h2, h3, hr, table, pre, ul, ol, .imageblock, .listingblock {
      margin: 0 0 1.5rem 0 !important;
    }

    .imageblock {
      background-color: hsl(250, 10%, 95%);
    }

    .imageblock.right, .image.right {
      float: right;
    }

    .imageblock.left, .image.left {
      float: left;
    }

    .imageblock.center, .image.center {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    .imageblock.boxshadow img {
      margin: 5px 5px 5px 5px;
      -moz-box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
    }

    .sectionbody, .sect1, .ulist, .sect2 {
      display: contents;
    }

    .paragraph p, li, li p {
      margin: 0 !important;
      line-height: 1.66;
      font-size: 1.15rem;
    }
  }

  .share-container {
    display: flex;
    margin-left: auto;
    position: relative;
    height: 2rem;

    .share-toggle-button {
      position: relative;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      padding: 0 1rem;
      font-weight: 600;
      font-size: 0.85rem;
      cursor: pointer;
      z-index: 10;
      color: hsl(203, 89%, 47.5%);
      background: hsla(184, 100%, 35%, 0.106);
      border: 1px solid hsla(184, 100%, 20%, 0);;
      border-radius: 0.6rem;
      white-space: nowrap;
      transition: all 0.2s ease;
      
      &::before,
      &::after {
        content: none;
      }
      & > img.post-icon {
        width: 1.1rem;
        height: auto;
        margin-right: 0.1rem;
      }
      &:hover {
        text-decoration: none;
        opacity: 0.9;
      }
    }

    .share-buttons {
      display: flex;
      gap: 0.5rem;
      position: absolute;
      right: 0;
      top: 0;
      transform: translateX(100%);
      opacity: 0;
      transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.3, 1.1), 
                  opacity 0.2s ease;
      z-index: 5;
      height: 100%;
      align-items: center;
      padding-left: 0.5rem;
      pointer-events: none;
      
      a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.2s ease 0.1s;
        
        &::before {
          content: "";
          display: block;
          width: 1.2rem;
          height: 1.2rem;
          -webkit-mask: center/contain no-repeat;
          mask: center/contain no-repeat;
          background-color: currentColor;
          transition: transform 0.2s ease;
        }
        
        &:hover::after {
          content: "";
          position: absolute;
          inset: -0.25rem;
          border-radius: 50%;
          background-color: currentColor;
          z-index: -1;
          opacity: 0.1;
        }
      }
      
      .twitter-share-icon {
        color: hsl(203, 89%, 47.5%);
        &::before {
          -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M22.46 6c-.77.35-1.6.58-2.46.69.88-.53 1.56-1.37 1.88-2.38-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29 0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15 0 1.49.75 2.81 1.91 3.56-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07 4.28 4.28 0 0 0 4 2.98 8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21 16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56.84-.6 1.56-1.36 2.14-2.23z'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M22.46 6c-.77.35-1.6.58-2.46.69.88-.53 1.56-1.37 1.88-2.38-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29 0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15 0 1.49.75 2.81 1.91 3.56-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07 4.28 4.28 0 0 0 4 2.98 8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21 16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56.84-.6 1.56-1.36 2.14-2.23z'/%3E%3C/svg%3E");
        }
      }
      
      .linkedin-share-icon {
        color: #0a66c2;
        &::before {
          -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M20.5 2h-17A1.5 1.5 0 0 0 2 3.5v17A1.5 1.5 0 0 0 3.5 22h17a1.5 1.5 0 0 0 1.5-1.5v-17A1.5 1.5 0 0 0 20.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 1 1 8.3 6.5a1.78 1.78 0 0 1-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0 0 13 14.19V19h-3v-9h2.9v1.3a3.11 3.11 0 0 1 2.7-1.4c1.55 0 3.36.86 3.36 3.66z'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M20.5 2h-17A1.5 1.5 0 0 0 2 3.5v17A1.5 1.5 0 0 0 3.5 22h17a1.5 1.5 0 0 0 1.5-1.5v-17A1.5 1.5 0 0 0 20.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 1 1 8.3 6.5a1.78 1.78 0 0 1-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0 0 13 14.19V19h-3v-9h2.9v1.3a3.11 3.11 0 0 1 2.7-1.4c1.55 0 3.36.86 3.36 3.66z'/%3E%3C/svg%3E");
        }
      }
      
      .mastodon-share-icon {
        color: #6364ff;
        &::before {
          -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M21.327 8.566c0-4.339-2.843-5.61-2.843-5.61-1.433-.658-3.894-.935-6.451-.956h-.063c-2.557.021-5.016.298-6.45.956 0 0-2.843 1.272-2.843 5.61 0 .993-.019 2.181.012 3.441.103 4.243.778 8.425 4.701 9.463 1.809.479 3.362.58 4.612.51 2.268-.126 3.541-.809 3.541-.809l-.075-1.646s-1.621.511-3.441.449c-1.804-.062-3.707-.194-3.999-2.409a4.523 4.523 0 0 1-.04-.621s1.77.433 4.014.536c1.372.063 2.658-.08 3.965-.236 2.506-.299 4.688-1.843 4.962-3.254.434-2.223.398-5.424.398-5.424zm-3.353 5.59h-2.081V9.057c0-1.075-.452-1.62-1.357-1.62-1 0-1.501.647-1.501 1.927v2.791h-2.069V9.364c0-1.28-.501-1.927-1.502-1.927-.905 0-1.357.545-1.357 1.62v5.099H6.026V8.903c0-1.074.273-1.927.823-2.558.566-.631 1.307-.955 2.228-.955 1.065 0 1.872.409 2.405 1.228l.518.869.519-.869c.533-.819 1.34-1.228 2.405-1.228.92 0 1.662.324 2.228.955.549.631.822 1.484.822 2.558v5.253z'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M21.327 8.566c0-4.339-2.843-5.61-2.843-5.61-1.433-.658-3.894-.935-6.451-.956h-.063c-2.557.021-5.016.298-6.45.956 0 0-2.843 1.272-2.843 5.61 0 .993-.019 2.181.012 3.441.103 4.243.778 8.425 4.701 9.463 1.809.479 3.362.58 4.612.51 2.268-.126 3.541-.809 3.541-.809l-.075-1.646s-1.621.511-3.441.449c-1.804-.062-3.707-.194-3.999-2.409a4.523 4.523 0 0 1-.04-.621s1.77.433 4.014.536c1.372.063 2.658-.08 3.965-.236 2.506-.299 4.688-1.843 4.962-3.254.434-2.223.398-5.424.398-5.424zm-3.353 5.59h-2.081V9.057c0-1.075-.452-1.62-1.357-1.62-1 0-1.501.647-1.501 1.927v2.791h-2.069V9.364c0-1.28-.501-1.927-1.502-1.927-.905 0-1.357.545-1.357 1.62v5.099H6.026V8.903c0-1.074.273-1.927.823-2.558.566-.631 1.307-.955 2.228-.955 1.065 0 1.872.409 2.405 1.228l.518.869.519-.869c.533-.819 1.34-1.228 2.405-1.228.92 0 1.662.324 2.228.955.549.631.822 1.484.822 2.558v5.253z'/%3E%3C/svg%3E");
        }
      }
      
      .bluesky-share-icon {
        color: #1185fe;
        &::before {
          -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 11.1c-1.2-2.3-4.5-7-6-7-.3 0-.4.2-.4.3 0 .2 1.2 1.6 2 2.7.8 1.1 1.5 2 1.5 2.9 0 .9-.7 1.7-1.7 1.7-.4 0-.8-.1-1.2-.3-.5-.3-.9-.7-.9-1.2 0-.3.1-.5.3-.7.4-.5 1.2-1 1.9-1 .4 0 .8.2.8.6 0 .2-.1.4-.3.6-.3.3-.6.5-.6 1.1 0 .5.4.9.9.9.6 0 1-.4 1.3-.9.3-.4.5-.9.5-1.5 0-.7-.3-1.4-.8-2.1-.6-.8-1.1-1.6-1.1-2.4 0-.6.3-.9.8-.9 1.7 0 5 5.5 5.9 6.9.1.2.2.3.3.3.1 0 .2-.1.3-.3.9-1.4 4.2-6.9 5.9-6.9.4 0 .8.3.8.9 0 .8-.6 1.6-1.1 2.4-.5.7-.8 1.4-.8 2.1 0 .6.2 1.1.5 1.5.3.4.7.9 1.3.9.5 0 .9-.4.9-.9 0-.5-.3-.8-.6-1.1-.2-.2-.3-.4-.3-.6 0-.4.4-.6.8-.6.7 0 1.5.5 1.9 1 .2.3.3.4.3.7 0 .5-.4.9-.9 1.2-.4.2-.8.3-1.2.3-1 0-1.7-.8-1.7-1.7 0-.9.7-1.8 1.5-2.9.8-1.1 2.1-2.6 2.1-2.8 0-.1-.1-.3-.4-.3-1.6 0-4.9 4.7-6.1 7z'/%3E%3C/svg%3E");
          mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M12 11.1c-1.2-2.3-4.5-7-6-7-.3 0-.4.2-.4.3 0 .2 1.2 1.6 2 2.7.8 1.1 1.5 2 1.5 2.9 0 .9-.7 1.7-1.7 1.7-.4 0-.8-.1-1.2-.3-.5-.3-.9-.7-.9-1.2 0-.3.1-.5.3-.7.4-.5 1.2-1 1.9-1 .4 0 .8.2.8.6 0 .2-.1.4-.3.6-.3.3-.6.5-.6 1.1 0 .5.4.9.9.9.6 0 1-.4 1.3-.9.3-.4.5-.9.5-1.5 0-.7-.3-1.4-.8-2.1-.6-.8-1.1-1.6-1.1-2.4 0-.6.3-.9.8-.9 1.7 0 5 5.5 5.9 6.9.1.2.2.3.3.3.1 0 .2-.1.3-.3.9-1.4 4.2-6.9 5.9-6.9.4 0 .8.3.8.9 0 .8-.6 1.6-1.1 2.4-.5.7-.8 1.4-.8 2.1 0 .6.2 1.1.5 1.5.3.4.7.9 1.3.9.5 0 .9-.4.9-.9 0-.5-.3-.8-.6-1.1-.2-.2-.3-.4-.3-.6 0-.4.4-.6.8-.6.7 0 1.5.5 1.9 1 .2.3.3.4.3.7 0 .5-.4.9-.9 1.2-.4.2-.8.3-1.2.3-1 0-1.7-.8-1.7-1.7 0-.9.7-1.8 1.5-2.9.8-1.1 2.1-2.6 2.1-2.8 0-.1-.1-.3-.4-.3-1.6 0-4.9 4.7-6.1 7z'/%3E%3C/svg%3E");
        }
      }
    }
    
    &.expanded {
      .share-toggle-button {
        opacity: 0;
        pointer-events: none;
        width: 0;
        padding: 0;
        margin: 0;
        overflow: hidden;
      }
      
      .share-buttons {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
        
        a {
          opacity: 1;
        }
      }
      
      .share-toggle-button::after {
        transform: rotate(90deg);
      }
    }
    
    @media screen and (max-width: $app-mobile-breakpoint) {
      display: none;
    }
  }
}
