
.app-post-wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}


.app-post-toc {
  position: fixed;
  left: max(1rem, calc((100vw - 100ch - 250px) / 2 - 250px));
  top: 6rem;
  width: 220px;
  max-height: calc(100vh - 8rem);
  overflow-y: auto;
  padding-right: 1rem;
  z-index: 100;


  @media screen and (max-width: 1400px) {
    display: none;
  }

  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color--secondary);
    border-radius: 4px;
  }
}

.app-post-toc__nav {
  border-left: 2px solid var(--border-color, hsl(0, 0%, 85%));
  padding-left: 1rem;
}

.app-post-toc__title {
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: var(--color--secondary);
  margin: 0 0 0.75rem 0;
}

.app-post-toc__list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 0.5rem;
  }

  a {
    display: block;
    font-size: 0.875rem;
    line-height: 1.4;
    color: var(--color--secondary);
    text-decoration: none;
    transition: color 0.2s ease, border-color 0.2s ease;
    padding: 0.25rem 0;

    &:hover {
      color: var(--link-color, #0066cc);
    }

    &.active {
      color: var(--link-color, #0066cc);
      font-weight: 500;
    }
  }

  ul {
    list-style: none;
    margin: 0.25rem 0 0 1rem;
    padding: 0;

    a {
      font-size: 0.8125rem;
    }
  }
}

.app-post-page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 100ch;
  min-height: 65rem;
  margin-top: 4rem;
  color: var(--color);
  margin-bottom: 4rem;

  @media screen and (max-width: $app-mobile-breakpoint) {
    margin-top: 0;
    margin-bottom: 0;
  }

  @media screen and (max-width: $app-tablet-breakpoint) {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  h1 {
    font-size: 2.75rem;
    font-weight: 800;
    max-width: 80%;
    margin-bottom: 0;

    @media screen and (max-width: $app-mobile-breakpoint) {
      max-width: unset;
    }

    @media screen and (max-width: $app-tablet-breakpoint) {
      font-size: 2rem;
    }
  }

  h2 {
    font-size: 1.6rem;
    font-weight: 700;
  }

  .post-attrs {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    gap: 1rem;
    color: var(--color--secondary);
    flex-wrap: wrap;
  }

  .submitted {
    display: flex;
    align-items: center;
    gap: 0.5ch;
    font-weight: 500;
  }

  .blog-content {
    margin-bottom: -1.5rem;

    h3 {
      font-size: 1.4rem;
      font-weight: 600;
    }

    .paragraph, h2, h3, hr, table, pre, ul, ol, .imageblock, .listingblock {
      margin: 0 0 1.5rem 0 !important;
    }

    .imageblock {
      background-color: hsl(250, 10%, 95%);
    }

    .imageblock.right, .image.right {
      float: right;
    }

    .imageblock.left, .image.left {
      float: left;
    }

    .imageblock.center, .image.center {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    .imageblock.boxshadow img {
      margin: 5px 5px 5px 5px;
      -moz-box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
      box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
    }

    .sectionbody, .sect1, .ulist, .sect2 {
      display: contents;
    }

    .paragraph p, li, li p {
      margin: 0 !important;
      line-height: 1.66;
      font-size: 1.15rem;
    }
  }

  .share-buttons__container {
    margin-left: auto;
    height: 2rem;

    span {
      color: var(--color--secondary);
    }

    @media screen and (max-width: $app-mobile-breakpoint) {
      display: none;
    }
  }
}
