.app-releases__list {
  list-style-type: none;

  position: relative;
  margin: 0 0 10px;
  padding: 0;

  li {
    position: relative;
    padding-left: 25px;

    strong {
      font-weight: 550;
    }

    &::after {
      content: "";
      position: absolute;
      top: 11px;
      left: 8px;
      width: 6px;
      height: 6px;
      background: color-mix(in srgb, var(--app-releases__tag-color) 20%, transparent);
      border: 1px solid color-mix(in srgb, var(--app-releases__tag-color) 20%, transparent);
      border-radius: 100px;
    }
  }

  &--security {
    --app-releases__tag-color: var(--orange);
    font-weight: 550;
  }

  &--majorrfe {
    --app-releases__tag-color: var(--purple);
  }

  &--rfe {
    --app-releases__tag-color: var(--blue);
  }

  &--majorbug {
    --app-releases__tag-color: color-mix(in srgb, var(--red) 70%, hsl(212, 100%, 5%));
  }

  &--bug {
    --app-releases__tag-color: var(--red);
  }
}

.app-releases__list__items {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.app-releases__list__header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 50px;

  .app-releases__item__title {
    text-wrap: nowrap;

    a {
      color: var(--color) !important;
    }
  }
}

.app-releases__item__date {
  font-weight: 500;
  color: var(--color--secondary);

  &--tight {
    margin-top: -15px;
  }
}

.app-releases__references {
  font-size: 0.75rem;
}

.app-releases__notable-changes {
  font-weight: 550;
}

.app-releases__tag {
  --app-releases__tag-color: currentColor;
  --app-releases__tag-opacity: 10%;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-self: start;
  border-radius: 100px;
  line-height: 1;
  font-size: 0.6rem;
  padding: 5px 10px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: var(--app-releases__tag-color);
  background: color-mix(in srgb, var(--app-releases__tag-color) var(--app-releases__tag-opacity), transparent);
  border: 1px solid color-mix(in srgb, var(--app-releases__tag-color) 12%, transparent);

  &--security {
    --app-releases__tag-color: var(--orange);
  }

  &--majorrfe {
    --app-releases__tag-color: var(--purple);
    --app-releases__tag-opacity: 15%;
  }

  &--rfe {
    --app-releases__tag-color: var(--blue);
  }

  &--majorbug {
    --app-releases__tag-color: var(--red);
    --app-releases__tag-opacity: 15%;
  }

  &--bug {
    --app-releases__tag-color: var(--red);
  }
}
