.app-sigs {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h1 {
    margin-bottom: 0;
  }

  p {
    font-weight: 450;
    color: var(--color--secondary);
    margin: 0;
  }

  &__item {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.5rem;

    & > div:last-of-type {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      & > a:first-of-type::before {
        content: "";
        position: absolute;
        inset: 0;
        bottom: 45px;
        z-index: -1;
      }
    }

    a {
      display: inline-flex;
      z-index: 0;
    }

    h2 {
      font-size: 1.125rem;
      font-weight: 500;
      margin: 0;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      list-style-type: none;
      padding: 0;

      li {
        display: contents;
      }
    }

    &__icon {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90px;
      aspect-ratio: 1;
      border-radius: 0.75rem;
      overflow: hidden;
      z-index: 0;

      &::before {
        content: "";
        position: absolute;
        top: calc(50% - 75px);
        left: calc(50% - 75px);
        width: 150px;
        height: 150px;
        background: var(--background);
        background-size: cover;
        background-position: center;
        filter: saturate(2.5) blur(20px);
        opacity: 0.15;
        z-index: -1;
      }

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        background: color-mix(in srgb, var(--color), transparent);
        border: 2px solid var(--color);
        opacity: 0.06;
      }

      svg {
        width: 55%;
        height: 55%;
      }

      img {
        width: auto;
        height: 66%;
      }

      @media (max-width: 768px) {
        width: 50px;
      }
    }
  }
}
