.app-use-cases {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;

  &__card {
    display: inline-flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    border-radius: 0.66rem;
    padding: 1rem;
    color: rgba(0, 0, 0, .9) !important;

    h3 {
      font-size: 1.3rem;
      min-height: 3rem;
      text-align: center;
    }

    img {
      height: 96px;
      opacity: .55;
      margin: auto;
    }

    &.dark {
      color: rgba(255, 255, 255, .9) !important;

      img {
        filter: invert(1);
      }
    }
  }
}
