%div{:id => 'block-block-15', :class => 'block block-block even'}
  %div.content
    %center
      %a{:href => 'http://www.wakaleo.com/books/jenkins-the-definitive-guide'}
        %img{:src => 'https://web.archive.org/web/*/https://agentdero.cachefly.net/continuousblog/images/jenkins-cover-small.png',
          :border => 0,
          :width => 220,
          :alt => 'Jenkins: The Definitive Guide'}/
      %br/
      %a{:href => 'https://oreilly.com/catalog/0636920010326'}
        %strong
          Buy the book!
