%link{:href => '/assets/bower/jquery-ui/themes/base/all.css', :rel => 'stylesheet', :media => 'screen'}/
%script{:src => '/assets/bower/jquery/jquery.min.js'}
%script{:src => '/assets/bower/jquery-ui/jquery-ui.min.js'}
%link{:href => '/css/download.css', :rel => 'stylesheet', :media => 'screen'}/

%div{:id => 'block-block-15', :class => 'block block-block even'}
  %h3
    Download

  .content
    #download-tabs
      %ul.tab-bar
        %li
          %a{:href => '#release'}
            Release
        %li
          %a{:href =>'#stable'}
            Long-Term Support Release

      #release.tab
        %dl
          %dt
            Java Web Archive (.war)
          %dd
            %div
              %a{:href => 'http://get.jenkins.io/war/latest/jenkins.war'}
                %strong
                  Latest:
                  = site.jenkins.latest
            %div.release-block-small
              %a{:href => '/changelog'}
                changelog
              |
              %a{:href => 'http://get.jenkins.io/war/'}
                past releases

          %dt Native packages
          %dd.release-block-platforms
            %div
              %img{:src => "/images/os/win_other.png"}
                %a.release-block-soft{:href => "http://get.jenkins.io/windows/latest", :onclick => "return downloadWithThanks('/content/thank-you-downloading-windows-installer')"} Windows
            %div
              %img{:src => "/images/os/ubuntu.png"}
                %a.release-block-soft{:href => "http://pkg.jenkins.io/debian/"} Ubuntu/Debian
            %div
              %img{:src => "/images/os/redhat.png"}
                %a.release-block-soft{:href => "http://pkg.jenkins.io/rpm/"} Red Hat/Fedora/Alma/Rocky/CentOS
            %div
              %img{:src => "/images/os/os_macosx.png"}
                %a.release-block-soft{:href => "http://get.jenkins.io/osx/latest", :onclick => "return downloadWithThanks('/content/thank-you-downloading-os-x-installer')"} Mac OS X
            %div
              %img{:src => "/images/os/opensuse.png"}
                %a.release-block-soft{:href => "http://pkg.jenkins.io/rpm/"} openSUSE
            %div
              %img{:src => "/sites/default/files/images/freebsd.png"}
                %a.release-block-soft{:href => "https://www.freshports.org/devel/jenkins"} FreeBSD
            %div
              %img{:src => "/images/os/os_openbsd.png"}
                %a.release-block-soft{:href => "http://openports.se/devel/jenkins/devel"} OpenBSD
            %div
              %img{:src => "/images/os/os_gentoo.png"}
                %a.release-block-soft{:href => "https://packages.gentoo.org/packages/dev-util/jenkins-bin"} Gentoo
          %dt Docker
          %dd#release-block-platforms
            %div
              %a.release-block-soft{:href => "https://registry.hub.docker.com/u/jenkinsci/jenkins/"}
                %tt docker pull jenkinsci/jenkins
      #stable.tab
        %dl
          %dt Java Web Archive (.war)
          %dd{:style => "margin-bottom:1em"}
            %div
              %a{:href => "http://get.jenkins.io/war-stable/latest/jenkins.war"}
                %strong
                  Older but stable:
                  = site.jenkins.stable
            .release-block-small{:style => "text-align:right"}
              %a.release-block-soft{:href => "/changelog-stable"} changelog
              |
              %a.release-block-soft{:href => "http://get.jenkins.io/war-stable/"} past releases
              |
              %a.release-block-soft{:href => "/stable-rc"} RC
            %br/
            %div{:style => "text-align:right"}
              %a{:href => "/download/lts/"}
                %strong What is LTS?
          %dt Native packages
          %dd.release-block-platforms
            %div
              %img{:src => "/images/os/win_other.png"}
                %a.release-block-soft{:href => "http://get.jenkins.io/windows-stable/latest", :onclick => "return downloadWithThanks('/content/thank-you-downloading-windows-installer#stable')"} Windows
            %div
              %img{:src => "/images/os/ubuntu.png"}
                %a.release-block-soft{:href => "http://pkg.jenkins.io/debian-stable/"} Ubuntu/Debian
            %div
              %img{:src => "/images/os/redhat.png"}
                %a.release-block-soft{:href => "http://pkg.jenkins.io/rpm-stable/"} Red Hat/Fedora/Alma/Rocky/CentOS
            %div
              %img{:src => "/images/os/os_macosx.png"}
                %a.release-block-soft{:href => "http://get.jenkins.io/osx-stable/latest", :onclick => "return downloadWithThanks('/content/thank-you-downloading-os-x-installer#stable')"} Mac OS X
            %div
              %img{:src => "/images/os/opensuse.png"}
                %a.release-block-soft{:href => "http://pkg.jenkins.io/rpm-stable/"} openSUSE
            %div
              %img{:src => "/sites/default/files/images/freebsd.png"}
                %a.release-block-soft{:href => "https://www.freshports.org/devel/jenkins-lts"} FreeBSD
            %div
              %img{:src => "/images/os/os_openbsd.png"}
                %a.release-block-soft{:href => "http://openports.se/devel/jenkins/stable"} OpenBSD
            %div
              %img{:src => "/images/os/os_gentoo.png"}
                %a.release-block-soft{:href => "https://packages.gentoo.org/packages/dev-util/jenkins-bin"} Gentoo
        %dt Docker
        %dd#release-block-platforms
          %div
            %a.release-block-soft{:href => "https://registry.hub.docker.com/_/jenkins/"}
              %tt docker pull jenkins

:javascript
  $(function(){
    if (window.location.pathname == '/changelog-stable' || window.location.pathname == '/stable-rc') {
      $("#download-tabs").tabs({ selected: 1 });
    } else {
      $("#download-tabs").tabs();
    }
    $("#download-tabs, #download-tabs .ui-tabs-nav, #download-tabs .ui-tabs-nav > *" )
      .removeClass( "ui-corner-all ui-corner-top" );
  });

  function downloadWithThanks(href) {
    window.location = href;
    return false;
  }

:css
  .ui-widget { font-family: inherit !important; }
  .ui-widget-content { color:inherit !important; }
  .ui-widget-content .tab a { color: #D24939 !important; }
