%div{:style => 'float: right; margin-right: 5px; clear: all;'}
  %a{:href => "http://feeds.feedburner.com/ContinuousBlog",
    :title => "Subscribe to my feed",
    :rel => "alternate",
    :type => "application/rss+xml"}
    %img{:src => "//feedburner.google.com/fb/images/pub/feed-icon16x16.png",
      :alt => "RSS feed",
      :style => "border:0"}/
