%div#navbar{:class => 'clearfloat'}
  %div#page-bar
    %ul.menu
      %li.leaf.first
        %a{:href => "/node", :title => "Blog"}
          Blog

      %li.expanded
        %a{:href => "/", :title => ""}
          Participate
        %ul.menu
          %li.leaf.first
            %a{:href => "/content/mailing-lists", :title => "Browse Jenkins mailing list archives and/or subscribe to lists"}
              Mailing Lists
          %li.leaf
            %a{:href => "/content/chat", :title => "Chat with the rest of the Jenkins community on IRC"}
              Chat
          %li.leaf
            %a{:href => "https://twitter.com/jenkinsci", :title => "Check out @jenkinsci on Twitter"}
              Twitter
          %li.leaf
            %a{:href => "/content/event-calendar", :title => "Calendar for Jenkins events"}
              Event Calendar
          %li.leaf
            %a{:href => "https://wiki.jenkins-ci.org/display/JENKINS/Office+Hours", :title => "Hangouts-based online meeting"}
              Office Hours
          %li.leaf
            %a{:href => "http://jenkins.meetup.com/", :title => "Meetups"}
              Meetups
          %li.leaf.last
            %a{:href => "https://reddit.com/r/jenkinsci", :title => "Latest Jenkins related news on /r/jenkinsci"}
              \/r/jenkinsci

      %li.expanded
        %a{:href => "/", :title => "View use-case specific docs"}
          Use-cases
        %ul.menu
          - # Find all our solution pages and then sort by the `usecase` property in their front-matter
          - # This will make the ordering of the submenu nice and consistent for users
          - site.pages.select { |p| p.source_path =~ /solutions/ }.sort_by! { |p| p.usecase }.each do |page|
            %li.leaf
              %a{:href => page.url, :title => page.title}
                = page.usecase

      %li.expanded
        %a{:href => "/", :title => "Contribute to project"}
          Resources
        %ul.menu
          %li.leaf.first
            %a{:href => "https://wiki.jenkins-ci.org/display/JENKINS/Issue+Tracking", :title => "JIRA for Jenkins"}
              Bug Tracker
          %li.leaf
            %a{:href => "https://wiki.jenkins-ci.org/", :title => "Jenkins Wiki"}
              Wiki
          %li.leaf.last
            %a{:href => "https://ci.jenkins-ci.org/", :title => "Jenkins own Jenkins install"}
              CI

      %li.leaf
        %a{:href => "/conduct", :title => "Jenkins project Code of Conduct"}
          Conduct
      %li.leaf
        %a{:href => "/press", :title => "Jenkins press information"}
          Press

      %li.leaf
        %a{:href => "/donate", :title => "Donate to Jenkins"}
          Donate
