%div#navbar{:class => 'clearfloat'}
  %div#page-bar
    %ul.menu
      %li.leaf.first
        %a{:href => "/node", :title => "Blog"}
          Blog
      %li.expanded
        %a{:href => "/", :title => ""}
          Connect
        %ul.menu
          %li.leaf.first
            %a{:href => "/content/mailing-lists", :title => "Browse Jenkins mailing list archives and/or subscribe to lists"}
              Mailing Lists
          %li.leaf
            %a{:href => "/content/chat", :title => "Chat with the rest of the Jenkins community on IRC"}
              Chat
          %li.leaf
            %a{:href => "https://twitter.com/jenkinsci", :title => "Check out @jenkinsci on Twitter"}
              Twitter
          %li.leaf
            %a{:href => "/content/event-calendar", :title => "Calendar for Jenkins events"}
              Event Calendar
          %li.leaf
            %a{:href => "https://wiki.jenkins-ci.org/display/JENKINS/Office+Hours", :title => "Hangouts-based online meeting"}
              Office Hours
          %li.leaf
            %a{:href => "http://www.meetup.com/pro/jenkins/", :title => "Meetups"}
              Meetups
          %li.leaf.last
            %a{:href => "https://reddit.com/r/jenkinsci", :title => "Latest Jenkins related news on /r/jenkinsci"}
              reddit

      %li.expanded
        %a{:href => "/", :title => "Solution pages"}
          Use-cases
        %ul.menu
      %li.leaf
        %a{:href => "https://wiki.jenkins-ci.org/display/JENKINS/Issue+Tracking", :title => "JIRA for Jenkins"}
          Bug Tracker
      %li.leaf
        %a{:href => "https://wiki.jenkins-ci.org/", :title => "Jenkins Wiki"}
          Wiki
      %li.leaf
        %a{:href => "https://ci.jenkins-ci.org/", :title => "Jenkins own Jenkins install"}
          CI
      %li.leaf
        %a{:href => "/conduct", :title => "Jenkins project Code of Conduct"}
          Conduct
      %li.leaf
        %a{:href => "/press", :title => "Jenkins press information"}
          Press
      %li.leaf
        %a{:href => "/donate", :title => "Donate to Jenkins"}
          Donation
