%div{:id => 'block-block-8', :class => 'block block-block odd'}
  %h3
    Resources
  %div.content
    %big
      %p
        %a{:href => '/calendar'}
          Calendar
      %p
        %a{:href => 'https://wiki.jenkins-ci.org/'}
          Wiki
      %p
        %a{:href => 'https://issues.jenkins-ci.org/'}
          Issues
      %p
        %a{:href => 'https://ci.jenkins-ci.org/'}
          Jenkins-on-Jenkins
