---
layout: simplepage
title: Jenkins Documentation
---

- book_dir = File.expand_path(File.dirname(__FILE__) + '/book')

%p
  Jenkins is an automation engine with an unparalleled plugin ecosystem to
  support all of your favorite tools in your delivery pipelines, whether your
  goal is continuous integration, automated testing, or continuous delivery.


%div
  %h3
    %a{ href: "#setup", title: "Installation" } Installation and configuration

  %ul
    %li
      %a{ href: "../download", title: "Install"}How dow I install Jenkins?
    %li
      %a{ href: "setup"}How do I configure Jenkins?
    %li
      %a{ href: "secure"}How do I secure Jenkins?

%div
  %h3
    %a{ href: "#pipeline", title: "Pipeline" }
      Pipeline

  %ul
    %li
      %a{ href: "pipeline" }How do I start with Pipeline?
    %li
      %a{ href: "pipeline/jenkinsfile"}Getting Started with Jenkinsfile?
    %li
      %a{ href: "pipleine/cookbook"}Pipeline Cookbook?

%hr/

%div
  %h3
    %a{href: 'book'}
      Handbook

  %p
    The Jenkins Handbook is a collection of in-depth chapters describing the
    various important aspects of using Jenkins in detail.

  %h4
    Chapters
  %div
    %ul
      - sections_from(book_dir).each do |section, file, url, children|
        /
          This section provided by the following document:
          = File.basename(file)
        %li
          %a{:href => url}
            = section
