<!DOCTYPE html>
%html
  %head
    %title
      = page.title
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}/
    %meta{:'name' => 'description', :content => 'Jenkins is an open source automation server'}/
    = partial('scriptlinks.html.haml')
  %body
    = partial('toptoolbar.html.haml', :section=>'doc', :specific=>'doc')
    = partial('intro.html.haml',:className => 'tint')

    .container
      .row.body
        .col-md-1
        .col-md-8
          %h1
            Jenkins Documentation

          %h2
            Introduction
          %p Jenkins is an automation engine with an unparalleled plugin ecosystem to support all of your favorite tools in your delivery pipelines, whether your goal is continuous integration, automated testing, or continuous delivery.
          %p
          %h3
            %a{ href: "#setup", title: "Installation" } Installation and configuration

          %ul
            %li
              %a{ href: "../download", title: "Install"}How dow I install Jenkins?
            %li
              %a{ href: "setup"}How do I configure Jenkins?
            %li
              %a{ href: "secure"}How do I secure Jenkins?
          %p
          %h3
            %a{ href: "#pipeline", title: "Pipeline" }Pipeline

          %ul
            %li
              %a{ href: "pipeline" }How do I start with Pipeline?
            %li
              %a{ href: "pipeline/jenkinsfile"}Getting Started with Jenkinsfile?
            %li
              %a{ href: "pipleine/cookbook"}Pipeline Cookbook?
