---
layout: simplepage
title: Jenkins Documentation
---

- book_dir = File.expand_path(File.dirname(__FILE__) + '/book')

%p
  Jenkins is an automation engine with an unparalleled plugin ecosystem to
  support all of your favorite tools in your delivery pipelines, whether your
  goal is continuous integration, automated testing, or continuous delivery.

%p
  The links below provide links to various documentation sources.

%div
  %h3
    %a{ name: "pipeline", title: "Pipeline" }
      Pipeline

  %ul
    %li
      %a{ href: "pipeline" }How do I start with Pipeline?
    %li
      %a{ href: "pipeline/jenkinsfile"}Getting Started with Jenkinsfile?
    %li
      %a{ href: "pipeline/steps"}Pipeline Steps Reference

%hr/

%div
  %h3
    %a{href: 'book'}
      Handbook

  %p
    The Jenkins Handbook is a collection of in-depth chapters describing the
    various important aspects of using Jenkins in detail.

  %h4
    Chapters
  %div
    %ul
      - sections_from(book_dir).each do |section, file, url, children|
        /
          This section provided by the following document:
          = File.basename(file)
        %li
          %a{:href => url}
            = section

  %div
    %h3
      Solution pages
      
    %p
      Solution pages describe use-cases for particular Jenkins application areas.
      
    %ul
      - site.solutions.keys.sort.each do |key|
        - link = "/solutions/#{key}"
        %li.leaf
          %a{:href => link}
            = site.solutions[key].usecase
          
  %div
    %h3
      Jenkins Wiki
    
    %p
      The information on Wiki may be a bit outdated, but you can use it as 
      additional information source.
    
    %ul
      %li
        %a{href: "https://wiki.jenkins-ci.org/display/JENKINS/Meet+Jenkins"}Jenkins introduction
      %li
        %a{href: "https://wiki.jenkins-ci.org/display/JENKINS/Use+Jenkins"}Jenkins guidelines for users and administrators
      %li
        %a{href: "https://wiki.jenkins-ci.org/display/JENKINS/Plugins"}Plugin documentation
      %li
        %a{href: "https://wiki.jenkins-ci.org/display/JENKINS/Containers"}Web container usage specifics
      %li
        %a{href: 'https://wiki.jenkins-ci.org/display/JENKINS/Extend+Jenkins'}Plugin development guides
  
  %div
    %h3
      Contributing documentation to the website
      
    %p
      Jenkins community enourages everybody to improve the documentation on this website.
      It can be easily done if you have a GitHub account.
    
    %p
      See the 
      %a{href: 'https://github.com/jenkins-infra/jenkins.io/blob/master/CONTRIBUTING.adoc#adding-documentation'}guidelines
      in the website repository.
