---
layout: simplepage
title: Jenkins Documentation
section: doc
---

- book_dir = File.expand_path(File.dirname(__FILE__) + '/book')

%p
  Jenkins is an automation engine with an unparalleled plugin ecosystem to
  support all of your favorite tools in your delivery pipelines, whether your
  goal is continuous integration, automated testing, or continuous delivery.


%div
  %h3
    %a{ name: "pipeline", title: "Pipeline" }
      Pipeline

  %ul
    %li
      %a{:href => 'pipeline'}
        Getting Started with Pipeline
    %li
      %a{:href => 'pipeline/jenkinsfile'}
        Getting Started with the Jenkinsfile
    %li
      %a{:href => 'pipeline/steps'}
        Pipeline Steps Reference

%hr/

%div
  %h3
    %a{href: 'book'}
      Handbook

  %p
    The Jenkins Handbook is a collection of in-depth chapters describing the
    various important aspects of using Jenkins in detail.

  %h4
    Chapters
  %div
    %ul
      - sections_from(book_dir).each do |section, file, url, children|
        /
          This section provided by the following document:
          = File.basename(file)
        %li
          %a{:href => url}
            = section

%hr/

%div
  %h3
    %a{:href => '#developer', :name => 'developer'}
      Developer docs

  %p
    For developers wishing to hack on, or extend Jenkins we have a number of
    documentation resources available. The 
    %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Extend+Jenkins'}
      %strong
        Extend Jenkins
    page contains a wide variety of developer contributed documentation and can be a good start.
  %p
    Plugin authors may also find the
    %a{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Extension+points'}
      %strong
        Extension Points
    catalogue to be a useful reference document.

  %h4
    Javadocs
  %div
    %ul
      %li
        %a{:href => 'http://javadoc.jenkins.io/'}
          Latest
    %strong
      LTS baselines
    %ul
      - ['1.554', '1.565', '1.580', '1.596', '1.609', '1.625', '1.642', '1.651', '2.7'].reverse.each do |version|
        %li
          %a{:href => "http://javadoc.jenkins.io/archive/jenkins-#{version}"}
            = version

