---
layout: documentation
title: "Jenkins LTS Upgrade Guide"
---

%p
  This section highlights important changes for administrators upgrading Jenkins LTS. Each section covers the upgrade from the previous LTS release, sections on versions x.y.1 cover the upgrade from the last release of the previous LTS line. if you are skipping LTS releases when upgrading, it is recommended to read the sections for all releases in between.

- guide_dir = File.expand_path(File.dirname(__FILE__) + '/upgrade-guide')
%ul
  - sections_from(guide_dir).reverse_each do |section, file, url, children|
    %li
      %a{:href => url}
        = section
      %ul
        - children.each do |section, file, sect_url, sect_children|
          %li
            %a{:href => "#{url}##{sect_url}"}
              = section
