---
layout: default
title: "{{ title }}"
description: "{{ description }}"
opengraph:
  image: "{{ opengraphImage }}"
uneditable: true
---
- # This page is required by the download index pages at updates.jenkins.io --

:css
  .artifact-list {
    padding: 0;
  }
  .artifact-list li {
    list-style: none;
    margin-bottom: .5rem;
    align-items: center;
  }
  .artifact-list .version {
    background-image: url(https://www.jenkins.io/images/jar.svg);
    background-size: 24px;
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .artifact-list .checksums {
    font-size: .7rem;
  }
  .artifact-list .core-dependency {
    font-size: .7rem;
  }
  .subtitle {
    color: #999;
  }

  @media (min-width: 768px) {
    .artifact-list {
      display: table;
    }
    .artifact-list li {
      display: table-row;
    }
    .version {
      display: table-cell;
      padding-left: 2rem;
      vertical-align: middle;
    }
    .artifact-list .core-dependency {
      margin-bottom: 10px;
    }
  }

.container
  %h1.mt-3 {{ title }}
  .subtitle.mb-2 {{ subtitle }}
  %ul.artifact-list {{ content }}
