.app-container {
  position: relative;
  max-width: Max(Min(85vw, 1600px), $app-tablet-breakpoint);
  width: 100%;
  margin-inline: auto;
  padding: 3.5rem 1rem;
  min-height: 80vh;

  @media screen and (max-width: $app-tablet-breakpoint) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  &--compact {
    max-width: Max(Min(85vw, 850px), $app-tablet-breakpoint);
  }
}
