.app-container {
  position: relative;
  max-width: Max(Min(85vw, 1600px), $app-tablet-breakpoint);
  width: 100%;
  margin-inline: auto;
  padding: 3.5rem 1rem;
  min-height: 80vh;

  @media screen and (max-width: $app-tablet-breakpoint) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.app-TODO-ultrawide-container {
  position: relative;
  max-width: 2000px;
  width: 100%;
  margin-inline: auto;
  padding: 2rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;

  & > div:last-of-type {
    display: none;
  }

  @media screen and (min-width: 700px) {
    display: grid;
    padding: 3rem;
    gap: 3rem;
    grid-template-columns: 280px minmax(0, 1fr);
  }

  @media screen and (min-width: 1400px) {
    padding: 3.5rem 5rem;
    grid-template-columns: 280px minmax(0, 1fr) 280px;
    gap: 6.25rem;

    & > div:last-of-type {
      display: unset;
    }
  }
}