a {
  color: var(--link-color);
  text-decoration-thickness: 2px;
  text-decoration-skip: none;
  text-underline-offset: 2px;

  &:hover {
    color: var(--link-color--hover);
  }

  &:active, &:focus {
    color: var(--link-color--active);
  }

  &:focus-visible {
    outline: 2px solid var(--color);
  }
  &.current {
    text-decoration: none;
  }
}
