h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-size: 2.25rem;
  font-weight: 700;
}

h3 {
  font-size: 1.75rem;
  font-weight: 700;
}

h4 {
  font-size: 1.375rem;
  font-weight: 700;
}

h5 {
  font-size: 1.125rem;
  font-weight: 700;
}

h6 {
  font-size: 1rem;
  font-weight: 700;
}

.app-description {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  font-weight: 450;
  color: var(--color--secondary);
}
