---
layout: changelog
title: Changelog Archive
show_ratings: false
---

.app-banner{:style => 'margin: 0 0 2rem 0'}
  This is the changelog archive.
  Recent changelogs can be found
  %a{:href => '/changelog/'}
    here.

.ratings
  - # source: https://github.com/jenkins-infra/jenkins.io/blob/master/content/_data/changelogs/weekly.yml
  - site.changelogs[:weekly].reverse.select { |release| Gem::Version.new(release.version) <= Gem::Version.new(site.jenkins.latest) }[30..-1].each do | release |
    = partial('release-header.html.haml', :release => release)
    %div.app-releases__list__items
      = partial('changelog-changes.html.haml', :changes => release.changes)

= partial('changelog-old.html')
