- author = page.author
- author.avatar = Dir.glob("content/images/avatars/#{page.authorId}.{bmp,gif,ico,jpg,jpeg,png,svg}").first
- if author.avatar
  - author.avatar.sub!('content','')
  %div.app-avatar{:class => "app-avatar-image"}
    %img.app-avatar__image{:src => expand_link(author.avatar), :alt => author.name, :loading => 'lazy', :onload => 'this.style.opacity = 1'}
- else
  %div.app-avatar{:style => "min-width: 64px; width: 25vw; max-width: 128px"}
