- author = page.author
- author.avatar = Dir.glob("content/images/avatars/#{page.authorId}.{bmp,gif,ico,jpg,jpeg,png,svg}").first
- if author.avatar
  - author.avatar.sub!('content','')
  %img.author.logo{:src => expand_link(author.avatar), :alt => author.name, :width => "128px"}
- else
  %img.author.logo{:src => expand_link("images/logos/transparent/transparent.svg"), :alt => author.name, :width => "128px"}
