%div{:id => 'block-block-15', :class => 'block block-block even'}
  %h3
    Recent Blog Posts

  %div.content
    %div.item-list
      %ul
        - for post in site.posts[0...6]
          %li.post
            %a{:href => post.url}
              = post.title
