.bloggers
  %h4
    Recent authors

  %ul.authors
    %li.auth
      %a.icon-jenkins-head
    %li.auth
      %a.icon-jenkins-head
    %li.auth
      %a.icon-jenkins-head
    %li.auth
      %a.icon-jenkins-head
    %li.auth
      %a.icon-jenkins-head
    %li.auth
      %a.icon-jenkins-head
    %li.auth
      %a.icon-jenkins-head
    %li.auth
      %a.icon-jenkins-head
    %li.auth
      %a.icon-jenkins-head
    %li.auth
      %a.icon-jenkins-head
    %li.auth
      %a.icon-jenkins-head
    %li.auth
      %a.icon-jenkins-head
