.bloggers
  %h4
    Blog topics

  %ul.topics
    %li
      %a{:href=>'#'}
        Something is topic
    %li
      %a{:href=>'#'}
        Something is topic
    %li
      %a{:href=>'#'}
        Something is topic
    %li
      %a{:href=>'#'}
        Something is topic
    %li
      %a{:href=>'#'}
        Something is topic
    %li
      %a{:href=>'#'}
        Something is topic
    %li
      %a{:href=>'#'}
        Something is topic
    %li
      %a{:href=>'#'}
        Something is topic
    %li
      %a{:href=>'#'}
        Something is topic
    %li
      %a{:href=>'#'}
        Something is topic
