- # This partial exists to provide a consistent re-usable block for creating a
- # consistent list of blog post-cards on a page. It should be relatively portable
- # to drop into any page with the jenkins.css

%ul.app-cards
  - page.posts.each do |post|
    - next if post.layout != 'post'

    %li.app-card
      %a{:href => expand_link(post.url)}
        %div.app-card__preview
          - if post.opengraph&.image
            %img{:src => post.opengraph&.image, :loading => "lazy", :alt => post.title, :onload => "this.style.opacity = 1"}
        %h5.app-card__title
          = post.title
        %p.app-card__teaser
          = post.summary || summarize(html_to_text(post.content).strip, 60)

      .app-card__details
        .app-card__details__authors
          = display_author_for(post)
          - if post.date
            = post.date.strftime('%B %-d, %Y')

  :javascript
    $(document).ready(function() {
        document.querySelectorAll(".app-card__details__authors").forEach(authors => {
          if (authors.offsetHeight > 30) {
            authors.classList.add("app-card__details__authors--compact")
          }
        })
        document.querySelector(".app-cards").style.opacity = 1;
    });
