- authorId = page.author || ''
- author = site.authors[authorId] || OpenStruct.new({:name => authorId})

-if author
  %div{:class => "author-card", :onclick => "location.href='#{author_link(authorId)}'"}
    %a.author.name{:href => author_link(authorId)}
      = author.name
    = partial("avatar.html.haml", :author => author, :authorId => authorId)
    = partial("social-media-buttons.html.haml", :author => author, :authorId => authorId)
