%div#ji-home-carousel.carousel.slide{'data-ride' => 'carousel'}
  #ji-download
    .btn-group    
      %a.btn.btn-lg.btn-primary{:href=>'http://mirrors.jenkins-ci.org/war/latest/jenkins.war'}
        Get Jenkins
      %a.btn.btn-lg.btn-primary.dropdown-toggle{'data-toggle'=>"dropdown", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
      .dropdown-menu
        %a.dropdown-item{:href=>'http://jenkins-ci.org/changelog'} Changelog
        %a.dropdown-item{:href=>'http://mirrors.jenkins-ci.org/war/'} Past Releases
        .dropdown-divider
        %a.dropdown-item{:href=>'https://registry.hub.docker.com/u/jenkinsci/jenkins/'}
          %span.icon 
          %span.title
            Docker
        %a.dropdown-item{:href=>'http://pkg.jenkins-ci.org/debian/'}
          %span.icon 
          %span.title
            FreeBSD
        %a.dropdown-item{:href=>'http://pkg.jenkins-ci.org/debian/'}
          %span.icon 
          %span.title
            Gentoo
        %a.dropdown-item{:href=>'http://pkg.jenkins-ci.org/debian/'}
          %span.icon 
          %span.title
            Mac OSX
        %a.dropdown-item{:href=>'http://pkg.jenkins-ci.org/debian/'}
          %span.icon 
          %span.title
            OpenBSD
        %a.dropdown-item{:href=>'http://pkg.jenkins-ci.org/debian/'}
          %span.icon 
          %span.title
            OpenSUSE
        %a.dropdown-item{:href=>'http://pkg.jenkins-ci.org/debian/'}
          %span.icon 
          %span.title
            Red Hat/Fedora/CentOS                 
        %a.dropdown-item{:href=>'http://pkg.jenkins-ci.org/debian/'}
          %span.icon 
          %span.title
            Ubuntu/Debian
        %a.dropdown-item{:href=>'http://mirrors.jenkins-ci.org/windows/latest'} 
          %span.icon 
          %span.title
            Windows
        .dropdown-divider
        %a.dropdown-item{:href=>'http://mirrors.jenkins-ci.org/windows/latest'} Plugins
    .carousel-caption Download the 1.638 .war or choose other options
  %ol.carousel-indicators
    %li.active{'data-target' => '#ji-home-carousel', 'data-slide-to' => 0}
    %li{'data-target' => '#ji-home-carousel', 'data-slide-to' => 1}
    %li{'data-target' => '#ji-home-carousel', 'data-slide-to' => 2}
    %li{'data-target' => '#ji-home-carousel', 'data-slide-to' => 3}
    %li{'data-target' => '#ji-home-carousel', 'data-slide-to' => 4}
  %div.carousel-inner{:role=>"listbox"}
    %div.carousel-item.active
      %img
      %div.carousel-caption
        %h3 Slide label 1
        %p Here is some text that goes with this guy who is cool.
    %div.carousel-item
      %img
      %div.carousel-caption
        %h3 Slide label 2
        %p Here is some text that goes with this guy who is cool.
    %div.carousel-item
      %img
      %div.carousel-caption
        %h3 Slide label 3
        %p Here is some text that goes with this guy who is cool.
    %div.carousel-item
      %img
      %div.carousel-caption
        %h3 Slide label 4
        %p Here is some text that goes with this guy who is cool.
    %div.carousel-item
      %img
      %div.carousel-caption
        %h3 Slide label 5
        %p Here is some text that goes with this guy who is cool.  
  %a.left.carousel-control{:href=>"#ji-home-carousel",:role=>"button",'data-slide'=>"prev"}
    %span.icon-prev{"aria-hidden"=>"true"}
    %span.sr-only Previous
  %a.right.carousel-control{:href=>"#ji-home-carousel",:role=>"button",'data-slide'=>"next"}
    %span.icon-next{"aria-hidden"=>"true"}
    %span.sr-only Next
