- companyId = page.companyId || ''
//TODO: Support other company sources
- company = site.adopters[companyId] || OpenStruct.new({:name => authorId})

-if company
  .card
    .content
      %h3
        = company.name

      // Logo
      - company.avatar = Dir.glob("content/images/adopters/#{companyId}.{bmp,gif,ico,jpg,jpeg,png,svg}").first
      %div{:style => "text-align: center"}
        - if company.avatar
          - company.avatar.sub!('content','')
          %a{:href => company.url}
            %img{:src => expand_link(company.avatar), :alt => company.name, :height => "128px"}
        - else
          %img{:src => expand_link("images/logos/transparent/transparent.svg"), :alt => company.name, :height => "128px"}

      // Links
      %br
      //%a{:href => company.url}
      //  Website
      - if company.detailsUrl
        %a{:href => company.detailsUrl}
          - if company.detailsLinkText
            = company.detailsLinkText
          - else
            Details
