
- if page.links && page.links.discourse
  - embedOptions = { discourseUrl: 'https://community.jenkins.io/' }
  - if page.links.discourse != true
    // Support both topic IDs and full URLs
    // TODO: Check number validity
    - embedOptions['topicId'] = page.links.discourse.gsub(/\/\s*$/, '').gsub(/.*\//, '')
  %b.title
    Discuss
  %div{:id => 'discourse-comments'}
    :javascript
        window.DiscourseEmbed = #{embedOptions.to_json}; #{"window.DiscourseEmbed.discourseEmbedUrl = document.head.querySelector('link[rel=\"canonical\"]').href;" if page.links.discourse == true}
        (function() {
            var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
            d.src = window.DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
        })();
