
- if page.links && page.links.discourse
  // Support both topic IDs and full URLs
  // TODO: Check number validity
  - discourseTopicId = page.links.discourse.gsub(/\/\s*$/, '').gsub(/.*\//, '')
  %b.title
    Discuss
  %div{:id => 'discourse-comments'}
    :javascript
        window.DiscourseEmbed = { discourseUrl: 'https://community.jenkins.io/',
                                  topicId: "#{discourseTopicId}" };
        (function() {
            var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
            d.src = window.DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
        })();
