
%div#ji-home-carousel.carousel.slide{'data-ride' => 'carousel',:class => page.topic}
  #ji-download
    %button#download-banner-btn.btn-lg.btn.btn-primary{'data-toggle'=>"popover", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
      Download Jenkins

    .dropdown-menu
      .row
        .col-md-6.text-xs-center
          %h3
            LTS Release

          %p
            LTS (Long-Term Support) releases are chosen every 12 weeks from the
            stream of regular releases as the stable release for that time period.
            %a{'href' => 'https://wiki.jenkins-ci.org/display/JENKINS/LTS+Release+Line'}
              Learn more…

        .col-md-6.text-xs-center
          %h3
            Weekly Release

          %p
            A new release is produced weekly to deliver bug fixes and features to
            users and plugin developers.

      .row
        .col-md-6.text-xs-center
          .btn-group
            %a.btn.btn-primary.chromeOnly{:href=>'http://mirrors.jenkins.io/war-stable/latest/jenkins.war'}
              %i.icon-box-add
              = site.jenkins.stable
              \.war
            %button.btn.btn-primary.dropdown-toggle{'data-toggle' => 'dropdown', 'data-trigger' => 'hover', 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
            .dropdown-menu
              %a.dropdown-item{:href=>'https://registry.hub.docker.com/_/jenkins/'}
                %span.icon
                %span.title
                  Docker
              %a.dropdown-item{:href => 'http://www.freshports.org/devel/jenkins-lts'}
                %span.icon
                %span.title
                  FreeBSD
              %a.dropdown-item{:href=>'https://packages.gentoo.org/packages/dev-util/jenkins-bin'}
                %span.icon
                %span.title
                  Gentoo
              %a.dropdown-item{:href=>'/content/thank-you-downloading-os-x-installer#stable'}
                %span.icon
                %span.title
                  Mac OS X
              %a.dropdown-item{:href=>'http://openports.se/devel/jenkins/stable'}
                %span.icon
                %span.title
                  OpenBSD
              %a.dropdown-item{:href=>'https://pkg.jenkins.io/opensuse-stable/'}
                %span.icon
                %span.title
                  openSUSE
              %a.dropdown-item{:href=>'https://pkg.jenkins.io/redhat-stable/'}
                %span.icon
                %span.title
                  Red Hat/Fedora/CentOS
              %a.dropdown-item{:href=>'https://pkg.jenkins.io/debian-stable/'}
                %span.icon
                %span.title
                  Ubuntu/Debian
              %a.dropdown-item{:href=>'/content/thank-you-downloading-windows-installer#stable'}
                %span.icon
                %span.title
                  Windows
          %p.details
            %a.item{:href=>'/changelog-stable'} Changelog
            |
            %a.item{:href=>'/doc/upgrade-guide'} Upgrade Guide
            |
            %a.item{:href=>'http://mirrors.jenkins.io/war-stable/'} Past Releases

        .col-md-6.text-xs-center
          .btn-group
            %a.btn.btn-primary.chromeOnly{:href=>'http://mirrors.jenkins.io/war/latest/jenkins.war'}
              %i.icon-box-add
              = site.jenkins.latest
              \.war
            %button.btn.btn-primary.dropdown-toggle{'data-toggle' => 'dropdown', 'data-trigger' => 'hover', 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
            .dropdown-menu
              %a.dropdown-item{:href=>'https://registry.hub.docker.com/u/jenkinsci/jenkins/'}
                %span.icon
                %span.title
                  Docker
              %a.dropdown-item{:href=>'http://www.freshports.org/devel/jenkins'}
                %span.icon
                %span.title
                  FreeBSD
              %a.dropdown-item{:href=>'https://packages.gentoo.org/packages/dev-util/jenkins-bin'}
                %span.icon
                %span.title
                  Gentoo
              %a.dropdown-item{:href=>'/content/thank-you-downloading-os-x-installer'}
                %span.icon
                %span.title
                  Mac OS X
              %a.dropdown-item{:href=>'http://openports.se/devel/jenkins/devel'}
                %span.icon
                %span.title
                  OpenBSD
              %a.dropdown-item{:href=>'https://pkg.jenkins.io/opensuse/'}
                %span.icon
                %span.title
                  openSUSE
              %a.dropdown-item{:href=>'https://pkg.jenkins.io/redhat/'}
                %span.icon
                %span.title
                  Red Hat/Fedora/CentOS
              %a.dropdown-item{:href=>'https://pkg.jenkins.io/debian/'}
                %span.icon
                %span.title
                  Ubuntu/Debian
              %a.dropdown-item{:href=>'/content/thank-you-downloading-windows-installer'}
                %span.icon
                %span.title
                  Windows
          %p.details
            %a.item{:href=>'/changelog'} Changelog
            |
            %a.item{:href=>'http://mirrors.jenkins.io/war/'} Past Releases

    .br
      .carousel-caption.secondary
        Get #{site.jenkins.stable} LTS .war or the latest #{site.jenkins.latest} weekly release
  %ol.carousel-indicators.hidden
    %li.active{'data-target' => '#ji-home-carousel', 'data-slide-to' => 0}
    %li{'data-target' => '#ji-home-carousel', 'data-slide-to' => 1}
    %li{'data-target' => '#ji-home-carousel', 'data-slide-to' => 2}
    %li{'data-target' => '#ji-home-carousel', 'data-slide-to' => 3}
    %li{'data-target' => '#ji-home-carousel', 'data-slide-to' => 4}
  %div.carousel-inner{:role=>"listbox"}
    %div.carousel-item.active
      %div.carousel-caption.primary
        %img.jenkins{:src=>"/images/226px-Jenkins_logo.svg.png"}
        %h1#main-page-title.page-title
          Jenkins
          %span.in-tag
            Automation Server
        %h5.sub-heading
          Build great things at any scale
        %p
          The leading open source automation server, Jenkins provides hundreds
          of plugins to support building, deploying and automating any project.

  %a.left.carousel-control{:href=>"#ji-home-carousel",:role=>"button",'data-slide'=>"prev"}
    %span.icon-prev{"aria-hidden"=>"true"}
    %span.sr-only Previous
  %a.right.carousel-control{:href=>"#ji-home-carousel",:role=>"button",'data-slide'=>"next"}
    %span.icon-next{"aria-hidden"=>"true"}
    %span.sr-only Next
