.dropdown-menu
  .row
    .col-md-6.text-xs-center
      %h3
        LTS Release

      %p
        LTS (Long-Term Support) releases are chosen every 12 weeks from the
        stream of regular releases as the stable release for that time period.

      %p
        .btn-group
          %a.btn.btn-primary.chromeOnly{:href=>'http://mirrors.jenkins-ci.org/war-stable/latest/jenkins.war'}
            %i.icon-box-add
            = site.jenkins.stable
            \.war
          %button.btn.btn-primary.dropdown-toggle{'data-toggle' => 'dropdown', 'data-trigger' => 'hover', 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
          .dropdown-menu
            %a.dropdown-item{:href=>'https://registry.hub.docker.com/u/jenkinsci/jenkins/'}
              %span.icon
              %span.title
                Docker
            %a.dropdown-item{:href => 'http://www.freshports.org/devel/jenkins-lts'}
              %span.icon
              %span.title
                FreeBSD
            %a.dropdown-item{:href=>'https://packages.gentoo.org/packages/dev-util/jenkins-bin'}
              %span.icon
              %span.title
                Gentoo
            %a.dropdown-item{:href=>'/content/thank-you-downloading-os-x-installer#stable'}
              %span.icon
              %span.title
                Mac OS X
            %a.dropdown-item{:href=>'http://openports.se/devel/jenkins/stable'}
              %span.icon
              %span.title
                OpenBSD
            %a.dropdown-item{:href=>'http://pkg.jenkins-ci.org/opensuse-stable/'}
              %span.icon
              %span.title
                openSUSE
            %a.dropdown-item{:href=>'http://pkg.jenkins-ci.org/redhat-stable/'}
              %span.icon
              %span.title
                Red Hat/Fedora/CentOS
            %a.dropdown-item{:href=>'http://pkg.jenkins-ci.org/debian-stable/'}
              %span.icon
              %span.title
                Ubuntu/Debian
            %a.dropdown-item{:href=>'/content/thank-you-downloading-windows-installer#stable'}
              %span.icon
              %span.title
                Windows
      %p.details
        %a.item{:href=>'/changelog-stable'} Changelog
        |
        %a.item{:href=>'http://mirrors.jenkins-ci.org/war-stable/'} Past Releases

    .col-md-6.text-xs-center
      %h3
        Weekly Release

      %p
        A new release is produced weekly to deliver bug fixes and features to
        users and plugin developers.

      %p
        .btn-group{:style=>'margin-top: 1.3125rem;'}
          %a.btn.btn-primary.chromeOnly{:href=>'http://mirrors.jenkins-ci.org/war/latest/jenkins.war'}
            %i.icon-box-add
            = site.jenkins.latest
            \.war
          %button.btn.btn-primary.dropdown-toggle{'data-toggle' => 'dropdown', 'data-trigger' => 'hover', 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
          .dropdown-menu
            %a.dropdown-item{:href=>'https://registry.hub.docker.com/u/jenkinsci/jenkins/'}
              %span.icon
              %span.title
                Docker
            %a.dropdown-item{:href=>'http://www.freshports.org/devel/jenkins'}
              %span.icon
              %span.title
                FreeBSD
            %a.dropdown-item{:href=>'https://packages.gentoo.org/packages/dev-util/jenkins-bin'}
              %span.icon
              %span.title
                Gentoo
            %a.dropdown-item{:href=>'/content/thank-you-downloading-os-x-installer'}
              %span.icon
              %span.title
                Mac OS X
            %a.dropdown-item{:href=>'http://openports.se/devel/jenkins/devel'}
              %span.icon
              %span.title
                OpenBSD
            %a.dropdown-item{:href=>'http://pkg.jenkins-ci.org/opensuse/'}
              %span.icon
              %span.title
                openSUSE
            %a.dropdown-item{:href=>'http://pkg.jenkins-ci.org/redhat/'}
              %span.icon
              %span.title
                Red Hat/Fedora/CentOS
            %a.dropdown-item{:href=>'http://pkg.jenkins-ci.org/debian/'}
              %span.icon
              %span.title
                Ubuntu/Debian
            %a.dropdown-item{:href=>'/content/thank-you-downloading-windows-installer'}
              %span.icon
              %span.title
                Windows
      %p.details
        %a.item{:href=>'/changelog'} Changelog
        |
        %a.item{:href=>'http://mirrors.jenkins-ci.org/war/'} Past Releases
  
    .col-md-6.text-xs-center
      %h3
        Preview

      %p
        This is 2.0 beta

      %p
        .btn-group{:style=>'margin-top: 1.3125rem;'}
          %a.btn.btn-primary.chromeOnly{:href=>'http://mirrors.jenkins-ci.org/war-rc/2.0/jenkins.war'}
            %i.icon-box-add
            = site.jenkins.latest
            \.war
          %button.btn.btn-primary.dropdown-toggle{'data-toggle' => 'dropdown', 'data-trigger' => 'hover', 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
          .dropdown-menu
            %a.dropdown-item{:href=>'https://hub.docker.com/r/jenkinsci/jenkins/'}
              %span.icon
              %span.title
                Docker
            %a.dropdown-item{:href=>'http://www.freshports.org/devel/jenkins'}
              %span.icon
              %span.title
                FreeBSD
            %a.dropdown-item{:href=>'http://mirrors.jenkins-ci.org/osx-rc/jenkins-2.0.pkg'}
              %span.icon
              %span.title
                Mac OS X
            %a.dropdown-item{:href=>'http://pkg.jenkins-ci.org/opensuse-rc/jenkins-2.0-1.2.noarch.rpm'}
              %span.icon
              %span.title
                openSUSE
            %a.dropdown-item{:href=>'http://pkg.jenkins-ci.org/redhat-rc/jenkins-2.0-1.1.noarch.rpm'}
              %span.icon
              %span.title
                Red Hat/Fedora/CentOS
            %a.dropdown-item{:href=>'http://pkg.jenkins-ci.org/debian-rc/binary/jenkins_2.0_all.deb'}
              %span.icon
              %span.title
                Ubuntu/Debian
            %a.dropdown-item{:href=>'http://mirrors.jenkins-ci.org/windows-rc/jenkins-2.0.zip'}
              %span.icon
              %span.title
                Windows
      %p.details
        %a.item{:href=>'/changelog'} Changelog
        |
        %a.item{:href=>'http://mirrors.jenkins-ci.org/war/'} Past Releases
