:javascript
  $(function () {
    function doPopovers(){
      var $popovers = $('#ji-download [data-toggle="popover"]');
      var $popLayer = $('#popover-layer');
      if ($popovers.length > 0){

        $('body').click(function(e){
          var $target =  $(e.toElement);
          console.log('toggle?');
          if($target.closest($popovers).length === 1){
            console.log($target);
            $popovers.popover('show');
          }
          else if($target.closest('.popover').length === 0 )
            $popovers.popover('hide');
        });

        if($popLayer.length < 1)
          $popLayer = $('<div/>').appendTo('body').addClass('popover-layer').attr('id','popover-layer');
        $popovers.popover({
          container: '#popover-layer',
          trigger:'manual',
          template:'<div class="popover download-options" role="tooltip"><div class="popover-arrow"></div><div class="popover-content"></div></div>',
          placement:'top',
          content:function(){
            return $(this).next().html();
          },
          html:true
        });
      }
    }
    doPopovers();
  })

  $(function () {
    var jams = [
      {
        latitude: 41.383333,
        longitude: 2.183333,
        url: "https://meetup.com/Barcelona-Jenkins-Area-Meetup",
        img: "/images/jams/w180/Barcelona-Jenkins-Area-Meetup-w180.png",
        title: "Barcelona Jenkins Area Meetup"
      },
      {
        latitude: 49.2,
        longitude: 16.616667,
        url: "https://meetup.com/Brno-Jenkins-Area-Meetup",
        img: "/images/jams/w180/Brno-Jenkins-Area-Meetup-w180.png",
        title: "Brno Jenkins Area Meetup"
      },
      {
        latitude: -12.043333,
        longitude: -77.028333,
        url: "https://meetup.com/Lima-Jenkins-Area-Meetup",
        img: "/images/jams/w180/Lima-Jenkins-Area-Meetup-w180.png",
        title: "Lima Jenkins Area Meetup"
      },
      {
        latitude: 48.1147,
        longitude: -1.6794,
        url: "https://meetup.com/Rennes-Jenkins-Area-Meetup",
        img: "/images/jams/w180/Rennes-Jenkins-Area-Meetup-w180.png",
        title: "Rennes Jenkins Area Meetup"
      },
      {
        latitude: 37.377222,
        longitude: -5.986944,
        url: "https://meetup.com/Seville-Jenkins-Area-Meetup",
        img: "/images/jams/w180/Seville-Jenkins-Area-Meetup-w180.png",
        title: "Seville Jenkins Area Meetup"
      },
      {
        latitude: 59.95,
        longitude: 30.3,
        url: "https://meetup.com/St-Petersburg-Jenkins-Area-Meetup",
        img: "/images/jams/w180/St-Petersburg-Jenkins-Area-Meetup-w180.png",
        title: "St. Petersburg Jenkins Area Meetup"
      },
      {
        latitude: 43.6045,
        longitude: 1.444,
        url: "https://meetup.com/Toulouse-Jenkins-Area-Meetup",
        img: "/images/jams/w180/Toulouse-Jenkins-Area-Meetup-w180.png",
        title: "Toulouse Jenkins Area Meetup"
      }
    ];

    var radius = 6371; // approx. earth radius in km

    // degrees to radians, as coordinates are in degrees but all the Math.* functions are in radians
    function d2r(d) {
      return d*Math.PI/180;
    }

    function distance(lat1, lon1, lat2, lon2) {
      // https://en.wikipedia.org/wiki/Great-circle_distance
      var c = Math.cos(d2r(lat1)) * Math.cos(d2r(lat2)) * Math.cos(d2r(lon1 - lon2)) + Math.sin(d2r(lat1)) * Math.sin(d2r(lat2));
      var dist = radius * Math.acos(c);
      return dist;
    }

    function chooseJamForLatLon(lat, lon) {
      var nearestJam = null;
      var nearestDistance = 20000; // ensures there's a nearest JAM found

      for (var i = 0; i < jams.length; i++) {
        var dist = distance(lat, lon, jams[i].latitude, jams[i].longitude);
        if (dist < nearestDistance) {
          nearestJam = jams[i];
          nearestDistance = dist;
        }
      }

      if (nearestDistance < 150) {
        // only show JAMs less than this distance away from user
        return nearestJam;
      }
      return null;
    }

    function insertNearestJamLink(){
      $.ajax("https://freegeoip.net/json/").done(function (data) {
        var jam = chooseJamForLatLon(data.latitude, data.longitude);
        if (jam) {
          $('img#jenkins').attr('src', jam.img);
          $('img#jenkins').attr('title', "Visit the " + jam.title + " on meetup.com");
          $('img#jenkins').click(function() {
            document.location.href = jam.url;
          });
        }
      });
    }
    insertNearestJamLink();
  });
%div#ji-home-carousel.carousel.slide{'data-ride' => 'carousel',:class => page.topic}
  #ji-download
    %button#download-banner-btn.btn-lg.btn.btn-primary{'data-toggle'=>"popover", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
      %span.brick-tops
      Download Jenkins
    = partial('downloadlist.html.haml')
    .br
      .carousel-caption.secondary
        Get #{site.jenkins.stable} LTS .war or the latest #{site.jenkins.latest} weekly release
  %ol.carousel-indicators.hidden
    %li.active{'data-target' => '#ji-home-carousel', 'data-slide-to' => 0}
    %li{'data-target' => '#ji-home-carousel', 'data-slide-to' => 1}
    %li{'data-target' => '#ji-home-carousel', 'data-slide-to' => 2}
    %li{'data-target' => '#ji-home-carousel', 'data-slide-to' => 3}
    %li{'data-target' => '#ji-home-carousel', 'data-slide-to' => 4}
  %div.carousel-inner{:role=>"listbox"}
    %div.carousel-item.active
      %div.carousel-caption.primary
        %img#jenkins{:src=>"/images/226px-Jenkins_logo.svg.png"}
        %h1#main-page-title.page-title
          Jenkins
          %span.in-tag Automation Server
        %h5.sub-heading Build great things at any scale
        %p The leading open source automation server, Jenkins, provides hundreds of plugins to support building, testing, deploying and automating any project.

  %a.left.carousel-control{:href=>"#ji-home-carousel",:role=>"button",'data-slide'=>"prev"}
    %span.icon-prev{"aria-hidden"=>"true"}
    %span.sr-only Previous
  %a.right.carousel-control{:href=>"#ji-home-carousel",:role=>"button",'data-slide'=>"next"}
    %span.icon-next{"aria-hidden"=>"true"}
    %span.sr-only Next
