.dropdown-menu
  %a.dropdown-item{:href=>'http://jenkins-ci.org/changelog'} Changelog
  %a.dropdown-item{:href=>'http://mirrors.jenkins-ci.org/war/'} Past Releases
  .dropdown-divider
  %a.dropdown-item{:href=>'https://registry.hub.docker.com/u/jenkinsci/jenkins/'}
    %span.icon 
    %span.title
      Docker
  %a.dropdown-item{:href=>'http://pkg.jenkins-ci.org/debian/'}
    %span.icon 
    %span.title
      FreeBSD
  %a.dropdown-item{:href=>'http://pkg.jenkins-ci.org/debian/'}
    %span.icon 
    %span.title
      Gentoo
  %a.dropdown-item{:href=>'http://pkg.jenkins-ci.org/debian/'}
    %span.icon 
    %span.title
      Mac OSX
  %a.dropdown-item{:href=>'http://pkg.jenkins-ci.org/debian/'}
    %span.icon 
    %span.title
      OpenBSD
  %a.dropdown-item{:href=>'http://pkg.jenkins-ci.org/debian/'}
    %span.icon 
    %span.title
      OpenSUSE
  %a.dropdown-item{:href=>'http://pkg.jenkins-ci.org/debian/'}
    %span.icon 
    %span.title
      Red Hat/Fedora/CentOS                 
  %a.dropdown-item{:href=>'http://pkg.jenkins-ci.org/debian/'}
    %span.icon 
    %span.title
      Ubuntu/Debian
  %a.dropdown-item{:href=>'http://mirrors.jenkins-ci.org/windows/latest'} 
    %span.icon 
    %span.title
      Windows
  .dropdown-divider
  %a.dropdown-item{:href=>'http://mirrors.jenkins-ci.org/windows/latest'} Plugins