.banner-container
  .skew
  .container
    .row
      &nbsp;
    .row
      .col-md-1.col-lg-2

      .col-md-5.col-lg-4
        %img{:src => "/images/logos/jenkins/Jenkins-stop-the-war.svg", :style => 'width: 356px;'}

      .col-md-5.col-lg-4
        %h1.page-title
          %span>
            Jenkins
        %p
          %strong
            Build great things at any scale
        %p
          The leading open source automation server, Jenkins provides
          hundreds of plugins to support building, deploying and automating
          any project.
        %p
          %img{:src => "https://s.w.org/images/core/emoji/13.1.0/svg/1f1fa-1f1e6.svg", :style => 'width: 20px;'}
          We stand with the people of Ukraine.
          Please assist humanitarian efforts for the Ukrainian people and
          those affected by the military invasion of Ukraine by supporting
          international aid organizations, including the
          %a{ :href => "https://redcross.org.ua/en/donate/" }
            Ukrainian Red Cross

        %div{:style => "display: flex; gap: 1rem"}
          %a.app-button.app-button--primary{:href => expand_link('download')}
            Download
          %a.app-button{:href => expand_link('doc')}
            Documentation

      .col-md-1.col-lg-2
    .row
      &nbsp;
