.banner-container
  .skew
  .container
    .row
      &nbsp;
    .row
      .col-md-1.col-lg-2

      .col-md-5.col-lg-4
        .logo{:style => 'width: 256px;'}
          = partial('logo.html.haml')

      .col-md-5.col-lg-4
        %h1.page-title
          %span>
            Jenkins
        %p
          %strong
            Build great things at any scale
        %p
          The leading open source automation server, Jenkins provides
          hundreds of plugins to support building, deploying and automating
          any project.

        .container
          .row
            %a.btn.btn-secondary.m-1{:href => expand_link('doc')}
              Documentation
            %a.btn.btn-primary.m-1{:href => expand_link('download')}
              Download

      .col-md-1.col-lg-2
