.banner-container.p-6.bg-pattern
  .skew
  .container
    .row
      &nbsp;
    .row.justify-content-center

      .col-md-5.col-lg-4.mr-5
        %img{:src => "/images/logos/jenkins/Jenkins-stop-the-war.svg", :style => 'max-width: 385px;'}

      .col-md-5.col-lg-7.text-white
        %h1.page-title
          %span>
            Jenkins
        %p{ :style => 'font-size:20px;'}
          %strong
            Build great things at any scale.
        %p
          The leading open source automation server, Jenkins provides
          hundreds of plugins to support building, deploying and automating
          any project.
        %p
          %img{:src => "https://s.w.org/images/core/emoji/13.1.0/svg/1f1fa-1f1e6.svg", :style => 'width: 40px;'}
          We stand with the people of Ukraine.
          Please assist humanitarian efforts for the Ukrainian people and
          those affected by the military invasion of Ukraine by supporting
          international aid organizations, including the
          %a{ :href => "https://www.icrc.org/" , :class => 'text-white has-underline'}
            %strong
              International Committee of the Red Cross.

        .container
          .row
            %a.btn.btn-light.m-1{:href => expand_link('doc'), :style => "font-size:1.2rem;"}
              %strong
                Documentation
            %a.btn.btn-lb.m-1.has-cblack{:href => expand_link('download'), :style => "font-size:1.2rem;"}
              %strong
                Download
