.dropdown-menu
  .row
    .col-md-6.text-xs-center
      %h3
        LTS Release

      %p
        LTS (Long-Term Support) releases are chosen every 12 weeks from the
        stream of regular releases as the stable release for that time period.
        %a{'href' => 'https://wiki.jenkins-ci.org/display/JENKINS/LTS+Release+Line'}
          Learn more…

    .col-md-6.text-xs-center
      %h3
        Weekly Release

      %p
        A new release is produced weekly to deliver bug fixes and features to
        users and plugin developers.

  .row
    .col-md-6.text-xs-center
      #drop1.btn-group
        %a.btn.btn-primary.chromeOnly{:href=>'http://mirrors.jenkins.io/war-stable/latest/jenkins.war'}
          %i.icon-box-add
          = site.jenkins.stable
          \.war
        %button#dropT1.btn.btn-primary.dropdown-toggle{'data-toggle' => 'dropdown', 'data-trigger' => 'hover', 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
        .dropdown-menu
          %a.dropdown-item{:href=>'https://registry.hub.docker.com/_/jenkins/'}
            %span.icon
            %span.title
              Docker
          %a.dropdown-item{:href => 'http://www.freshports.org/devel/jenkins-lts'}
            %span.icon
            %span.title
              FreeBSD
          %a.dropdown-item{:href=>'https://packages.gentoo.org/packages/dev-util/jenkins-bin'}
            %span.icon
            %span.title
              Gentoo
          %a.dropdown-item{:href=>'/content/thank-you-downloading-os-x-installer#stable'}
            %span.icon
            %span.title
              Mac OS X
          %a.dropdown-item{:href=>'http://openports.se/devel/jenkins/stable'}
            %span.icon
            %span.title
              OpenBSD
          %a.dropdown-item{:href=>'https://pkg.jenkins.io/opensuse-stable/'}
            %span.icon
            %span.title
              openSUSE
          %a.dropdown-item{:href=>'https://pkg.jenkins.io/redhat-stable/'}
            %span.icon
            %span.title
              Red Hat/Fedora/CentOS
          %a.dropdown-item{:href=>'https://pkg.jenkins.io/debian-stable/'}
            %span.icon
            %span.title
              Ubuntu/Debian
          %a.dropdown-item{:href=>'/content/thank-you-downloading-windows-installer#stable'}
            %span.icon
            %span.title
              Windows
      %p.details
        %a.item{:href=>'/changelog-stable'} Changelog
        |
        %a.item{:href=>'/doc/upgrade-guide'} Upgrade Guide
        |
        %a.item{:href=>'http://mirrors.jenkins.io/war-stable/'} Past Releases

    .col-md-6.text-xs-center
      #drop2.btn-group
        %a.btn.btn-primary.chromeOnly{:href=>'http://mirrors.jenkins.io/war/latest/jenkins.war'}
          %i.icon-box-add
          = site.jenkins.latest
          \.war
        %button#dropT2.btn.btn-primary.dropdown-toggle{'data-toggle' => 'dropdown', 'data-trigger' => 'hover', 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
        .dropdown-menu
          %a.dropdown-item{:href=>'https://registry.hub.docker.com/u/jenkinsci/jenkins/'}
            %span.icon
            %span.title
              Docker
          %a.dropdown-item{:href=>'http://www.freshports.org/devel/jenkins'}
            %span.icon
            %span.title
              FreeBSD
          %a.dropdown-item{:href=>'https://packages.gentoo.org/packages/dev-util/jenkins-bin'}
            %span.icon
            %span.title
              Gentoo
          %a.dropdown-item{:href=>'/content/thank-you-downloading-os-x-installer'}
            %span.icon
            %span.title
              Mac OS X
          %a.dropdown-item{:href=>'http://openports.se/devel/jenkins/devel'}
            %span.icon
            %span.title
              OpenBSD
          %a.dropdown-item{:href=>'https://pkg.jenkins.io/opensuse/'}
            %span.icon
            %span.title
              openSUSE
          %a.dropdown-item{:href=>'https://pkg.jenkins.io/redhat/'}
            %span.icon
            %span.title
              Red Hat/Fedora/CentOS
          %a.dropdown-item{:href=>'https://pkg.jenkins.io/debian/'}
            %span.icon
            %span.title
              Ubuntu/Debian
          %a.dropdown-item{:href=>'/content/thank-you-downloading-windows-installer'}
            %span.icon
            %span.title
              Windows
      %p.details
        %a.item{:href=>'/changelog'} Changelog
        |
        %a.item{:href=>'http://mirrors.jenkins.io/war/'} Past Releases

:javascript
  $(function () {
    $( "#dropT1" ).click(function(event) {
      event.stopPropagation();
      if( $("#drop2").hasClass("open") ){
        $("#drop2").removeClass("open");
        $("#dropT2").attr("aria-expanded", "false");
      }
      $(this).attr("aria-expanded", "true");
      $("#drop1").toggleClass("open");
    });
    $( "#dropT2" ).click(function(event) {
      event.stopPropagation();
      if( $("#drop1").hasClass("open") ){
        $("#drop1").removeClass("open");
        $("#dropT1").attr("aria-expanded", "false");
      }
      $(this).attr("aria-expanded", "true");
      $("#drop2").toggleClass("open");
    });
  });
