#feature-list-segment.segment
  .container
    .row.chunks.features.uniform-height
      .col-md-6.col-lg-4
        .box.cicd
          %i.icon-loop
          %h5 Continuous integration and delivery
          %p
            Lorem ipsum dolor sit amet, duis neglegentur an sea, eu reque tempor pro. Dolorem instructior conclusionemque vel in.
      .col-md-6.col-lg-4
        .box.pipeline
          %i.icon-arrow-shuffle.zicon-flow-switch
          %h5 Automated pipeline processes
          %p
            Dolorem instructior conclusionemque vel in.Lorem ipsum dolor sit amet, duis neglegentur an sea, eu reque tempor pro.
      .col-md-6.col-lg-4
        .box.repo
          %i.icon-folder-open-o
          %h5 Code repository flexibility
          %p
            Ei usu deleniti elaboraret, corpora periculis cu per, quidam singulis principes sea ad.
      .col-md-6.col-lg-4
        .box.deployment
          %i.icon-rocket
          %h5 Sophisticated artifact deployment
          %p
            Dolorem instructior conclusionemque vel in. i usu deleniti elaboraret, corpora periculis cu per, quidam singulis principes sea ad.
      .col-md-6.col-lg-4
        .box.test
          %i.icon-issue-closed
          %h5 Easy and flexible test integration
          %p
            Lorem ipsum dolor sit amet, duis neglegentur an sea, eu reque tempor pro. Dolorem instructior conclusionemque vel in.
      .col-md-6.col-lg-4
        .box.installation
          %i.icon-download
          %h5 Easy installation
          %p
            Just run java -jar jenkins.war, deploy it in a servlet container. No additional install, no database. Prefer an installer or native package? We have those as well.
      .col-md-6.col-lg-4
        .box.plugins
          %i.icon-plug
          %h5 Rich plugin ecosystem
          %p
            Jenkins integrates with virtually every SCM or build tool that exists.
      .col-md-6.col-lg-4
        .box.extensibility
          %i.icon-puzzle-piece
          %h5 Extensibility
          %p
            Most parts of Jenkins can be extended and modified, and it's easy to create new Jenkins plugins. This allows you to customize Jenkins to your needs.
      .col-md-6.col-lg-4
        .box.distributed
          %i.icon-uniE602
          %h5 Distributed builds
          %p
            Jenkins can distribute build/test loads to multiple computers with different operating systems. Building software for OS X, Linux, and Windows? No problem.
