#feature-list-segment.segment
  .container
    .row.chunks.features.uniform-height
      .col-md-6.col-lg-4
        .box.cicd
          %i.icon-loop
          %h5 Continuous Integration and Continuous Delivery
          %p
            Jenkins is an award-winning, cross-platform, continuous integration and continuous delivery application that increases your productivity. Use Jenkins to build and test your software projects continuously making it easier for developers to integrate changes to the project, and making it easier for users to obtain a fresh build. It also allows you to continuously deliver your software by providing powerful ways to define your build pipelines and integrating with a large number of testing and deployment technologies.
      .col-md-6.col-lg-4
        .box.pipeline
          %i.icon-arrow-shuffle.zicon-flow-switch
          %h5 Easy installation
          %p
            Just run java -jar jenkins.war, deploy it in a servlet container. No additional install, no database. Prefer an installer or native package? We have those as well.
      .col-md-6.col-lg-4
        .box.repo
          %i.icon-folder-open-o
          %h5 Easy configuration
          %p
            Jenkins can be configured entirely from its friendly web GUI with extensive on-the-fly error checks and inline help.
      .col-md-6.col-lg-4
        .box.deployment
          %i.icon-rocket
          %h5 Rich plugin ecosystem
          %p
            Jenkins integrates with virtually every SCM or build tool that exists.
      .col-md-6.col-lg-4
        .box.test
          %i.icon-issue-closed
          %h5 Extensibility
          %p
            Most parts of Jenkins can be extended and modified, and it's easy to create new Jenkins plugins. This allows you to customize Jenkins to your needs.
      .col-md-6.col-lg-4
        .box.installation
          %i.icon-download
          %h5 Distributed builds
          %p
            Jenkins can distribute build/test loads to multiple computers with different operating systems. Building software for OS X, Linux, and Windows? No problem.
