.brick-tops.footer
%footer#footer
  .license-box.col-md-5
    %p
      Some about Jenkins text and links to terms and license.
      .box
        %a{:href => "https://github.com/jenkins-infra/jenkins.io/edit/master/content/#{page.relative_source_path}",
        :title => "Edit #{page.relative_source_path} on GitHub"}
          Improove this page
        |
        %a{:href => "https://github.com/jenkins-infra/jenkins.io/commits/master/content/#{page.relative_source_path}",
        :title => "View #{page.relative_source_path} history on GitHub"}
          Page history
  .links.col-md-7
    %ul.major-areas
      %li.area.solo
        %h5 Resources

        %ul.resources
          %li Plugins
          %li Blog articles
          %li Events
          %li Documentation
          %li Blog articles

      %li.area.multi
        %h5 Solutions

        %ul
          %li Jenkins features
          %li Docker
          %li Pipelines
          %li Security
          %li Scalability

      %li.area.multi
        %h5 Project

        %ul.project
          %li Governance
          %li GitHub Repo
          %li Issue tracker
          %li Jenkins builds

      %li.area.multi
        %h5 Community

        %ul.community
          %li Developer newsgroup
          %li User newsgroup
          %li StackOverflow
          %li IRC chat
          %li Twitter
          %li Reddit
