%div.jumbotron.jumbotron-fluid.intro{:class=>page.className}
  .container.center
    .center.col-md-6
      %h2 What is Jenkins?
      %p
        In a nutshell, Jenkins is the leading open source automation server. Built with Java, it provides
        %strong
          hundreds
        of plugins to support building, testing, deploying and automation virtually any project