- if page.image
  :css
    .jumbotron.featured {
      background: #042E54 url(#{page.image}) no-repeat center;
      background-size: cover;
      position: relative;
      overflow: hidden;
    }

.jumbotron.jumbotron-fluid.featured
  .container
    .rog
      .col-md-1
      .col-md-5
        %a{:href => page.href}
          %h2
            = page.title
          %p
            = page.intro

        - if page.call_to_action
          .btn-group
            %a.btn.btn-primary{:href => page.call_to_action.href}
              = page.call_to_action.text
        .col-md-5


