.jumbotron.jumbotron-fluid.docker
  .container
    .row
      .col-md-1
      .col-md-6
        %a{:href=>'/solutions/docker'}
          %h2 Got Docker?
          %p
            Combining Jenkins and Docker together can bring improved speed and consistency to your automation tasks, which is why we've collected some hopefully helpful resources on this page to get you started!
        .btn-group
          %a.btn.btn-primary{:href=>'http://mirrors.jenkins-ci.org/war/latest/jenkins.war'}
            Get Docker plugins
          %a.btn.btn-primary.dropdown-toggle{'data-toggle'=>"dropdown", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
          .dropdown-menu
            %a.dropdown-item{:href=>'http://jenkins-ci.org/changelog'} Changelog
            %a.dropdown-item{:href=>'http://mirrors.jenkins-ci.org/war/'} Past Releases
            .dropdown-divider
      .col-md-5


