.jumbotron.media-row

  %h3.header
    = page.title
      
  - for media in page.media

    %a.card.media{'data-toggle' => 'lightbox','data-gallery' => 'youtubevideos', :href => media.href}
      %img.card-img-top{'data-src' => 'holder.js/100%x180/', :src => media.thumb}
      .card-block
        %h4.media-title
          = media.title
        %p.short
          =media.short

