%div#navbar{:class => 'clearfloat'}
  %div#page-bar
    %ul.menu
      %li.leaf.first
        %a{:href => "/node", :title => "Blog landing page"}
          Blog
      %li.expanded
        %a{:href => "/", :title => ""}
          Connect
        %ul.menu
          %li.leaf.first
            %a{:href => "/content/mailing-lists", :title => "Browse Jenkins mailing list archives and/or subscribe to lists"}
              Mailing Lists
          %li.leaf
            %a{:href => "/content/chat", :title => "Chat with the rest of the Jenkins community on IRC"}
              Chat
          %li.leaf
            %a{:href => "http://twitter.com/jenkinsci", :title => "Check out @jenkinsci on Twitter"}
              Twitter
          %li.leaf
            %a{:href => "/content/event-calendar", :title => "Calendar for Jenkins events"}
              Event Calendar
          %li.leaf
            %a{:href => "https://wiki.jenkins-ci.org/display/JENKINS/Office+Hours", :title => "WebEx-based online meeting"}
              Office Hours
          %li.leaf.last
            %a{:href => "https://reddit.com/r/jenkinsci", :title => "Check out the latest links and news on jenkinsci.reddit.com!"}
              reddit
      %li.leaf
        %a{:href => "https://wiki.jenkins-ci.org/display/JENKINS/Issue+Tracking", :title => "JIRA for Jenkins"}
          Bug Tracker
      %li.leaf
        %a{:href => "http://wiki.jenkins-ci.org/", :title => "Main documentation of Jenkins"}
          Wiki
      %li.leaf
        %a{:href => "http://ci.jenkins-ci.org/", :title => "Jenkins and plugins built on Jenkins"}
          CI
      %li.leaf
        %a{:href => "https://wiki.jenkins-ci.org/display/JENKINS/Donation", :title => ""}
          Donation
      %li.leaf.last
        %a{:href => "/content/about-jenkins-ci", :title => "About Jenkins CI"}
          About
