%div
  %h4
    Docker and Jenkins Articles

  %div.content
    %div.item-list
      %ul.ji-dated-list
        - for post in site.posts[0...10]
          %li.post
            %a.article{:href => post.url}
              %h6.title 
                = post.title
              .url  
                = post.url
              