
%h2
  Native Installer (deprecated)

Jenkins project used to provide a native installer for macOS.
This installer is now deprecated, and it will not be shipped for future versions of Jenkins.
It is possible to retrieve installer versions for older releases from the archive.

%ul
  %li
    %a{:href => page.release_url}
      Installers for previous Jenkins versions.
  %li
    %a{:href => 'https://wiki.jenkins.io/display/JENKINS/Thanks+for+using+OSX+Installer'}
      Learn how the macOS installer sets up your Jenkins, and how you can tweak it.

