.docker-plugins-list
  %h4 Docker Plugins

  %div.content
    %div.item-list
      %ul.ji-dated-list.ji-item-list.plugins
        - for post in site.posts[0...6]
          %li.post
            %a.body.article{:href => post.url}
              %h6.title 
                = post.title
              %p.url 
                Lorem ipsum dolor sit amet, et quas exerci tincidunt nec, et mea aeque essent everti, cibo honestatis ad pri.
              .icon.card.date
                .icon-plug
            .attrs  
              %a.author
                = post.author
              %ul.list-inline.tags
                - for tag in post.tags
                  %li
                    %a.tag-link
                      = tag