.jumbotron.quote-row
  .row
    .col-md-1
    .col-md-4
      .card.important
        .card-block
          %blockquote.blockquote
            %p Docker is an open-source project that automates the deployment of applications inside software containers, by providing an additional layer of abstraction and automation of operating-system-level virtualization on Linux. (courtesy Wikipedia)
            %footer
              %cite{:title=>"Source Title"}Wikipedia

    .col-md-6
      %p For Jenkins users, this offers a means of isolating jobs from one another. Quickly clean a job's workspace or even dynamically deploy or schedule jobs with Docker containers to increase resource utilization and efficiency.
      %p Lorem ipsum dolor sit amet, et quas exerci tincidunt nec, et mea aeque essent everti, cibo honestatis ad pri. Nec zril iudico luptatum ne, ullamcorper definitiones definitionem an ius. Ius dicunt epicuri at, no aeque mundi maiestatis eum, mundi ignota eloquentiam mei ea. Vis liber intellegebat ut, alia invidunt adipiscing at pri, ei has tritani volumus. Sed summo dicant et, maiorum alienum at vis.

    .col-md-1
