%link{:href => '/assets/bower/bootstrap/css/bootstrap.min.css',
  :rel => 'stylesheet',
  :media => 'screen'}/

%link{:href => 'https://fonts.googleapis.com/css?family=Lato:400,300,700,900,400italic',
  :rel => 'stylesheet',
  :type => 'text/css'}/
  
%link{:href => '/assets/bower/ekko-lightbox/ekko-lightbox.min.css',
  :rel => 'stylesheet',
  :media => 'screen'}/

%link{:href => '/assets/bower/tether/css/tether.min.css',
  :rel => 'stylesheet',
  :media => 'screen'}/

%link{:href => '/css/font-icons.css', :rel => 'stylesheet', :media => 'screen'}/
%link{:href => '/css/jenkins.css', :rel => 'stylesheet', :media => 'screen'}/

%script{:src => '/assets/bower/jquery/jquery.min.js'}
%script{:src => '/assets/bower/tether/js/tether.min.js'}
%script{:src => '/assets/bower/bootstrap/js/bootstrap.min.js'}
%script{:src => '/assets/bower/ekko-lightbox/ekko-lightbox.min.js'}
