%link{:href => 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css', :rel => 'stylesheet', :media => 'screen'}/
%link{:href => 'https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/3.3.0/ekko-lightbox.min.css', :rel => 'stylesheet', :media => 'screen'}/
%link{:href => '/css/font-icons.css', :rel => 'stylesheet', :media => 'screen'}/
%link{:href => '/css/jenkins.css', :rel => 'stylesheet', :media => 'screen'}/

%script{:src => 'https://code.jquery.com/jquery-2.1.4.min.js'}
%script{:src => 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js'}
%script{:src => 'https://cdnjs.cloudflare.com/ajax/libs/tether/1.1.1/js/tether.min.js'}
%script{:src => 'https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/3.3.0/ekko-lightbox.min.js'}