- if legacy?
  %div{:id => 'block-block-5', :class => 'block block-block even'}
    %h3
      What is Jenkins?

    %div.content
      %p
        In a nutshell, Jenkins is the leading open source automation server.
        Built with Java, it provides
        %strong
          hundreds
        of plugins to support building, testing, deploying and automation
        for virtually any project

  = partial('download.html.haml')
  = partial('book.html.haml')
  = partial('resources.html.haml')
- else


  %h5 Events
  %div.content
    %div.item-list
      %ul.ji-blog-list.ji-item-list
        %li.post.event
          %a.body{:href => '#'}
            .header.time
              .date-time
                .date
                  .month
                    Jan
                  .day
                    10
                .time
                  12:00pm

              %h5.title
                This is an event

            %p.teaser
              Descriptions of the events are a good thing to have, so this is an example of one of moderate size.
              .more

          .attrs

        %li.post.event
          %a.body{:href => '#'}
            .header.time
              .date-time
                .date
                  .month
                    Jan
                  .day
                    10
                .time
                  12:00pm

              %h5.title
                This is an event

            %p.teaser
              Descriptions of the events are a good thing to have, so this is an example of one of moderate size.
              .more
          .attrs

        %li.post.event
          %a.body{:href => '#'}
            .header.time
              .date-time
                .date
                  .month
                    Jan
                  .day
                    10
                .time
                  12:00pm

              %h5.title
                This is an event

            %p.teaser
              Descriptions of the events are a good thing to have, so this is an example of one of moderate size.
              .more
          .attrs

        %li.post.event
          %a.body{:href => '#'}
            .header.time
              .date-time
                .date
                  .month
                    Jan
                  .day
                    10
                .time
                  12:00pm

              %h5.title
                This is an event

            %p.teaser
              Descriptions of the events are a good thing to have, so this is an example of one of moderate size.

              .more
          .attrs

        %li.post.event
          %a.body{:href => '#'}
            .header.time
              .date-time
                .date
                  .month
                    Jan
                  .day
                    10
                .time
                  12:00pm

              %h5.title
                This is an event

            %p.teaser
              Descriptions of the events are a good thing to have, so this is an example of one of moderate size.
              .more
          .attrs

  - if page.blogrollup
    = partial('blogrollup.html.haml')

