- author = page.author
%ul.app-social-media-buttons
  - if author.github
    %li
      %a{:href => "https://github.com/#{author.github}", :target => "_blank", :rel => "noreferrer noopener"}
        GitHub
  - if author.twitter
    %li
      %a{:href => "https://twitter.com/#{author.twitter}", :target => "_blank", :rel => "noreferrer noopener"}
        Twitter
  - if author.blog
    %li
      %a{:href => "#{author.blog}", :target => "_blank", :rel => "noreferrer noopener"}
        Blog
  - if author.linkedin
    %li
      %a{:href => "https://www.linkedin.com/in/#{author.linkedin}", :target => "_blank", :rel => "noreferrer noopener"}
        LinkedIn
