- author = page.author
%ul.author.social-media-buttons
  - if author.github
    %li.author
      %a{:href => "https://github.com/#{author.github}", :target => "_blank"}
        GitHub
  - if author.twitter
    %li.author
      %a{:href => "https://twitter.com/#{author.twitter}", :target => "_blank"}
        Twitter
  - if author.blog
    %li.author
      %a{:href => "#{author.blog}", :target => "_blank"}
        Blog
  - if author.linkedin
    %li.author
      %a{:href => "#{author.linkedin}", :target => "_blank"}
        LinkedIn
