.jumbotron.sponsor-row
  .container
    %h3 Sponsors
    .img-box
      %img.desaturate{:src=>'http://www.contegix.com/wp-content/uploads/2012/12/contegix_fb_profile_v2.jpg'}
    .img-box      
      %img.desaturate{:src=>'http://hitech-us.com/assets/img/cases/rackspace/rackspace_logo.png'}
    .img-box 
      %img.desaturate{:src=>'https://www.python.org/images/infrastructure/osl.png'}
    .img-box
      %img.desaturate{:src=>'http://www.agileroots.com/wp-content/uploads/2012/04/xmission-150x150.png'}
    .img-box
      %img.desaturate{:src=>'https://www.jfrog.com/wp-content/uploads/2014/05/JFrog-Logo-trans-cut.png'}
    .img-box
      %img.desaturate{:src=>'https://summit.openshift.com/assets/img/sponsor/cloudbees.png'}