%ol.jumbotron.getting-started.step-by-step
  .brick-tops.bottom
  %h3.header
    = page.title

  - page.steps.each_index do |index|
    - step = page.steps[index]

    %li.card.step
      %a.card-block{'data-toggle' => 'popover',
        'data-container' => '#ji-hover-layer',
        'data-placement' => 'top',
        'data-trigger' => 'hover focus',
        'data-title' => step.title,
        'data-content' => step.long}

        %h4.card-title
          .tag
            Step
          .num
            = index

        %p.short
          =step.short