%ol.jumbotron.getting-started.step-by-step
  .container
    %h3.header
      = page.title

    - page.steps.each_index do |index|
      - step = page.steps[index]
      - icon = step.iconclass

      %li.card.step.col-lg-3.col-md-6 
        %a.card-block{'data-bs-toggle' => 'popover',
          'data-container' => '#ji-hover-layer',
          'data-placement' => 'top',
          'data-trigger' => 'hover focus',
          'data-title' => step.title,
          'data-content' => step.long,
          'href' => step.href}

          %h4.card-title
            .tag
              Step
              - if step.iconclass
                = (index + 1)
            .num
              - if step.iconclass
                %i(class=icon)
              - else
                = index
          %h5.title
            = step.title
          %p.short
            =step.short
