%ol.jumbotron.getting-started.step-by-step
  
  %h3.header
    = page.title
      
  - for step in page.steps

    %li.card.step
      %a.card-block{'data-toggle' => 'popover','data-container' => '#ji-hover-layer','data-placement' => 'top','data-trigger' => 'hover focus','data-title' => step.title,'data-content' => step.long}
        %h4.card-title
          .tag Step 
          .num 
            = step.id
        %p.short
          =step.short

