:css
  .submitted {
    display: none;
  }

%p
  Download hasn't started?

  %a#startDownloadLink{:href => page.release_url}
    Click this link
    
%h2
  Changing boot configuration

%p
  By default, your Jenkins runs at 
  %a{:href => 'http://localhost:8080/'}
    https://localhost:8080/. 
  This can be changed by editing 
  %code
    jenkins.xml
  , which is located in your installation directory. This file is also the place to change other boot configuration parameters, such as JVM options, HTTPS setup, etc.
    
%h2 
  Starting/stopping the service
  
%p
  Jenkins is installed as a Windows service, and it is configured to start automatically upon boot. To start/stop them manually, use the service manager from the control panel, or the 
  %code
    sc 
  command line tool.
  
%h2
  Inheriting your existing Jenkins installation
  
%p
  If you'd like your new installation to take over your existing Jenkins data, copy your old data directory into the new  
  %code
    JENKINS_HOME
  directory.

%h2
  See Also

%ul
  %li
    %a{:href => '/doc/book/system-administration/reverse-proxy-configuration-with-jenkins/#running-jenkins-behind-iis'}
      Running Jenkins behind Internet Information Server (IIS)
  %li
    %a{:href => '/doc/book/system-administration/reverse-proxy-configuration-with-jenkins/#running-jenkins-behind-nginx'}
      Running Jenkins behind nginx
  %li
    %a{:href => '/doc/book/system-administration/reverse-proxy-configuration-with-jenkins/#running-jenkins-behind-apache'}
      Running Jenkins behind Apache

:javascript
  $(document).ready(function() {
    window.location.href = "#{page.release_url}";
  })
