:css
  .submitted {
    display: none;
  }

%p
  Download hasn't started?

  %a#startDownloadLink{:href => page.release_url}
    Click this link

%h2
  Microsoft Defender SmartScreen

%p
  Code signing for the Jenkins MSI installer changed with Jenkins weekly 2.562.
  The installer is now signed by "LF Open Source LLC" using the Microsoft Artifact Signing Service.
  Because the code signing service is new, a Windows warning dialog is displayed before the installer starts.

%p
  Microsoft Windows 11, Windows 2019, Windows 2022, and Windows 2025 show a Microsoft Defender SmartScreen dialog when the Jenkins MSI installer is run.
  The dialog says:
  %blockquote
    Microsoft Defender SmartScreen prevented an unrecognized app from starting.
    Running this app might put your PC at risk.
  The SmartScreen dialog looks like this:
%img{:src => "/images/windows/protected-your-pc-1.png"}

%p
  Click the
  %b "More info"
  link and the second SmartScreen dialog appears.
  It looks like this:
%img{:src => "/images/windows/protected-your-pc-2.png"}

%p
  Click the
  %b "Run anyway"
  button and the MSI installer will run.

%p
  Follow the instructions in the
  %a{:href => '/doc/book/installing/windows/'}
    Windows installation guide
  to complete the installation.

%h2
  Changing boot configuration

%p
  By default, your Jenkins runs at 
  %a{:href => 'http://localhost:8080/'}
    https://localhost:8080/. 
  This can be changed by editing 
  %code
    jenkins.xml
  , which is located in your installation directory. This file is also the place to change other boot configuration parameters, such as JVM options, HTTPS setup, etc.
    
%h2 
  Starting/stopping the service
  
%p
  Jenkins is installed as a Windows service, and it is configured to start automatically upon boot. To start/stop them manually, use the service manager from the control panel, or the 
  %code
    sc 
  command line tool.
  
%h2
  Inheriting your existing Jenkins installation
  
%p
  If you'd like your new installation to take over your existing Jenkins data, copy your old data directory into the new  
  %code
    JENKINS_HOME
  directory.

%h2
  See Also

%ul
  %li
    %a{:href => '/doc/book/system-administration/reverse-proxy-configuration-iis/'}
      Running Jenkins behind Internet Information Server (IIS)
  %li
    %a{:href => '/doc/book/system-administration/reverse-proxy-configuration-nginx/'}
      Running Jenkins behind nginx
  %li
    %a{:href => '/doc/book/system-administration/reverse-proxy-configuration-apache/'}
      Running Jenkins behind Apache

:javascript
  $(document).ready(function() {
    window.location.href = "#{page.release_url}";
  })
