:css
  .submitted {
    display: none;
  }

%p
  Download hasn't started?

  %a#startDownloadLink{:href => page.release_url}
    Click this link

%h2
  What's next?

%ul
  %li
    %a{:href => 'https://wiki.jenkins.io/display/JENKINS/Thanks+for+using+OSX+Installer'}
      Learn how the OS X installer sets up your Jenkins, and how you can tweak it.
  %li
    %a{:href => 'https://twitter.com/jenkinsci'}
      Follow us
    on Twitter for updates

:javascript
  $(document).ready(function() {
    window.location.href = "#{page.release_url}";
  })
