:css
  .submitted {
    display: none;
  }

%p
  Download hasn't started?

  %a#startDownloadLink{:href => page.release_url}
    Click this link
    
%h2
  Changing boot configuration

%p
  By default, your Jenkins runs at 
  %a{:href => 'http://localhost:8080/'}
    https://localhost:8080/. 
  This can be changed by editing 
  %code
    jenkins.xml
  , which is located in your installation directory. This file is also the place to change other boot configuration parameters, such as JVM options, HTTPS setup, etc.
    
%h2 
  Starting/stopping the service
  
%p
  Jenkins is installed as a Windows service, and it is configured to start automatically upon boot. To start/stop them manually, use the service manager from the control panel, or the 
  %code
    sc 
  command line tool.
  
%h2
  Inheriting your existing Jenkins installation
  
%p
  If you'd like your new installation to take over your existing Jenkins data, copy your old data directory into the new  
  %code
    JENKINS_HOME
  directory.

%h2
  See Also

%ul
  %li
    %a{:href => 'https://wiki.jenkins.io/display/JENKINS/Running+Jenkins+behind+Apache'}
      Running Jenkins behind Apache
  %li
    %a{:href => 'https://wiki.jenkins.io/display/JENKINS/Running+Jenkins+behind+Nginx'}
      Running Jenkins behind Nginx
    and
    %a{:href => 'https://wiki.jenkins.io/display/JENKINS/Jenkins+behind+an+NGinX+reverse+proxy'}
      Jenkins behind an NGinX reverse proxy

:javascript
  $(document).ready(function() {
    window.location.href = "#{page.release_url}";
  })
