:javascript
  $(function () {
    $('[data-toggle="popover"]').popover();
    
    $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox();
    }); 
  })

#ji-hover-layer
%nav#ji-toolbar.navbar.navbar-dark.bg-inverse
  %a.navbar-brand{:href => '/new'} 
    Jenkins.io
  %ul.nav.navbar-nav
    %li.nav-item
      %a.nav-link
        Downloads
    %li.nav-item
      %a.nav-link
        Plugins
    %li.nav-item
      %a.nav-link
        Blogs
    %li.nav-item
      %a.nav-link
        Events
    %li.nav-item
      %a.nav-link
        Doc
    %li.nav-item.dropdown{:class => ('active' if page.section == 'more' )}
      %a.nav-link.dropdown-toggle{'data-toggle' => 'dropdown', :href=>"#", :role=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
        More
      %div.dropdown-menu
        %a.dropdown-item
          Members
        %a.dropdown-item
          Features
  %form.form-inline.navbar-form.pull-right
    %input.form-control{:type=>"text", :placeholder => 'search'}
    %button.btn.btn-success-outline{:type=>"submit"}
      %i.icon-search
%div#ji-toolbar-offset

#ji-top-peg
  %a#ji-fork-tag{:href => 'https://github.com/jenkinsci'}
    %img{:style => 'position: absolute; top: 0; right: 0; border: 0;',
      :src => 'https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png',
      :alt => 'Fork us on GitHub'}/