%nav#ji-toolbar.navbar.navbar-toggleable-md.navbar-inverse.top.bg-inverse.fixed-top
  .container
    %button.navbar-toggler.navbar-toggler-rght.hidden-lg-up.float-right{"data-target" => "#CollapsingNavbar", "data-toggle" => "collapse", :type => "button"}
      %i.ion-navicon
    %a.navbar-brand{:href => site.base_url}
      = site.base_title

    #CollapsingNavbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.ml-auto
        %li.nav-item{:class => active_link?('node')}
          %a.nav-link{:href => expand_link('node')}
            Blog

        %li.nav-item.dropdown
          .nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :role => "button"}
            Documentation

          .dropdown-menu
            %a.dropdown-item{:href => expand_link('doc')}
              Use Jenkins
            %a.dropdown-item{:href => expand_link('doc/developer')}
              Extend Jenkins

        %li.nav-item{:class => active_link?('plugins')}
          %a.nav-link{:href => 'https://plugins.jenkins.io/'}
            Plugins

        %li.nav-item.dropdown
          .nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :role => "button"}
            Use-cases
          .dropdown-menu
            - site.solutions.keys.sort.each do |key|
              - link = expand_link("solutions/#{key}")
              %a.dropdown-item.feature{:href => link, :class => active_link?(key.to_s)}
                = site.solutions[key].usecase

        %li.nav-item.dropdown
          .nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :role => "button"}
            Participate

          .dropdown-menu
            %a.dropdown-item.feature{:href => expand_link("participate"), :title => "Getting started"}
              Getting started
          .dropdown-menu
            %a.dropdown-item.feature{:href => expand_link("sigs"), :title => "Special Interest Groups"}
              Special Interest Groups
          .dropdown-menu
            %a.dropdown-item.feature{:href => "https://wiki.jenkins.io/display/JENKINS/Adopt+a+Plugin", :title => "Adopt a plugin"}
              Adopt a plugin

        %li.dropdown.nav-item
          .nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :role => "button"} Sub-projects
          .dropdown-menu
            %a.dropdown-item.feature{:href => expand_link('projects/')}
              Overview
            - site.pages.map do |page|
              - next unless page.url.match(/\/projects\/([^\/]+)\/$/)
              %a.dropdown-item.feature{:href => expand_link(page.url)}
                = page.title

        %li.nav-item.dropdown
          .nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :role => "button"}
            Resources

          .dropdown-menu
            %a.dropdown-item.feature{:href => "https://accounts.jenkins.io/", :title => "Create/manage your account for accessing wiki, issue tracker, etc"}
              Account Management

            %a.dropdown-item{:href => expand_link('chat'), :title => "Chat with the rest of the Jenkins community on IRC"}
              Chat
            %a.dropdown-item.feature{:href => "https://issues.jenkins-ci.org/"}
              Issue Tracker
            %a.dropdown-item{:href => expand_link('mailing-lists'),
                              :title => "Browse Jenkins mailing list archives and/or subscribe to lists"}
              Mailing Lists
            %a.dropdown-item.feature{:href => expand_link('events')}
              Events
            %a.dropdown-item.feature{:href => "https://wiki.jenkins-ci.org/"}
              Wiki

        %li.nav-item.dropdown
          .nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :role => "button"}
            About

          .dropdown-menu
            %a.dropdown-item{:href => expand_link('security')}
              Security
            %a.dropdown-item{:href => expand_link('press')}
              Press
            %a.dropdown-item{:href => expand_link('awards')}
              Awards
            %a.dropdown-item{:href => expand_link('project/conduct')}
              Conduct
            %a.dropdown-item{:href => expand_link('artwork')}
              Artwork

        %li.nav-item
          %a.nav-link.btn.btn-outline-secondary{:href => expand_link('download')}
            Download
/ Spacing to make the fixed-top sticky navbar not occlude any content below it
.pt-4
  &nbsp;
