:javascript
  $(function () {
    $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox();
    });
  })

#ji-hover-layer

- if (page.section == 'doc')
  .ji-toolbar-offset
.ji-toolbar-offset

.fixed.top

  %nav#ji-toolbar.navbar.navbar-dark.bg-inverse

    %a#home-logo.fixed.navbar-brand{:href => '/'}
      = site.base_title

    %ul.nav.navbar-nav
      %li.nav-item.fixed
        #download-menu.btn-group
          %a.btn.btn-primary.dropdown-toggle{'data-toggle'=>"dropdown", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
            Downloads
          = partial('downloadlist.html.haml')
      %li.nav-item.dropdown
        %a.nav-link.dropdown-toggle{'data-toggle' => 'dropdown',
            :href=> "#", :role=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
          Participate
        %div.dropdown-menu
          %a.dropdown-item{:href => "/content/mailing-lists", :title => "Browse Jenkins mailing list archives and/or subscribe to lists"}
            Mailing Lists
          %a.dropdown-item{:href => "/content/chat", :title => "Chat with the rest of the Jenkins community on IRC"}
            Chat
          %a.dropdown-item{:href => "https://twitter.com/jenkinsci", :title => "Check out @jenkinsci on Twitter"}
            Twitter
          %a.dropdown-item{:href => "/content/event-calendar", :title => "Calendar for Jenkins events"}
            Event Calendar
          %a.dropdown-item{:href => "https://wiki.jenkins-ci.org/display/JENKINS/Office+Hours", :title => "Hangouts-based online meeting"}
            Office Hours
          %a.dropdown-item{:href => "http://jenkins.meetup.com/", :title => "Meetups"}
            Meetups
          %a.dropdown-item{:href => "https://reddit.com/r/jenkinsci", :title => "Latest Jenkins related news on /r/jenkinsci"}
            \/r/jenkinsci
          %a.dropdown-item{:href =>"https://wiki.jenkins-ci.org/display/JENKINS/Google+Summer+Of+Code+2016", :title => "Google Summer of Code"}
            Google Summer of Code
      - # Can't use active_link? here because our section is going to be the actual solution page itself
      - # but we still want to highlight the active link on the Use-cases dropdown
      %li.nav-item.dropdown{:class => ('active' if (page.section && site.solutions.keys.include?(page.section.to_sym)))}
        %a.nav-link.dropdown-toggle{'data-toggle' => 'dropdown',
            :href=> "#", :role=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
          Use-cases
        %div.dropdown-menu
          - site.solutions.keys.sort.each do |key|
            - link = "/solutions/#{key}"
            %a.dropdown-item.feature{:href => link, :class => active_link?(key.to_s)}
              = site.solutions[key].usecase
      %li.nav-item{:class => active_link?('blog')}
        %a.nav-link{:href => '/node'}
          Blog
      %li.nav-item{:class => active_link?('doc')}
        %a.nav-link{:href => '/doc'}
          Documentation
      %li.nav-item
        %a.nav-link{:href => 'https://wiki.jenkins-ci.org/display/JENKINS/Plugins'}
          Plugins
      %li.nav-item
        %a.nav-link{:href => 'https://wiki.jenkins-ci.org/'}
          Wiki
      %li.nav-item
        %a.nav-link{:href => 'https://issues.jenkins-ci.org/'}
          Issues
      %li.nav-item{:class => active_link?('security')}
        %a.nav-link{:href => '/security'}
          Security
      %li.nav-item{:class => active_link?('press')}
        %a.nav-link{:href => '/press'}
          Press
      %li.nav-item{:class => active_link?('conduct')}
        %a.nav-link{:href => '/conduct'}
          Conduct

  - if (page.section == 'doc')

    %nav#doc-toolbar.navbar.navbar-dark.darkblue

      %a.navbar-brand{:href => '/', :target => '_self'}

      %ul.nav.navbar-nav
        %li.nav-item{:class => ('active' if page.specific == 'start' )}
          %a.nav-link{:href => '/documentation/index.html', :target => '_self'}
            Getting Started
        %li.nav-item{:class => ('active' if page.specific == 'cjoc-user-guide' )}
          %a.nav-link{:href => '/docs/cloudbees-documentation/cjoc-user-guide/index.html', :target => '_self'}
            Operations Center
        %li.nav-item{:class => ('active' if page.specific == 'cje-user-guide' )}
          %a.nav-link{:href => '/docs/cloudbees-documentation/cje-user-guide/', :target => '_self'}
            Enterprise Solutions
        %li.nav-item{:class => ('active' if page.specific == 'pse-admin-guide' )}
          %a.nav-link{:href => '/docs/cloudbees-documentation/pse-admin-guide/', :target => '_self'}
            Private SaaS
        %li.nav-item{:class => ('active' if page.specific == 'cookbook' )}
          %a.nav-link{:href => '/docs/cloudbees-documentation/cookbook/book.html', :target => '_self'}
            Best Practices
        %li.nav-item{:class => ('active' if page.specific == 'support-kb-articles' )}
          %a.nav-link{:href => '/docs/support-kb-articles', :target => '_self'}
            KnowledgeBase
        %li.nav-item.dropdown
          %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            Community
          %ul.dropdown-menu
            %li
              %a.dropdown-item{:href => 'http://jenkins.io/doc/', :target=> '_blank'}
                Open Source Documentation
            %li
              %a.dropdown-item{:href => 'http://jenkins.io/plugins/', :target=> '_blank'}
                Open Source Plugins
            %li
              %a.dropdown-item{:href => 'https://groups.google.com/forum/#!forum/jenkinsci-users', :target=> '_blank'}
                Jenkins Users Google Group
            %li
              %a.dropdown-item{:href => 'https://groups.google.com/forum/#!forum/jenkinsci-dev', :target=> '_blank'}
                Jenkins Developer Google Group


#ji-top-peg
  %a#ji-fork-tag{:href => 'https://github.com/jenkinsci'}
    %img{:style => 'position: absolute; top: 0; right: 0; border: 0;',
      :src => 'https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png',
      :alt => 'Fork us on GitHub'}/
