:javascript
  $(function () {
    function watchScroll(){
      console.log('watch scroll...');

      function checkDownloadAndHome(){
        var $toolbar = $('#ji-toolbar');
        var $jenkinsTitle = $('#main-page-title');
        var $download = $('#download-banner-btn');
        var $gutterNav = $('#gutter');

        var scrollTop = $(window).scrollTop() + $('#ji-toolbar').outerHeight();
        var titleTop = ($jenkinsTitle.length === 1)? $jenkinsTitle.offset().top : 0;
        var downloadTop = ($download.length === 1)? $download.offset().top : 0;
        var gutterTop = ($gutterNav.length === 1)? $gutterNav.offset().top : 0;

        var $home = $('#home-logo');
        var $download = $('#download-menu').parent();

        if(scrollTop > titleTop)
          $home.removeClass('slide-out');
        else
          $home.addClass('slide-out');

        if(scrollTop > downloadTop)
          $download.removeClass('slide-out');
        else
          $download.addClass('slide-out');

        if(scrollTop > gutterTop)
          $gutterNav.addClass('fixed');
        else
           $gutterNav.removeClass('fixed');
      }
      checkDownloadAndHome();
      $(window).scroll(checkDownloadAndHome);
    }
    watchScroll();

    $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox();
    });
  })

#ji-hover-layer

%nav#ji-toolbar.navbar.navbar-dark.bg-inverse

  %a#home-logo.slide-out.navbar-brand{:href => '/'}
    Jenkins.io

  %ul.nav.navbar-nav
    %li.nav-item.slide-out
      #download-menu.btn-group
        %a.btn.btn-primary.dropdown-toggle{'data-toggle'=>"dropdown", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
          Downloads
        = partial('downloadlist.html.haml')
    %li.nav-item{:class => ('active' if page.section == 'plugins' )}
      %a.nav-link{:href => '/plugins'}
        Plugins
    %li.nav-item{:class => ('active' if page.section == 'blogs' )}
      %a.nav-link{:href => '/blogs'}
        Blogs
    %li.nav-item{:class => ('active' if page.section == 'events' )}
      %a.nav-link{:href => '/events'}
        Events
    %li.nav-item{:class => ('active' if page.section == 'issues' )}
      %a.nav-link{:href => '/events'}
        Issues
    %li.nav-item{:class => ('active' if page.section == 'doc' )}
      %a.nav-link{:href => '/doc'}
        Doc
    %li.nav-item.dropdown{:class => ('active' if page.section == 'more' )}
      %a.nav-link.dropdown-toggle{'data-toggle' => 'dropdown', :href=>"#", :role=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
        More
      %div.dropdown-menu
        %a.dropdown-item
          Members
        .dropdown-divider
        %a.dropdown-item
          Resources
        .dropdown-divider
        %a.dropdown-item
          Issues
        .dropdown-divider
        %a.dropdown-item
          Features
        .dropdown-divider
        %a.dropdown-item.feature.docker{:href => '/docker'}
          Continuous Integration - CI
        %a.dropdown-item.feature.docker{:href => '/docker'}
          Continuous Delivery - CD
        %a.dropdown-item.feature.docker{:href => '/docker'}
          Github and Jenkins
        %a.dropdown-item.feature.docker{:href => '/docker',:class => ('active' if page.specific == 'docker' )}
          Docker and Jenkins
        %a.dropdown-item.feature.docker{:href => '/docker'}
          Android and Jenkins
        %a.dropdown-item.feature.docker{:href => '/docker'}
          Puppet infrastructure
        %a.dropdown-item.feature.docker{:href => '/embedded'}
          Embedded Systems

  %form.form-inline.navbar-form.pull-right.text-xs-right
    %input.form-control{:type=>"text", :placeholder => 'search'}
    %button.btn{:type=>"submit"}
      %i.icon-search

%div#ji-toolbar-offset

#ji-top-peg
  %a#ji-fork-tag{:href => 'https://github.com/jenkinsci'}
    %img{:style => 'position: absolute; top: 0; right: 0; border: 0;',
      :src => 'https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png',
      :alt => 'Fork us on GitHub'}/
