:javascript
  $(function () {
    $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox();
    });
  })

#ji-hover-layer

%nav#ji-toolbar.navbar.navbar-dark.bg-inverse

  %a#home-logo.fixed.navbar-brand{:href => '/'}
    = site.base_title

  %ul.nav.navbar-nav
    %li.nav-item.fixed
      #download-menu.btn-group
        %a.btn.btn-primary.dropdown-toggle{'data-toggle'=>"dropdown", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
          Downloads
        = partial('downloadlist.html.haml')
    %li.nav-item{:class => ('active' if page.section == 'plugins' )}
      %a.nav-link{:href => '/plugins'}
        Plugins
    %li.nav-item{:class => ('active' if page.section == 'events' )}
      %a.nav-link{:href => '/events'}
        Events
    %li.nav-item{:class => ('active' if page.section == 'issues' )}
      %a.nav-link{:href => 'https://wiki.jenkins-ci.org/'}
        Wiki
    %li.nav-item{:class => ('active' if page.section == 'issues' )}
      %a.nav-link{:href => 'https://issues.jenkins-ci.org/'}
        Issues
    %li.nav-item{:class => ('active' if page.section == 'doc' )}
      %a.nav-link{:href => '/doc'}
        Documentation
    %li.nav-item.dropdown{:class => ('active' if page.section == 'solutions' )}
      %a.nav-link.dropdown-toggle{'data-toggle' => 'dropdown',
          :href=> "#", :role=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
        Use-cases
      %div.dropdown-menu
        - # Find all our solution pages and then sort by the `usecase` property in their front-matter
        - # This will make the ordering of the submenu nice and consistent for users
        - site.pages.select { |p| p.output_path =~ /solutions/ }.sort_by! { |p| p.usecase }.each do |link|
          %a.dropdown-item.feature{:href => link.url,
            :title => link.title}
            = link.usecase
    %li.nav-item.dropdown{:class => ('active' if page.section == 'more' )}
      %a.nav-link.dropdown-toggle{'data-toggle' => 'dropdown', :href=>"#", :role=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
        More
      %div.dropdown-menu
        %a.dropdown-item
          Members
        .dropdown-divider
        %a.dropdown-item
          Resources
        .dropdown-divider
        %a.dropdown-item
          Issues
        .dropdown-divider
        %a.dropdown-item
          Features

  %form.search.form-inline.navbar-form.pull-right.text-xs-right{:action => '/app/'}
    .form-group
      .input-group
        %input.form-control{:type=>"text", :placeholder => 'search', :name => 'q'}
        %button.input-group-addon.btn.btn-default{:type=>"submit"}
          %i.icon-search

%div#ji-toolbar-offset

#ji-top-peg
  %a#ji-fork-tag{:href => 'https://github.com/jenkinsci'}
    %img{:style => 'position: absolute; top: 0; right: 0; border: 0;',
      :src => 'https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png',
      :alt => 'Fork us on GitHub'}/
