- video_id = rand(1000)
- allow_attribs = "accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"

:css
  .video_#{video_id} {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .video_#{video_id} iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.video{:class => "video_#{video_id}"}
  %iframe{:src => "https://www.youtube.com/embed/_MXtbjwsz3A", :width => 1261, :height => 621, :frameborder => 0, :allow => allow_attribs}
