---
layout: simplepage
title: Changelog
notitle: true
tight: true
---

%div.app-app-bar
  %div.app-app-bar__content
    %h1
      = page.title
  %div.app-app-bar__controls
    - if page.has_rss
      %a{:class => "app-button app-button--tertiary", :href => "rss.xml", :"aria-label" => "RSS"}
        = File.read("content/images/symbols/rss.svg")

- if page.show_ratings
  #head
    %script{:src => "/files/rate.js", :type => "text/javascript"}

  :javascript
    $(document).ready(function() {
        loaddata(this);
    });

= content
