---
layout: simplepage
title: Changelog
---

%link{:href => "/css/changelog.css", :rel => "stylesheet", :type => "text/css"}/

- if page.show_ratings
  #head
  %script{:src => "/files/rate.js", :type => "text/javascript"}
  #ratings

.w-100.text-right
  .iconlegend
    Legend:
    %ul.image
      %li.security security fix
      %li.major.bug major bug fix
      %li.bug bug fix
      %li.major.rfe major enhancement
      %li.rfe enhancement
.w-100.text-right{:style => "margin: 10px 0;"}
  .iconlegend
    Community feedback:
    %ul.feedback
      %li.sunny no major issues
      %li.cloudy notable issues
      %li.storm required rollback
- if page.has_rss
  .w-100.text-right{:style => "margin: 10px 0;"}
    %a{:href => "rss.xml"}
      %img{:src => "/images/changelog/feed-icon.svg", :style => "height: 20px"}/
      RSS

- if page.show_ratings
  :javascript
    $(document).ready(function() {
        loaddata(this);
    });

= content
