---
layout: default
---

.container
  .row.body
    %h1
      = page.title

    = content

    - chapter_key = File.basename(File.dirname(page.source_path))
    - chapter = site.handbook.chapter_for_path(chapter_key)

    - if chapter.sections && chapter.sections.size > 0
      %h2
        Sub-sections

      %ul
        - chapter.sections.each do |section|
          %li
            %a{:href => section.key}
              = section.title

    %div.section_nav
      %a{:href => '..'}
        Up

