---
layout: frame
---
- # We need to propagate the page.section into the partial since inside the partial
- # this template (default.html.haml) is scoped as `page`
= partial('toptoolbar.html.haml', :section => page.section, :hide_search_bar => page.hideSearchBar)

- if page.precontent
  - page.precontent.each do |pre|
    = partial("#{pre}.html.haml")

= content
