---
layout: developerbook
---

:css
  .docs__version {
    background: hsl(0deg, 0%, 93%);
    font-size: 13px;
    font-weight: 600;
    padding: 1.75ch 2ch;
  }

%p
  %a{:href => expand_link('doc/developer/guides')}
    View the index of available developer guides

= content
