---
layout: default
section: doc
---

:css
  .container .row.body {
    margin-right: 5em;
    margin-left: 5em;
  }
  .toc {
      float: right;
  }

= partial('anchors.html.haml');

.container
  .row.body
    .col-12
      - unless page.notitle
        %h1
          = page.title

      = content
