---
layout: default
---
.container
  .row
    .col-lg-3
      .sidebar-nav
        %h5
          Jenkins
        %ul
          %li
            %a{:href => '/doc'}
              Installing Jenkins
        %h5
          Pipelines
        %ul
          %a{:href => 'pipeline/getting-started'}
            Getting Started
          %li
            %a{:href => 'pipeline/running-multiple-steps'}
              Running multiple steps
          %li
            %a{:href => 'pipeline/controlling-your-build-environment'}
              Controlling your build environment
          %li
            %a{:href => 'pipeline/environment-variables'}
              Environment variables
          %li
            %a{:href => 'pipeline/reporting-test-results-and-storing-artifacts'}
              Reporting test results and storing artifacts
          %li
            %a{:href => 'pipeline/notifications'}
              Notifications
          %li
            %a{:href => 'pipeline/deployment'}
              Deployment
          %li
            %a{:href => 'pipeline/parallelism'}
              Parallelism
        %h5
          Advanced
        %ul
          - sections_from(book_dir).each do |section, file, url, children|
            /
              This section provided by the following document:
              = File.basename(file)
            %li
              %a{:href => url}
                = section
    .col-lg-9
      %h1
        = page.title
      = content
