---
layout: documentation
section: doc
title: Jenkins Help
uneditable: true
---

%a{:href => '/doc/help'}
    Back to index

%div.admonitionblock.note
    %table
        %tr
            %td.icon
                %div.title
                    Note
            %td.content
                This page is generated from Jenkins inline help intended to be rendered within the Jenkins UI.
                Some minor content glitches are expected.

%hr/

= page.content
