---
layout: default
notitle: title
---

:css
	section.title-wrapper {
		display: flex;
		margin-right: auto;
		margin-left: auto;
		line-height: 25.2px;
	}

	section.title {
		display: flex;
		width: 100%;
		background-color: #F1F5F5;
		transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
		padding: 2% 0% 2% 0%;
		color: #DB5E35;
		margin-right: auto;
		margin-left: auto;
	}

<!-- start -->

%section.title-wrapper
	%section.title
		%h2
			= page.title

= content
