---
layout: documentation
uneditable: true
notitle: true
---

%p
  The following plugin provides functionality available through
  Pipeline-compatible steps. Read more about how to integrate steps into your
  Pipeline in the
  %a{:href => expand_link("doc/book/pipeline/syntax/#declarative-steps")} Steps
  section of the
  %a{:href => expand_link("doc/book/pipeline/syntax")} Pipeline Syntax
  page.

%p
  For a list of other such plugins, see the
  %a{:href => expand_link("doc/pipeline/steps/")} Pipeline Steps Reference
  page.

= content

%hr/

.container
= partial ('_feedback-footer.html')
