---
layout: default
---

%div{:class => 'node clear-block'}
  %h1
    %a{:href => page.url, :title => page.title}
      = page.title

  %span.submitted
    Published on
    = page.date

  = partial('tweetbutton.html.haml')

  %div.content
    = content
