---
layout: default
---

.container
  .row
    .col-lg-9
      %h1
        = page.title
      = content
    .col-lg-3
      .sidebar-nav
        %h4 On this page
        =document.converter.convert document, 'outline'
