%html
  %head
    %meta{:'http-equiv' => 'content-type', :content => 'text/html; charset=utf-8'}/
    %meta{:'http-equiv' => 'refresh', :content => "0;URL=#{page.refresh_to_post_id}"}/
  %body
    %center
      This content has moved to
      %a{:href => page.refresh_to_post_id}
        = page.refresh_to_post_id
