---
layout: default
---

:css
  .row {
    margin-right: 5em;
    margin-left: 5em;
  }
  .toc {
      float: right;
  }

:javascript
  $(function () {
    anchors.add('.container .row.body h1');
    anchors.add('.container .row.body h2');
    anchors.add('.container .row.body h3');
    anchors.add('.container .row.body h4');
    anchors.add('.container .row.body h5');
    anchors.add('.container .row.body h6');
  })

.container
  .row.body
    - unless page.notitle
      %h1
        = page.title

    = content
