---
layout: default
---

:css
  .toc {
      float: right;
  }

- unless page.noanchors
  = partial("anchors.html.haml")

.container
  .row.body
    .col-md-12
      - unless page.notitle
        %h1
          = page.title
      = content
