---
layout: default
---
- # in the case of a non-legacy build, we want a simple page to have some
- # margins on the sides to make the text more readable
- if legacy?
  = content
- else
  .container
    .row.body
      %h1
        = page.title

      = content
