---
layout: default
---

:css
  .toc {
      float: right;
  }

- unless page.noanchors
  = partial("anchors.html.haml", :selector => '.app-container')

.app-container
  - unless page.notitle
    %h1
      = page.title
  = content
