---
layout: frame
---
- if legacy?
  %div#page{:class => 'clearfloat'}
    %div#top{:class => 'clearfloat'}
      - if page.header_image
        #headline.no-featured
          .block
            .content
              %center
                %img{:src => page.header_image,
                    :border => '0'}

    %div#sidebar
      .block
        .content
          =partial('news.html.haml',
            :title => "Jenkins ♥ #{page.usecase} Articles",
            :articles => page.articles)

      .block
        .content
          =partial('plugins.html.haml',
            :title => "#{page.usecase} plugins for Jenkins",
            :plugins => page.plugins)

      = partial('legacy/download.html.haml')

    %div#content{:class => 'main-content with-sidebar'}
      %div#content-top/

      = content

      %div#content-bottom/
