---
layout: default
title: 'Jenkins - User Story Library'
---

:ruby
  pages = site.pages.select { |p| p.source_path =~ /content\/jenkinsistheway/ && !p.date.nil? }.sort { |a, b| Date.parse(b.date) <=> Date.parse(a.date) }

.container
  .row.body
    .col.text-center
      %h1 Jenkins Is The Way

  .row
    .col-3
      %h2 Tell Your Story

      %p "Jenkins Is The Way" is a global showcase of how developers and engineers are building, deploying, and automating great stuff with Jenkins.
      %p Share your story and we’ll send you a free Jenkins Is The Way T-Shirt.
      %p Our short form will capture details about your project’s goals and technical challenges, and the unique solutions you came up with using Jenkins.

    .col-4
      %img{src: expand_link("/images/jenkinsistheway/full.png")}

    .col-5
      %h2 Latest Jenkins User Stories

      - pages.take(4).each do |story|
        %div.pb-2
          %div
            %a{href: "#{expand_link("/jenkinsistheway/#{story.post_name}/")}"}
              = story.title
          Submitted By Jenkins User
          %strong
            = story.submitted_by
