---
layout: default
title: 'Jenkins - User Story Library'
---

:ruby
  pages = site.pages.select { |p| p.source_path =~ /content\/jenkinsistheway/ && !p.date.nil? }.sort { |a, b| DateTime.parse(b.date) <=> DateTime.parse(a.date) }

.container
  .row.body
    .col.text-center
      %h1 Jenkins Is The Way

  .row
    .col-4
      %img{src: expand_link("/images/jenkinsistheway/Jenkins-is-the-Way-768x911.png")}

    .col-8
      %h2 Latest Jenkins User Stories

      - pages.take(4).each do |story|
        %div.pb-2
          %div
            %a{href: story.url}
              = story.title
          Submitted By Jenkins User
          %strong
            = story.submitted_by

      %div.text-center.pt-2
        %a.btn.btn-primary{href:expand_link("/jenkinsistheway/all/")} Read User Stories

  .row
    .col
      .jumbotron
        .row
          .col
            %div.pb-2
              %img{src: expand_link("/images/jenkinsistheway/Screen-Shot-2021-11-18-at-10.18.48-AM.png")}

            %div.text-center.pt-2
              %a.btn.btn-secondary{href:expand_link("/jenkinsistheway/map")} Visit the map!
