---
layout: default
title: 'Jenkins - User Story Library'
---

:css
  #map { height: 800px }

:ruby
  locations = site.pages
    .select { |p| p.source_path =~ /content\/jenkinsistheway/ && !p.latitude.nil? && !p.url.nil? && !p.longitude.nil? }
    .map { |page| page.to_h.slice(:title, :location, :industry, :latitude, :longitude, :name, :url) }

:javascript
  $(function() {
     var map = L.map('map').setView([43.5890452, 0], 2);
     L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
       attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
     }).addTo(map);

     function markerPopup(marker) {
       var $content = $('<table class="table">' +
          '<tbody>' +
            '<tr style="border: 0px hidden;padding: 5px;">' +
              '<td style="border: 0px hidden;" colspan="2">' +
                '<h4>Jenkins is the way to automate almost anything in an enterprise</h4>' +
              '</td>'+
            '</tr>' +
            '<tr>' +
              '<td style="border: 0px hidden;" width="150"><center><img src="/images/jenkinsistheway/jenkins_map_pin-180x180-1.png"></center></td>' +
              '<td style="border: 0px hidden;padding:  5px;">' +
                '<dt>%name</dt>' +
                '<dt>%location</dt>' +
                '<dt>%industry</dt>' +
                '<dt><a href="" target="_new">Read user story</dt>' +
              '</td>' +
            '</tr>' +
          '</tbody>' +
        '</table>')
        $content.find('h4').text(marker.title);
        $content.find('dt:nth-child(1)').text(marker.name);
        $content.find('dt:nth-child(2)').text(marker.location);
        $content.find('dt:nth-child(3)').text(marker.industry);
        $content.find('dt:nth-child(4) a').attr('href', marker.url);
        return $content.html();
     }

     var jenkinsIcon = L.icon({
       iconUrl:'/images/jenkinsistheway/jenkins_map_pin2-e1634173081372.png',
       iconAnchor: [29,59],
       iconSize: [59, 59]
     });

     window.markers.forEach(marker => {
       L.marker([marker.latitude, marker.longitude], { icon: jenkinsIcon })
        .addTo(map)
        .bindPopup(markerPopup(marker))
     })
   })

.container
  .row.body
    .col.text-center
      %h1 Jenkins Is The Way
      %h2 Around The World
      %h3 Zoom into the map below to discover just where in the world you’ll find Jenkins users and Jenkins solutions.

  .row.body
    .col
      %div#map
      %script
        = "window.markers = #{locations.to_json};"
      %link{rel:"stylesheet",href:"https://unpkg.com/leaflet@1.7.1/dist/leaflet.css",integrity:"sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==",crossorigin:""}
      %script{src:"https://unpkg.com/leaflet@1.7.1/dist/leaflet.js",integrity:"sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==",crossorigin:""}
