- release = site.changelogs[:weekly].reverse.select { |release| Gem::Version.new(release.version) <= Gem::Version.new(site.jenkins.latest) }[0]

// Compatible with shields.io JSON endpoint: https://shields.io/endpoint
:plain
  {
    "schemaVersion": 1,
    "label": "Jenkins Weekly",
    "message": "#{release.version}",
    "color": "blue"
    "version":"#{release.version}",
    "date":"#{release.date}",
    "changelogUrl":"https://www.jenkins.io/changelog/##{release.version}"
  }
