---
layout: changelog
title: Changelog
show_ratings: true
has_rss: true
---

.ratings
  - # source: https://github.com/jenkins-infra/jenkins.io/blob/master/content/_data/changelogs/weekly.yml
  - site.changelogs[:weekly].reverse.select { |release| Gem::Version.new(release.version) <= Gem::Version.new(site.jenkins.latest) }[0..29].each do | release |
    = partial('release-header.html.haml', :release => release)
    %p
      %small
        %a{:href => "/changelog/#{release.version}/" }
          permalink to this entry
    %ul.image
      = partial('changelog-changes.html.haml', :changes => release.changes)


%p
  %b
    Changelogs of historical releases can be found
    %a{:href => '/changelog-old/'}
      in the changelog archive.
