---
layout: changelog
title: Changelog
show_ratings: true
has_rss: true
---

.ratings
  - # source: https://github.com/jenkins-infra/jenkins.io/blob/master/content/_data/changelogs/weekly.yml
  - site.changelogs[:weekly].reverse.select { |release| Gem::Version.new(release.version) <= Gem::Version.new(site.jenkins.latest) }[0..29].each do | release |
    = partial('release-header.html.haml', :release => release, :url => 'changelog')
    - if release.tested_configurations
      %div.app-releases__tested-configs
        %span.app-releases__tested-configs__label Tested Configurations:
        - if release.tested_configurations['platforms']
          Platforms:
          = release.tested_configurations['platforms'].map { |p| p.to_s.capitalize }.join(', ')
          &#8212;
        - if release.tested_configurations['jdks']
          JDKs:
          = release.tested_configurations['jdks'].map { |j| j.to_s }.join(', ')
    %div.app-releases__list__items
      = partial('changelog-changes.html.haml', :changes => release.changes)

.app-banner
  Changelogs of historical releases can be found
  %a{:href => '/changelog-old/'}
    in the changelog archive.
