---
layout: changelog
title: Changelog
show_ratings: true
has_rss: true
---

.ratings
  - # source: https://github.com/jenkins-infra/jenkins.io/blob/master/content/_data/changelogs/weekly.yml
  - site.changelogs[:weekly].reverse.select { |release| Gem::Version.new(release.version) <= Gem::Version.new(site.jenkins.latest) }[0..29].each do | release |
    = partial('release-header.html.haml', :release => release, :url => 'changelog')
    - tc = site.changelogs[:tested_configurations]
    - if tc && tc['weekly']
      - release_version = Gem::Version.new(release.version)
      - platforms = tc['weekly']['platforms'].select { |p| release_version >= Gem::Version.new(p['from']) && (p['to'].nil? || release_version <= Gem::Version.new(p['to'])) }.map { |p| p['value'] }
      - jdks = tc['weekly']['jdks'].select { |j| release_version >= Gem::Version.new(j['from']) && (j['to'].nil? || release_version <= Gem::Version.new(j['to'])) }.map { |j| j['value'] }
      - if !platforms.empty? || !jdks.empty?
        %div.app-releases__tested-configs
          %span.app-releases__tested-configs__label Tested Configurations:
          - if !platforms.empty?
            Platforms:
            = platforms.join(', ')
            - if !jdks.empty?
              &#8212;
          - if !jdks.empty?
            JDKs:
            = jdks.join(', ')
    %div.app-releases__list__items
      = partial('changelog-changes.html.haml', :changes => release.changes)

.app-banner
  Changelogs of historical releases can be found
  %a{:href => '/changelog-old/'}
    in the changelog archive.
