---
layout: changelog
title: Changelog
show_ratings: true
has_rss: true
---

.ratings
  - # source: https://github.com/jenkins-infra/jenkins.io/blob/master/content/_data/changelogs/weekly.yml
  - site.changelogs[:weekly].reverse.select { |release| Gem::Version.new(release.version) <= Gem::Version.new(site.jenkins.latest) }[0..29].each do | release |
    = partial('release-header.html.haml', :release => release, :url => 'changelog')
    %div.app-releases__list__items
      = partial('changelog-changes.html.haml', :changes => release.changes)

.app-banner
  Changelogs of historical releases can be found
  %a{:href => '/changelog-old/'}
    in the changelog archive.
