---
title: "Jenkins Developer Reference"
layout: developer
---

:css
  .jenkins-developer-chapters {
    list-style: none;
    padding-inline-start: 0;
  }

%ul{:class => 'jenkins-developer-chapters'}
  - site.devbook.chapters.each do |chapter|
    %li{:style => 'font-size: 24px;'}
      %a{:href => expand_link(chapter.page.url)}
        = chapter.title
      - if chapter.page.wip
        - if !chapter.page.references || chapter.page.references.length == 0
          %i.icon-warning{:title => 'Early work in progress'}
            &nbsp;
        - else
          %i.icon-warning{:title => 'Partial work in progress', :style => 'opacity: 0.5;'}
            &nbsp;
      - if chapter.page.summary
        %p{:style => 'font-size: 14px;'}
          = chapter.page.summary
      %ul
        - chapter.sections.each do | section |
          %li{:style => 'font-size: 18px;'}
            %a{:href => expand_link(section.page.url)}

              = section.title

            - if section.page.wip
              - if !section.page.references || section.page.references.length == 0
                %i.icon-warning{:title => 'Work in progress'}
                  &nbsp;
              - else
                %i.icon-warning{:title => 'Partial work in progress', :style => 'opacity: 0.5;'}
                  &nbsp;
  %li{:style => 'font-size: 24px;'}
    %a{:href => '../guides'}
      Appendix C: Index of All How-To Guides
