---
layout: developer
title: How-To Guides
noanchors: true
---

%ul
  - site.devbook.guides.each do |g|
    %li
      %a{:href => expand_link(g.page.url)}
        = "#{g.chapter.title}: #{g.page.title}"
