---
title: "Extend Jenkins"
layout: developer
noanchors: true
---

%p
  Jenkins is an extensible automation server with more than 1800 plugins
  providing integrations for hundreds of tools and services. The resources below
  will teach you how to
  %em extend
  Jenkins with new features.

%p
  If you want to
  %em use
  Jenkins's existing functionality and plugin features only, please refer to the
  %a{:href => "/doc"} Jenkins User Documentation
  instead.

.row
  .col-xl-6
    %h2
      %a{:href => "tutorial"}
        Create a Plugin - Tutorial
    %p
      Get started with Jenkins development by writing a simple plugin.
  .col-xl-6
    %h2
      %a{:href => "tutorial-improve"}
        Improve a Plugin - Tutorial
    %p
      Improve a Jenkins plugin to make it easier to maintain.


  .col-xl-6
    %h2
      %a{:href => "guides"}
        How-To Guides
    %p
      These guides explain how to solve a specific problem.

  .col-xl-6
    %h2
      %a{:href => "book"}
        Reference Documentation
    %p
      The Jenkins developer reference documentation is organized by topics.

  .col-xl-6
    %h2
      %a{:href => "extensions"}
        Extensions Index
    %p
      An index of all extension points available in core and plugins and their implementations.
