---
layout: developer
title: Javadoc
---

%h2
  Jenkins Core

%p
  This is the Javadoc for Jenkins core. Javadoc is available for the latest weekly release and for recent LTS releases.
  See
  %a{:href => '/doc/developer/plugin-development/choosing-jenkins-baseline/'}
    choosing a Jenkins baseline
  for guidance choosing the minimum Jenkins core version for a plugin.

%h3
  Weekly

%ul
  %li
    %a{:href => 'https://javadoc.jenkins.io/index-core.html'}
      Latest Core Javadoc

%h3
  LTS

%ul
  - previous = ''
  -# No more than 9 LTS releases because LTS baseline recommends most recent baseline and two baselines prior
  - site._generated[:lts_releases].results[0..8].each do | entry |
    - version = entry.version
    -# Show the javadoc for the most recent release of each LTS baseline
    -# Assumes releases have form x.y.z as in 2.346.2
    - if version.split('.')[0..1] != previous.split('.')[0..1]
      - previous = version
      %li
        %a{:href => "https://javadoc.jenkins.io/archive/jenkins-#{version}"}
          Jenkins Core
          = version
          Javadoc

%h2
  Stapler Javadoc

%p
  %a{:href => 'https://javadoc.jenkins.io/component/stapler/'}
    Stapler Javadoc
  describes the framework used by Jenkins to route requests to the objects handling them.
  %a{:href => '/doc/developer/architecture/web/'}
    Learn more.

%h2
  Components Javadoc

%p
  %a{:href => 'https://javadoc.jenkins.io/component/'}
    Components Javadoc
  describes Jenkins components and libraries (currently a partial list of components).

%h2
  Plugins Javadoc

%p
  %a{:href => 'https://javadoc.jenkins.io/plugin/'}
    Plugins Javadoc
  describes the newest releases of all Jenkins plugins, if available.
