---
layout: developer
title: Javadoc
---

%h2
  Jenkins Core

%p
  This is the Javadoc for Jenkins core. Multiple versions are available: The latest weekly release, as well as the most recent LTS baselines.
  Unless a plugin requires very recent functionality, it should generally use one of the LTS baselines for its Jenkins core dependency.

%h3
  Weekly

%ul
  %li
    %a{:href => 'http://javadoc.jenkins.io/', :target => '_blank'}
      Latest Core Javadoc

%h3
  LTS Baselines

%ul
  - site._generated[:lts_baselines].results[0..9].each do | entry |
    - version = entry.version.reverse[2..-1].reverse
    %li
      %a{:href => "http://javadoc.jenkins.io/archive/jenkins-#{version}", :target => '_blank'}
        Jenkins Core
        = version
        Javadoc

%h2
  Stapler Javadoc

%p
  Stapler is the framework used by Jenkins to route requests to the objects handling them.
  %a{:href => '/doc/developer/architecture/web/'}
    Learn more.

%p
  %a{:href => 'http://stapler.kohsuke.org/apidocs/', :target => '_blank'}
    Stapler Javadoc on the Stapler site

%h2
  Components Javadoc

%p
  Components Javadoc is all about Jenkins components and libraries (currently a partial list of components).

%p
  %a{:href => 'http://javadoc.jenkins.io/component/', :target => '_blank'}
    Components Javadoc

%h2
  Modules Javadoc

%p
  Modules Javadoc is for latest version of Jenkins Core modules (Jenkins releases may use earlier versions)

%p
  %a{:href => 'http://javadoc.jenkins.io/module/', :target => '_blank'}
    Modules Javadoc

%h2
  Plugins Javadoc

%p
  This site collects and the Javadoc for the newest releases of all Jenkins plugins, if available.

%p
  %a{:href => 'http://javadoc.jenkins.io/plugin/', :target => '_blank'}
    Plugins Javadoc
