---
layout: developer
title: Javadoc
---

%h2
  Jenkins Core

%p
  This is the Javadoc for Jenkins core. Multiple versions are available: The latest weekly release, as well as the most recent LTS baselines.
  Unless a plugin requires very recent functionality, it should generally use one of the LTS baselines for its Jenkins core dependency.

%h3
  Weekly

%ul
  %li
    %a{:href => 'https://javadoc.jenkins.io/', :target => '_blank'}
      Latest Core Javadoc

%h3
  LTS Baselines

%ul
  - site._generated[:lts_baselines].results[0..9].each do | entry |
    - version = entry.version.reverse[2..-1].reverse
    %li
      %a{:href => "https://javadoc.jenkins.io/archive/jenkins-#{version}", :target => '_blank'}
        Jenkins Core
        = version
        Javadoc

%h2
  Stapler Javadoc

%p
  %a{:href => 'https://stapler.kohsuke.org/apidocs/', :target => '_blank'}
    Stapler Javadoc
  is hosted on the Stapler site.
  It describes the framework used by Jenkins to route requests to the objects handling them.
  %a{:href => '/doc/developer/architecture/web/'}
    Learn more.

%h2
  Components Javadoc

%p
  %a{:href => 'https://javadoc.jenkins.io/component/', :target => '_blank'}
    Components Javadoc
  describes Jenkins components and libraries (currently a partial list of components).

%h2
  Modules Javadoc

%p
  %a{:href => 'https://javadoc.jenkins.io/module/', :target => '_blank'}
    Modules Javadoc
  describes the latest versions of Jenkins Core modules (Jenkins releases may use earlier versions)

%h2
  Plugins Javadoc

%p
  %a{:href => 'https://javadoc.jenkins.io/plugin/', :target => '_blank'}
    Plugins Javadoc
  describes the newest releases of all Jenkins plugins, if available.
