---
layout: simplepage
title: Suggest a presentation
project: jam
---

:css
  .row.body {
    padding-top: 0px;
  }

:markdown
  Around the world there are lots of Jenkins Area Meetups which would be
  interested in hearing your Jenkins story.

  Submit the form below to let various JAM organizers know you are interested!"

%hr/

.input-group-lg
  %form{:action => 'https://formspree.io/jenkinsci-jam@googlegroups.com',
        :method => 'POST'}

    .row
      .col-lg-4
        .input-group
          %label{:for => 'Name'}
            %h4
              Your name
          %input.form-control{:type => :text, :name => 'Name',
            :required => true,
            :placeholder => 'Mr. Jenkins'}/

      .col-lg-4
        .input-group
          %label{:for => 'Reply-To'}
            %h4
              Your email
          %input.form-control{:type => :email, :name => 'Reply-To',
            :required => true, :placeholder => 'jenkins@example.com'}/

      .col-lg-4
        .input-group
          %label{:for => 'Location'}
            %h4
              Location
          %input.form-control{:type => :text, :name => 'Location',
            :required => true, :placeholder => 'Berlin, Germany'}/

    .row
      &nbsp;

    .row
      .col-lg-10
        .input-group
          %label{:for => 'Suggested Topic'}
            %h4
              Topic suggestion
          %input.form-control{:type => :text, :name => 'Suggested Topic',
            :required => true, :placeholder => 'Using Jenkins with This Cool Tech'}/

    .row
      &nbsp;


    .row
      .col-lg-10
        .input-group
          %label{:for => 'Abstract'}
            %h5
              Abstract &amp; Bio
          %textarea.form-control{:name => 'Abstract', :cols => 40, :rows => 6}

    .row
      &nbsp;


    .row
      .col-lg-8
        .input-group.input-group-btn
          %input.app-button.app-button--primary{:type => :submit, :value => 'Suggest topic'}
