---
:layout: post
:title: macOS Installers for Jenkins LTS
---

= partial('osx-brew-installer.html.haml', :tag => 'jenkins-lts', :type => 'LTS')

= partial('osx-native-installer.html.haml', :release_url => 'http://mirrors.jenkins-ci.org/osx-stable/')
