---
layout: changelog
title: Archived LTS Changelogs
show_ratings: false
has_rss: false
actions:
  <a class="app-button app-button--primary app-mobile-hide" href="/changelog-stable">
    <ion-icon name="arrow-back-circle-outline"></ion-icon>
    Back to Recent LTS Changelogs
  </a>
---

.ratings
  - # source: https://github.com/jenkins-infra/jenkins.io/blob/master/content/_data/changelogs/lts.yml
  - archived_changelogs = site.changelogs[:lts].take(25).reverse
  - archived_changelogs.each do |release|
    %div
      = partial('../_partials/release-header.html.haml', :release => release, :url => 'changelog-stable-old')
      - if release.changes
        %div.app-releases__list__items
          = partial('../_partials/changelog-changes.html.haml', :changes => release.changes)
      - else
        %p No notable changes for this release.

  = partial('changelog-stable.html')

.app-banner
  Recent LTS changelogs can be found
  %a{:href => '/changelog-stable/'}
    in the main LTS changelog page.
