---
layout: solution
title: "Jenkins and Android"
---

:markdown
  As one of the predominant mobile platforms, Android is attractive to a number
  of developers, but it does bring it's own set of challenges with it. With an
  extremely broad set of devices available on the market, building and testing
  for the matrix of device configurations can be very challenging. With the
  [Android emulator
  plugin](https://wiki.jenkins-ci.org/display/JENKINS/Android+Emulator+Plugin)
  however, it is possible to build and test on a myriad of emulated devices.

  When combined with the [Google Play Publisher
  plugin](https://wiki.jenkins-ci.org/display/JENKINS/Google+Play+Android+Publisher+Plugin),
  Android developers can build true continuous delivery pipeline, sending
  builds to an alpha channel in Google Play for release or further testing.


- if legacy?
  %h2
    Presentations

  %center
    %iframe{:width => 560, :height => 315, :frameborder => 0,
      :src => 'https://www.youtube-nocookie.com/embed/AYoAEoOoYFE?rel=0'}


  :markdown
    ### More presentations

    * Slides and demo video from [Droidcon UK 2012](http://jorgenpt.tumblr.com/post/34491749309/droidcon-uk-2012-slides-recap)
    * [Continuous Integration for Mobile Apps with Jenkins: Android Build Configuration](https://www.youtube.com/watch?v=EOogyOv79NE)
