---
layout: solution
title: "Jenkins and C/C++"
usecase: "C/C++"
articles:
plugins:
-
  - 'https://wiki.jenkins-ci.org/display/JENKINS/Warnings+Plugin'
  - 'Warnings plugin'
  - 'scans console output for compile-time warnings and errors to report on'
-
  - 'https://wiki.jenkins-ci.org/display/JENKINS/Valgrind+Plugin'
  - 'Valgrind plugin'
  - 'run and incorporate Valgrind (memcheck) reports into Jenkins'
-
  - 'https://wiki.jenkins-ci.org/display/JENKINS/cmakebuilder+Plugin'
  - 'CMake Builder plugin'
  - 'provides a build step that generates the build scripts from a CMakeLists.txt file'
-
  - 'https://wiki.jenkins-ci.org/display/JENKINS/xUnit+Plugin'
  - 'xUnit plugin'
  - 'generate reports based on test tooling output from various unit test frameworks'
-
  - 'https://wiki.jenkins-ci.org/display/JENKINS/Cppcheck+Plugin'
  - 'Cppcheck plugin'
  - 'generate trend reports for CppCheck, a tool for static C/C++ code analysis.'
---


