---
layout: frame
title: "Jenkins and C/C++"
usecase: "C/C++"
articles:
plugins:
---
- if legacy?
  %div#page{:class => 'clearfloat'}
    %div#top{:class => 'clearfloat'}/

    %div#sidebar
      .block
        .content
          =partial('news.html.haml',
            :title => 'Jenkins ♥ C/C++ Articles',
            :articles => page.articles)

      .block
        .content
          =partial('plugins.html.haml',
            :title => 'C/C++ plugins for Jenkins',
            :plugins => page.plugins)

      = partial('legacy/download.html.haml')

    %div#content{:class => 'main-content with-sidebar'}
      %div#content-top/

      %div#content-bottom/

