---
layout: simplepage
title: "Jenkins Use-cases"
noanchors: true
---

:css
  .card h3 {
    font-size: 1.3rem;
    min-height: 3rem;
  }
  .card img {
    height: 96px;
    opacity: .54;
    margin: auto;
  }
  a.card {
    color: rgba(0, 0, 0, .9);
  }
  a.card.dark {
    color: rgba(255, 255, 255, .9);
  }
  a.card.dark img {
    filter: invert(1);
  }
  .grid-container.small {
    grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
  }

.grid-container.small
  - site.solutions.sort.each do |key, solution|
  - link = expand_link("solutions/#{key}")
  - cssClass = solution["dark"] ? "dark" : "light"
    %a.card{:style => "background-color:#{solution["color"]}", :href => link, :class => cssClass}
      .content.text-center
        %h3
          = solution["usecase"]
        %img{:src => "/images/solution-images/#{key}.svg"}
