---
layout: simplepage
title: "Jenkins Use-cases"
---

%ul
  - site.solutions.keys.sort.each do |key|
  - link = expand_link("solutions/#{key}")
    %li
      %a{:href => link}
        = site.solutions[key].usecase
