---
layout: solution
title: "Jenkins and Java"
usecase: "Java"
articles:
plugins:
-
  - 'https://wiki.jenkins-ci.org/display/JENKINS/JUnit+Plugin'
  - 'JUnit plugin'
  - 'publishes JUnit XML formatted test reports for trending and analysis'
-
  - 'https://wiki.jenkins-ci.org/display/JENKINS/Gradle+Plugin'
  - 'Gradle plugin'
  - 'support invoking Gradle as a build step and listing executing tasks per build'
-
  - 'https://wiki.jenkins-ci.org/display/JENKINS/FindBugs+Plugin'
  - 'Findbugs plugin'
  - 'generate trending and analysis for FindBugs reports'
-
  - 'https://wiki.jenkins-ci.org/display/JENKINS/PMD+Plugin'
  - 'PMD plugin'
  - 'generate trending and analysis for PMD reports'
-
  - 'https://wiki.jenkins-ci.org/display/JENKINS/Cobertura+Plugin'
  - 'Cobertura plugin'
  - 'publish and trend code coverage reports from Cobertura'
-
  - 'https://wiki.jenkins-ci.org/display/JENKINS/SonarQube+plugin'
  - 'SonarQube plugin'
  - 'integrate reporting from the SonarQube code quality/inspection platform'
-
  - 'https://wiki.jenkins-ci.org/display/JENKINS/SonarQube+plugin'
  - 'SonarQube plugin'
  - 'integrate reporting from the SonarQube code quality/inspection platform'
-
  - 'https://wiki.jenkins-ci.org/display/JENKINS/Repository+Connector+Plugin'
  - 'Repository Connector plugin'
  - 'adds features for resolving artifacts from a Maven repository such as Nexus or Artifactory.'
---

:markdown
  Jenkins supports building Java projects since its inception, and for a reason!
  It's both the language Jenkins is written in, plus the language in use by many if not all the
  projects Kohsuke Kawaguchi wanted to watch out when he created the tool many years ago.

  If you want to build a Java project, there are a bunch of different options.
  The most typical ones nowadays are generally Apache Maven, or Gradle.

  ## Apache Maven
  In any FreeStyle job, as *currently* Maven is supported in standard, you can use the
  dedicated step. One advantage is, as for all Jenkins tools, that you can select a specific
  Maven version and have Jenkins automatically install it on the build node it's going to run on.

%center
  %img{:src => '/images/solution-images/jenkins-maven-step.png'}/

:markdown
  ## Gradle

  As the associated plugin is not installed by default, first install the
  [Gradle plugin](https://wiki.jenkins-ci.org/display/JENKINS/Gradle+Plugin).
  Once done, you should be able to add a Gradle step.

%center
  %img{:src => '/images/solution-images/jenkins-gradle-step.png'}/
