---
layout: solution
title: "Jenkins and Java"
usecase: "Java"
articles:
plugins:
-
  - 'https://wiki.jenkins-ci.org/display/JENKINS/JUnit+Plugin'
  - 'JUnit plugin'
  - 'publishes JUnit XML formatted test reports for trending and analysis'
-
  - 'https://wiki.jenkins-ci.org/display/JENKINS/Gradle+Plugin'
  - 'Gradle plugin'
  - 'support invoking Gradle as a build step and listing executing tasks per build'
-
  - 'https://wiki.jenkins-ci.org/display/JENKINS/FindBugs+Plugin'
  - 'Findbugs plugin'
  - 'generate trending and analysis for FindBugs reports'
-
  - 'https://wiki.jenkins-ci.org/display/JENKINS/PMD+Plugin'
  - 'PMD plugin'
  - 'generate trending and analysis for PMD reports'
-
  - 'https://wiki.jenkins-ci.org/display/JENKINS/Cobertura+Plugin'
  - 'Cobertura plugin'
  - 'publish and trend code coverage reports from Cobertura'
-
  - 'https://wiki.jenkins-ci.org/display/JENKINS/SonarQube+plugin'
  - 'SonarQube plugin'
  - 'integrate reporting from the SonarQube code quality/inspection platform'
-
  - 'https://wiki.jenkins-ci.org/display/JENKINS/SonarQube+plugin'
  - 'SonarQube plugin'
  - 'integrate reporting from the SonarQube code quality/inspection platform'
-
  - 'https://wiki.jenkins-ci.org/display/JENKINS/Repository+Connector+Plugin'
  - 'Repository Connector plugin'
  - 'adds features for resolving artifacts from a Maven repository such as Nexus or Artifactory.'
---
