---
layout: default
section: blog
title: Jenkins Community Blog Contributors
---

%div.container
  %div.body.row
    %h1 Jenkins Community Blog Contributors
    %div{:class => "author-list"}
      - site.posts_authors.each do |p| 
        = partial("card.html.haml", :author => p.to_s)

  :javascript
    $(function(){
      $(".author-card a").on("click", function(e){ e.stopPropagation(); })
    })
