---
layout: documentation
title: "Jenkins Handbook"
---

%ol
  - site.handbook.chapters.each do |chapter|
    %li{:style => 'font-size: 24px;'}
      %a{:href => chapter.key}
        = chapter.title
      - if chapter.summary
        %p{:style => 'font-size: 14px;'}
          = chapter.summary
      %ol
        - chapter.sections.each do |section|
          %li{:style => 'font-size: 20px;'}
            %a{:href => File.join(chapter.key, section.key)}
              = section.title
            - if section.summary
              %p{:style => 'font-size: 14px;'}
                = section.summary

.page-link
  %a{:href => '/doc'}
    > Back to User Documentation Home
