---
layout: simplepage
title: "Pipeline Steps Reference"
---

- steps_dir = File.expand_path(File.dirname(__FILE__))
%p
  The following plugins offer Pipeline-compatible steps.  Each plugin link 
  offers more information about the parameters for each step.

%div
  %ul
    - sections_from(steps_dir).each do |section, file, url, children|
      %li
        %a{:href => url}
          = section
        %ul
          - children.each do |section, file, sect_url, sect_children|
            %li
              %a{:href => "#{url}##{sect_url}"}
                = section
