@import "abstracts/_all";
@import "base/_all";
@import "core/_all";
@import "components/_all";
@import "pages/_all";

.videoblock iframe {
  aspect-ratio: 16 / 9;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.bananainsider, .sectlevel2 .sectlevel2, .sectlevel2 .sectlevel3 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
  padding-left: 2rem !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;

  &:empty {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 25px;
    width: 2px;
    background: var(--color--secondary);
    border-radius: 2px;
    opacity: 0.1;
  }
}

#toctitle, #toc-title {
  font-size: 0.9rem;
  color: var(--color--secondary);
  margin: 0 0 0.5rem;
  font-weight: 500;
}

.banansidebar, #toc {
  position: sticky;
  top: 120px;
  display: flex;
  flex-direction: column;

  h1 {
    margin-bottom: 30px;
  }

  h5 {
    font-size: 0.9rem;
    color: var(--color--secondary);
    margin: 0;
    margin-bottom: 0.5rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 2px;
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 -10px;

    a {
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      color: var(--color);
      border-radius: 10px;
      padding: 5px 10px;
      text-decoration: none;
      transition: 0.2s ease-in-out;
      min-height: 2.125rem;

      &:hover {
        background-color: color-mix(in srgb, var(--color--secondary) 2.5%, transparent);
      }

      &.active {
        background-color: color-mix(in srgb, var(--color--secondary) 5%, transparent);
        color: var(--color);
        font-weight: 550;
      }
    }
  }

  & > ul {
    margin: 0 0 2rem -10px !important;
  }
}

//.listingblock {
//  display: block;
//  width: 100% !important;
//}