@import "abstracts/_all";
@import "base/_all";
@import "core/_all";
@import "components/_all";
@import "pages/_all";

:root {
  --aurora:
          radial-gradient(at 81% 35%, var(--orange) 0, transparent 50%),
          radial-gradient(at 80% 84%, var(--cyan) 0, transparent 50%),
          radial-gradient(at 88% 31%, var(--purple) 0, transparent 50%),
          radial-gradient(at 94% 32%, var(--pink) 0, transparent 50%),
          radial-gradient(at 49% 21%, var(--brown) 0, transparent 50%),
          radial-gradient(at 31% 46%, var(--teal) 0, transparent 50%),
          radial-gradient(at 90% 16%, var(--red) 0, transparent 50%),
          radial-gradient(at 0% 88%, var(--yellow) 0, transparent 50%),
          radial-gradient(at 42% 63%, var(--brown) 0, transparent 50%),
          radial-gradient(at 96% 0%, var(--yellow) 0, transparent 50%);
}

.custom-block {
  position: relative;
  aspect-ratio: 1800 / 630;
  margin: 0 0 1.5rem 0 !important;
  border-radius: 10px;
  overflow: hidden;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-attachment: fixed;
    background-color: var(--pink);
    background-image: var(--aurora);
    opacity: 0.3;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 1.5px solid color-mix(in srgb, var(--color) 5%, transparent);
    border-radius: 10px;
  }
}