@import "abstracts/_all";
@import "base/_all";
@import "core/_all";
@import "components/_all";
@import "pages/_all";

.custom-block {
  position: relative;
  aspect-ratio: 1800 / 630;
  background: black;
  margin: 0 0 1.5rem 0 !important;
  border-radius: 10px;
  overflow: hidden;
  z-index: 0;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-attachment: fixed;
    background-color: var(--pink);
    background-image: var(--aurora);
    opacity: 0.3;
    z-index: -1;
  }
}