@import "abstracts/_all";
@import "base/_all";
@import "core/_all";
@import "components/_all";
@import "pages/_all";

:root {
  --aurora:
          radial-gradient(at 81% 35%, var(--orange) 0, transparent 50%),
          radial-gradient(at 80% 84%, var(--cyan) 0, transparent 50%),
          radial-gradient(at 88% 31%, var(--purple) 0, transparent 50%),
          radial-gradient(at 94% 32%, var(--pink) 0, transparent 50%),
          radial-gradient(at 49% 21%, var(--brown) 0, transparent 50%),
          radial-gradient(at 31% 46%, var(--teal) 0, transparent 50%),
          radial-gradient(at 90% 16%, var(--red) 0, transparent 50%),
          radial-gradient(at 0% 88%, var(--yellow) 0, transparent 50%),
          radial-gradient(at 42% 63%, var(--brown) 0, transparent 50%),
          radial-gradient(at 96% 0%, var(--yellow) 0, transparent 50%);
}

.firstone {
  overflow: clip !important;
  perspective: 600px;

  .idk {
    position: absolute;
    inset: 50%;
    translate: -50% -25%;
    transform-style: preserve-3d;
    backdrop-filter: blur(10px);
    background-color: color-mix(in srgb, white 80%, transparent);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    width: 85%;
    aspect-ratio: 2938 / 1376;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-image: url("/images/post-images/2025/07/21/preview.png");
      background-size: contain;
      background-position: top;
    }
  }

  .idk:nth-child(1) {
    z-index: 3;
    transform: rotateX(var(--masthead-rotation-1)) translateY(110px);
  }

  .idk:nth-child(2) {
    z-index: 2;
    transform: rotateX(var(--masthead-rotation-2)) translateY(50px) scale(0.9);
    background-color: color-mix(in srgb, white 70%, transparent);

    &::after {
      opacity: 0.9;
    }
  }

  .idk:nth-child(3) {
    z-index: 1;
    transform: rotateX(var(--masthead-rotation-3)) translateY(-5px) scale(0.8);
    background-color: color-mix(in srgb, white 50%, transparent);

    &::after {
      opacity: 0.6;
    }
  }

  .idk:nth-child(4) {
    z-index: 0;
    transform: rotateX(var(--masthead-rotation-4)) translateY(-55px) scale(0.7);
    background-color: color-mix(in srgb, white 30%, transparent);

    &::after {
      opacity: 0.3;
    }
  }

  .idk:nth-child(5) {
    z-index: -1;
    transform: rotateX(var(--masthead-rotation-5)) translateY(-100px) scale(0.6);
    background-color: color-mix(in srgb, white 10%, transparent);

    &::after {
      opacity: 0.1;
    }
  }
}

.custom-block {
  position: relative;
  aspect-ratio: 1800 / 630;
  margin: 0 0 1.5rem 0 !important;
  border-radius: 10px;
  overflow: hidden;
  z-index: 0;
  background-color: rgba(255, 255, 255, 0.5);

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-attachment: fixed;
    background-color: var(--pink);
    background-image: var(--aurora);
    opacity: 0.35;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    border: 1.5px solid color-mix(in srgb, var(--color) 5%, transparent);
    border-radius: 10px;
    z-index: 10;
  }
}

.developer-exp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  img {
    width: 90px;
    height: 90px;

    &:nth-of-type(3) {
      scale: 0.9;
    }

    &:nth-of-type(even) {
      width: 40px;
      height: 40px;
      rotate: 45deg;
      mix-blend-mode: overlay;
    }
  }
}