@import "abstracts/_all";
@import "base/_all";
@import "core/_all";
@import "components/_all";
@import "pages/_all";

// TODO - reorganise this

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.videoblock iframe {
  aspect-ratio: 16 / 9;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.app-TODO-sidebar__item, .sectlevel1 .sectlevel2, .sectlevel2 .sectlevel2, .sectlevel2 .sectlevel3 {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
  padding-left: 2rem !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;

  &:empty {
    display: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 25px;
    width: 2px;
    background: var(--color--secondary);
    border-radius: 2px;
    opacity: 0.1;
  }
}

#toctitle, #toc-title {
  font-size: 0.9rem;
  color: var(--color--secondary);
  margin: 0 0 0.5rem;
  font-weight: 500;
}

.app-TODO-sidebar, #toc {
  @media screen and (min-width: 1400px) {
    position: sticky;
    top: 120px;
  }
  display: flex;
  flex-direction: column;

  h1 {
    margin-bottom: 30px;
  }

  h5 {
    font-size: 0.9rem;
    color: var(--color--secondary);
    margin: 0;
    margin-bottom: 0.5rem;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 2px;
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 -10px;

    a {
      display: flex;
      align-items: center;
      font-size: 0.9rem;
      color: var(--color);
      border-radius: 10px;
      padding: 5px 10px;
      text-decoration: none;
      transition: 0.2s ease-in-out;
      min-height: 2rem;
      box-shadow: 0 0 0 10px transparent;

      &:hover {
        background-color: color-mix(in srgb, var(--color--secondary) 5%, transparent);
      }

      &:active {
        background-color: color-mix(in srgb, var(--color--secondary) 7.5%, transparent);
        box-shadow: 0 0 0 5px color-mix(in srgb, var(--color--secondary) 2.5%, transparent);
      }

      &.active {
        background-color: color-mix(in srgb, var(--color--secondary) 7.5%, transparent);
        font-weight: 550;
      }
    }
  }

  & > ul {
    margin: 0 0 2rem -10px !important;
  }
}

.app-TODO-pagination {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-block: 2rem;

  .prev, .next {
    display: grid;
    gap: 0.125rem 1rem;

    span {
      color: var(--color--secondary);
    }

    * {
      transition: translate 0.2s ease;
    }
  }

  .prev {
    grid-template-columns: auto 1fr;

    span {
      grid-column: 2;
    }

    &:hover {
      translate: -2px 0;

      * {
        translate: -4px 0;
      }
    }
  }

  .next {
    grid-template-columns: 1fr auto;
    text-align: right;

    &:hover {
      translate: 2px 0;

      * {
        translate: 4px 0;
      }
    }
  }
}