---
layout: documentation
section: doc
title: Jenkins Help
---

%div.admonitionblock.note
  %table
    %tr
      %td.icon
        %div.title
          Note
      %td.content
        These are inline help pages extracted from Jenkins and made available here for easy linking.
        Some minor content glitches are expected.

%hr/



:ruby
  html_pages = []
  site.pages.each do |page|
    next if page.layout.nil?
    next unless page.layout == 'inlinehelp'
    html_pages << page
  end

%ul
  - html_pages.sort { |x, y| File.basename(File.dirname(x.url)) <=> File.basename(File.dirname(y.url)) }.each do |page|
    %li
      %a{ :href => page.url }
        = "#{File.basename(File.dirname(page.url))} » #{File.basename(page.url)}"
