body {
  font-family: 'Lato', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important; }

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.2;
  color: #4a4a4a; }

h1 {
  font-size: 30px; }
  @media (min-width: 767px) {
    h1 {
      font-size: 34px; } }

h2 {
  font-size: 24px;
  margin-bottom: 1rem; }
  @media (min-width: 767px) {
    h2 {
      font-size: 28px; } }

h3 {
  font-size: 20px; }
  @media (min-width: 767px) {
    h3 {
      font-size: 22px; } }

section p {
  color: #9b9b9b;
  font-size: 15px;
  line-height: 21px; }
  @media (min-width: 767px) {
    section p {
      font-size: 17px;
      line-height: 26px; }
    section p.smaller {
      font-size: 15px;
      line-height: 21px; } }

.wow {
  visibility: hidden; }

.btn {
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  .btn-primary {
    background: #4a90e2;
    border: 1px solid #4a90e2; }
    .btn-primary:focus, .btn-primary:hover {
      background-color: #2275d7;
      border: 1px solid #1b5dab; }
    .btn-primary:active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:active:hover:focus, .btn-primary:hover:focus {
      background-color: #3483de;
      border-color: #2275d7; }
  .btn-secondary, .btn-secondary:not([href]):not([tabindex]) {
    color: #4a90e2;
    background-color: transparent;
    border: 1px solid rgba(74, 144, 226, 0.5);
    cursor: pointer; }
    .btn-secondary span, .btn-secondary:not([href]):not([tabindex]) span {
      margin-right: 4px; }
    .btn-secondary:focus, .btn-secondary:hover, .btn-secondary:not([href]):not([tabindex]):focus, .btn-secondary:not([href]):not([tabindex]):hover {
      background-color: rgba(74, 144, 226, 0.12);
      border-color: rgba(74, 144, 226, 0.75);
      color: #1f69c1; }
    .btn-secondary:active, .btn-secondary:active:focus, .btn-secondary:active:hover, .btn-secondary:active:hover:focus, .btn-secondary:hover:focus, .btn-secondary:not([href]):not([tabindex]):active, .btn-secondary:not([href]):not([tabindex]):active:focus, .btn-secondary:not([href]):not([tabindex]):active:hover, .btn-secondary:not([href]):not([tabindex]):active:hover:focus, .btn-secondary:not([href]):not([tabindex]):hover:focus {
      background-color: rgba(74, 144, 226, 0.1);
      border-color: #4a90e2;
      color: #4a90e2; }

.header {
  position: relative;
  height: 370px;
  text-align: center;
  padding: 60px 0; }
  .header .logo {
    margin-bottom: 16px;
    display: inline-block; }
    .header .logo svg {
      float: left; }
    .header .logo .logo-jenkins {
      height: 80px; }
      @media (min-width: 767px) {
        .header .logo .logo-jenkins {
          height: 102px;
          width: 74px; } }
  .header h1 {
    margin-bottom: 24px; }
    .header h1 span {
      display: block;
      font-size: 0.65em;
      opacity: 0.5;
      margin-bottom: .25rem; }
  .header a.btn {
    margin: 0 4px; }
  @media (min-width: 767px) {
    .header {
      height: 480px;
      padding: 100px 0; } }
  @media (min-width: 992px) {
    .header {
      height: 570px;
      padding: 140px 0; } }

.header .skew:before {
  content: '';
  position: absolute;
  left: 0;
  top: -100px;
  overflow: visible;
  width: 100%;
  height: 600px;
  background: #F8F9FB;
  z-index: -1;
  -webkit-transform: skewY(-14deg);
  -moz-transform: skewY(-14deg);
  -ms-transform: skewY(-14deg);
  -o-transform: skewY(-14deg);
  transform: skewY(-14deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: initial; }
  @media (min-width: 767px) {
    .header .skew:before {
      top: -350px;
      height: 900px; } }
  @media (min-width: 992px) {
    .header .skew:before {
      top: -350px;
      height: 1020px; } }

.header .skew .header-inner {
  padding: 20px;
  margin-left: auto;
  margin-right: auto; }

section {
  padding-top: 50px;
  padding-bottom: 50px; }
  @media (min-width: 767px) {
    section {
      padding-top: 80px;
      padding-bottom: 80px; } }
  @media (min-width: 992px) {
    section {
      padding-top: 100px;
      padding-bottom: 100px; } }

.intro img {
  width: calc(100% + 30px);
  margin: 0 -15px;
  z-index: 1;
  min-height: 220px; }
.intro a.video {
  cursor: pointer; }
  .intro a.video video {
    width: calc(100% + 30px);
    margin: 0 -15px;
    z-index: 1;
    min-height: 220px;
    box-shadow: 0 2px 80px 0 rgba(0, 0, 0, 0.05); }
    @media (max-width: 767px) {
      .intro a.video video source {
        display: none; } }
  .intro a.video::after {
    width: 100%;
    height: 100%;
    background-color: rgba(1, 11, 25, 0.3);
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
  .intro a.video span {
    position: absolute;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    color: #fff;
    opacity: .9;
    border: 5px solid #fff;
    border-radius: 200px;
    padding: 30px;
    z-index: 999;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    text-align: center;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out; }
    .intro a.video span::before {
      margin-right: -12px;
      margin-bottom: -3px; }
  .intro a.video:hover::after {
    background-color: rgba(1, 11, 25, 0.4); }
  .intro a.video:hover span {
    opacity: 1; }
.intro .introblurb {
  background: #FFFFFF;
  box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, 0.15);
  z-index: 2;
  margin-top: -8px;
  display: inline-block;
  padding: 18px 24px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out; }
  .intro .introblurb:hover {
    -webkit-transform: translate(0px, -10px);
    -moz-transform: translate(0px, -10px);
    -ms-transform: translate(0px, -10px);
    -o-transform: translate(0px, -10px);
    transform: translate(0px, -10px);
    box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.1); }
@media (min-width: 767px) {
  .intro img {
    min-height: 450px; }
  .intro .introblurb {
    margin-top: -80px;
    padding: 26px 32px; } }
@media (min-width: 992px) {
  .intro img {
    min-height: 530px; }
  .intro .introblurb {
    margin-top: 0;
    bottom: 24px;
    position: absolute; } }
@media (min-width: 1200px) {
  .intro img {
    min-height: 580px; }
  .intro .introblurb {
    bottom: 32px; } }

.features {
  text-align: center; }
  .features .col-lg-4 .icon {
    background-color: rgba(74, 144, 226, 0.07);
    width: 80px;
    height: 80px;
    border-radius: 100px;
    margin-bottom: 16px;
    display: inline-block;
    text-align: center;
    font-size: 40px;
    padding: 10px;
    color: #4a90e2;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
    .features .col-lg-4 .icon svg {
      height: 48px;
      width: 35px;
      padding-top: 12px; }
      .features .col-lg-4 .icon svg path {
        fill: #4a90e2; }
  .features .col-lg-4 h3 {
    margin-bottom: 8px; }
  .features .col-lg-4 p {
    margin-bottom: 40px; }
  .features .col-lg-4:hover .icon {
    -webkit-transform: translate(0px, -10px);
    -moz-transform: translate(0px, -10px);
    -ms-transform: translate(0px, -10px);
    -o-transform: translate(0px, -10px);
    transform: translate(0px, -10px); }

.props .container {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: -20px; }

.props .skew:before {
  content: '';
  position: absolute;
  left: 0;
  overflow: visible;
  width: 100%;
  height: 610px;
  background: #F8F9FB;
  z-index: -1;
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform: skewY(-2deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: initial; }
  @media (min-width: 767px) {
    .props .skew:before {
      height: 420px; } }
  @media (min-width: 992px) {
    .props .skew:before {
      height: 440px; } }
  @media (min-width: 1200px) {
    .props .skew:before {
      height: 420px; } }

.cta {
  text-align: center;
  margin-bottom: 80px; }

.socials {
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-size: 20px; }
  @media (min-width: 1200px) {
    .socials {
      top: 210px;
      left: calc(((100vw - 1140px) / 2) - 64px); } }
  .socials .socialLinks {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    color: #fff;
    margin-bottom: 4px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none;
    -webkit-transition: all 0.35s ease-out;
    -moz-transition: all 0.35s ease-out;
    -ms-transition: all 0.35s ease-out;
    -o-transition: all 0.35s ease-out;
    transition: all 0.35s ease-out; }
    .socials .socialLinks .socialLabel {
      font-size: 15px;
      line-height: 21px;
      color: #fff;
      display: inline-block;
      opacity: 0;
      -webkit-transition: all 0.35s ease-out;
      -moz-transition: all 0.35s ease-out;
      -ms-transition: all 0.35s ease-out;
      -o-transition: all 0.35s ease-out;
      transition: all 0.35s ease-out; }
    .socials .socialLinks.showLabel, .socials .socialLinks:hover {
      width: 95px; }
      .socials .socialLinks.showLabel .socialLabel, .socials .socialLinks:hover .socialLabel {
        opacity: 1; }
      .socials .socialLinks.showLabel:hover, .socials .socialLinks:hover:hover {
        -webkit-transform: translate(3px, 0px);
        -moz-transform: translate(3px, 0px);
        -ms-transform: translate(3px, 0px);
        -o-transform: translate(3px, 0px);
        transform: translate(3px, 0px); }
  .socials .socialsFacebook {
    background: #3b5998;
    padding: 5px 16px; }
    .socials .socialsFacebook .socialLabel {
      position: relative;
      top: -3px;
      left: 10px; }
  .socials .socialsTwitter {
    background: #1da1f2;
    padding: 5px 11px; }
    .socials .socialsTwitter .socialLabel {
      position: relative;
      top: -3px;
      left: 5px; }
  .socials .socialsLinkedin {
    background: #0077b5;
    padding: 5px 13px; }
    .socials .socialsLinkedin .socialLabel {
      position: relative;
      top: -3px;
      left: 7px; }

.modal-content {
  background-color: transparent;
  border: none; }
  .modal-content .close {
    color: #fff;
    text-shadow: none;
    padding: 16px;
    opacity: 0.75;
    font-size: 2rem;
    margin-right: -8px;
    margin-top: -10px; }

.modal-backdrop.in {
  opacity: 0.7; }

.modal-dialog {
  width: 100vw;
  margin: 0; }
  .modal-dialog .modal-body {
    padding: 15% 0;
    width: 100vw; }
    .modal-dialog .modal-body iframe {
      height: 210px; }
      @media (min-width: 767px) {
        .modal-dialog .modal-body iframe {
          height: 432px; } }
      @media (min-width: 992px) {
        .modal-dialog .modal-body iframe {
          height: 578px; } }
      @media (min-width: 1200px) {
        .modal-dialog .modal-body iframe {
          height: 641px; } }
    @media (min-width: 992px) {
      .modal-dialog .modal-body {
        padding: 5% 0; } }
    @media (min-width: 1200px) {
      .modal-dialog .modal-body {
        width: 100%;
        padding: calc((100vh - 640px) / 2 - 55px) 0; } }
  @media (min-width: 1200px) {
    .modal-dialog {
      max-width: 1140px;
      margin: auto; } }
