ul.image li {
  list-style: none !important;
  margin-bottom: 5px;
}

.iconlegend ul.feedback li.sunny, ul.feedback li.cloudy, ul.feedback li.storm {
  list-style: none !important;
  margin-bottom: 5px;
  padding: 2px;
  padding-left: 28px;
  background-repeat: no-repeat;
  background-position: left center;
}

.light {
  opacity: 0.5;
}

li.sunny {
  background-image: url(/images/changelog/legend/sunny.png);
}

li.cloudy {
  background-image: url(/images/changelog/legend/cloudy.png);
}

li.storm {
  background-image: url(/images/changelog/legend/storm.png);
}

ul.image li.security:before, ul.image li.rfe:before, ul.image li.bug:before {
    content: "•";
    position: relative;
    left: -7px;
    font-size: 18px;
    margin-left: -15px;
    line-height: 0;
}
ul.image li.major:before, ul.image li.security:before {
    left: -3px;
    top: 3px;
    font-size: 28px;
    margin-left: -22px;
}

ul.image li.rfe:before {
  color: #99f;
}
ul.image li.rfe.major:before {
  color: #99f;
}
ul.image li.bug:before {
  color: red;
}
ul.image li.bug.major:before {
  color: red;
}
ul.image li.security:before {
  color: #fa0;
}
ul.image li.security {
  font-weight: bold;
}

.iconlegend ul, .iconlegend ul li {
  display: inline;
}
.iconlegend ul li.bug, .iconlegend ul li.rfe, .iconlegend ul li.security {
  margin-left: 40px;
}
.iconlegend ul li.sunny, .iconlegend ul li.cloudy, .iconlegend ul li.storm {
  margin-left: 15px;
}

/* For community ratings */
img.rate { vertical-align: middle; margin-right: 2em; }
img.rate:hover { cursor: pointer; }
div.rate-offset { padding-left: 2em; margin-bottom: 5px; }
span.related-issues { display: block; }
