.ctc .listingblock>.content {
    position: relative;
}

.ctc .listingblock code[data-lang]::before {
    content: none;
}

.ctc .source-toolbox {
    display: flex;
    position: absolute;
    visibility: hidden;
    top: 0.25rem;
    right: 0.5rem;
    color: var(--color--secondary);
    white-space: nowrap;
    font-size: 0.85em;
}

.ctc .listingblock:hover .source-toolbox {
    visibility: visible;
}

.ctc .source-toolbox .source-lang {
    font-family: "Droid Sans Mono", "DejaVu Sans Mono", monospace;
    text-transform: uppercase;
    letter-spacing: 0.075em;
}

.ctc .source-toolbox> :not(:last-child)::after {
    content: "|";
    letter-spacing: 0;
    padding: 0 1ch;
}

.ctc .source-toolbox .copy-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;
    color: inherit;
    outline: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 1em;
    height: 1em;
}

.ctc .source-toolbox .copy-icon {
    flex: none;
    width: inherit;
    height: inherit;
    margin-top: 0.05em;
}

.ctc .source-toolbox .copy-toast {
    flex: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    margin-top: 1em;
    border-radius: 0.25em;
    padding: 0.5em;
    cursor: auto;
    opacity: 0;
    transition: opacity 0.5s ease 0.75s;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.ctc .source-toolbox .copy-toast::after {
    content: "";
    position: absolute;
    top: 0;
    width: 1em;
    height: 1em;
    border: 0.55em solid transparent;
    border-left-color: rgba(0, 0, 0, 0.8);
    transform: rotate(-90deg) translateX(50%) translateY(50%);
    transform-origin: left;
}

.ctc .source-toolbox .copy-button.clicked .copy-toast {
    opacity: 1;
    transition: none;
}

.listingblock {
    clear: both;
}

.width-min {
    clear: none;
    display: flex;
    min-width: fit-content;
    flex-direction: column;
}