#download-tabs {
    background-color: #d3d7cf;
    background-image:url(/images/download.png);
    background-repeat: no-repeat;
    background-position: center 5em;
    border: 0;
    padding: 0;
}
#download-tabs .tab-bar {
    border: 0;
    background: #ececec;
}
#download-tabs .tab {
    padding: 1em;
}

#sidebar #download-tabs LI {
    background: #ececec;
    border: 0;
    padding: 0;
    top: 0;
}
#sidebar #download-tabs LI.ui-tabs-selected {
    background: #d3d7cf;
}

#download-tabs DL {
    margin: 0;
}
#download-tabs DT {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0.2em 0;
    padding: 0;
}
#download-tabs DD {
    margin-left: 1em;
}
#download-tabs DD IMG {
    vertical-align:middle;
}
#download-tabs A.soft {
    color: #555;
}

#download-tabs .small {
    font-size:0.8em;
}

.release-block-platforms IMG {
    margin: 2px;
}
.release-block-small {
    text-align: right;
}

#sidebar #download-tabs LI.ui-tabs-active {
    background: #d3d7cf;
}
