#footer {
  background: #1077ad;
  color: #fff;
  padding: 2rem;
  position: relative;
  z-index: 2;
  width: 100%;
  float: left;
  clear: both;
}

#footer .license-box {
  float: left;
  font-size: .85rem;
  padding-left: 0
}

#footer a {
  color: #fff;
}

#footer .links ul li {
  text-align: left;
}

#footer .area {
  display: inline-block;
  vertical-align: top;
  font-size: .85rem
}

#footer ul, #footer li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.links  h5 {
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.05em;
  color: #fff;
  text-align: left;
}
