
#ji-toolbar {position:fixed; top:0; left:0; right:0; z-index:100; border-radius:0}
#ji-toolbar-offset {min-height:3.4rem}
#ji-top-peg {position:absolute; right:0;text-align:center; left:0; z-index:99}
#ji-top-peg #ji-fork-tag {position:fixed; right:0}
.carousel-item {min-height:400px; background:#ccc}
#ji-download {display:inline-block; top:200px; position:relative}

.container.center {text-align:center}
.center > .center {display:inline; float:none; display:inline-block}

#directory td>a{display:block; padding-right:1rem; padding-bottom:.5rem; margin-bottom:.5rem}
#directory td>a>img {height:40px; width:40px;}
#directory tr {vertical-align:top}
#directory tr td .title {font-weight:bold; }
#directory tr td .description {font-size:75%}

#welcome,
body #sidebar ul.resources {padding-bottom:3rem; position:relative; border-top: 1px solid #ccc; padding-top: 1.5rem; margin-top: .75rem; margin-bottom:2rem}
#welcome > div {position:absolute; left:0; bottom:0; height:3rem}
#welcome > div > a {display:block; padding-left:40px; margin-left:1rem; position:absolute; top:0; font-weight:bold}
#sidebar #welcome > div > img {position:absolute; top:0; left:4px; height:32px; width:32px}
#sidebar #welcome > .content {position:relative; height:auto}
#sidebar ul.resources,
#sidebar ul.resources > li,
#sidebar ul.resources > li > a{display:block; list-style:none; margin:0; padding:0}
body #sidebar ul.resources > li > a {padding:0 0 .5rem 40px; margin-left:1rem; font-weight:bold}


body .ji-dated-list > .post {border-top:.1rem solid #ccc; margin-bottom:.5rem}
.ji-dated-list,
.ji-dated-list > .post,
.ji-dated-list > .post > .body {display:block; position:relative; padding:0; margin:0; list-style:none; }
.ji-dated-list > .post > .attrs,
.ji-dated-list > .post > .body {padding:1.25rem 1rem 1rem 5rem; text-decoration:none;}
.ji-dated-list > .post > .body > .teaser{ max-height:6rem; overflow:hidden; position:relative; margin:0}
.ji-dated-list > .post > .body > .teaser:after {display:block; content:''; box-shadow:inset -30rem 0 10rem -10rem rgba(255,255,255,.75); height:1.5rem; bottom:0; right:0; width:30rem; position:absolute}
.ji-dated-list > .post > .body:hover > .title {text-decoration:underline}
.ji-dated-list > .post > .body > .teaser {text-decoration:none; color:#333}
.ji-dated-list > .post > .body > .date.card {position:absolute; left:0rem; top:1.25rem;}
.ji-dated-list > .post > .attrs {text-align:right; padding-top:0}
.ji-dated-list > .post > .attrs .author {font-size:125%; margin:0 0 .25rem; display:inline-block}
.ji-dated-list > .post > .attrs > .tags {font-size:75%; opacity:.75}
.ji-dated-list > .post > .attrs > .tags > li {padding:0}
.ji-dated-list > .post > .attrs > .tags > li > a {display:block; padding:0 .25rem; border:.1rem solid}
.date.card {border: .1rem solid; text-align: center; width: 4rem;}
.date.card > .month {background:#999; color:#fff}
.date.card > .day {font-weight:600; font-size:150%; line-height:3rem}