.container.page { position:relative}
#ji-hover-layer {position:relative; z-index:999} 
#download-menu > .dropdown-menu {width:50rem; padding:2rem}
#download-menu > .dropdown-menu .btn-group:hover > .dropdown-menu{display:block;}
body .popover.download-options {width:620px;min-width:500px !important; max-width:90% !important; box-shadow:0 3px 15px rgba(0,0,0,.25)}
#ji-toolbar {position:fixed; top:0; left:0; right:0; z-index:100; border-radius:0}
#ji-toolbar > .navbar-brand {font:bold 2rem 'georgia'; margin-top:-.2rem;}
#ji-toolbar * {  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;}
#ji-toolbar .slide-out{ margin:0 0 0 -99rem !important; overflow:hidden;}
body h1.page-title {font:bold 4rem 'georgia'; margin-top:-.2rem}
body h1.page-title .in-tag {display:none}
.sub-heading {margin:-.5rem 0 1rem;}
#ji-toolbar.navbar-dark .navbar-nav .nav-link {color:rgba(255,255,255,.85)}
#ji-toolbar.navbar-dark .navbar-nav .nav-link:hover {color:rgba(255,255,255,.95)}
#ji-toolbar form {white-space:nowrap}
#ji-toolbar.bg-inverse {background:#000}
#ji-toolbar-offset {min-height:3.4rem}
#ji-top-peg {position:absolute; right:0;text-align:center; left:0; z-index:99}
#ji-top-peg #ji-fork-tag {position:fixed; right:0}
.carousel-item {min-height:27rem; background:#fff;}
.carousel-item > .carousel-caption {bottom:auto; top:1.5rem}
#ji-download {top:17rem; right:0; left:0; position:absolute; z-index:9; text-align:center }
#download-menu .dropdown-toggle,
#ji-download .dropdown-toggle {box-shadow:inset 0 0 0 200rem rgba(0,0,0,.2)}
#ji-download .carousel-caption{ position:static; display:block; padding:1rem; margin-top:1rem}

.carousel-item video {position:absolute; top:0; left:0; right:0; bottom:0; width:100%; opacity:.67

}
.carousel-item .mask {position: absolute;
    left: 20%;
    right: 20%;
    top: 0;
    bottom: 0;
    background:rgba(255,255,255,.5);
    box-shadow:0 0 100px 10px #fff;
}
#ji-home-carousel .carousel-item {text-align:center;}
#ji-home-carousel img.jenkins {position:absolute; left:0px; top:10px; width:180px;}
#ji-home-carousel .carousel-caption.primary {text-align:left;left:auto; right:auto; display:inline-block; position:relative; max-width:620px; padding-left:200px; top:30px}
#ji-home-carousel.blogs #ji-download {display:none;}
#ji-home-carousel.blogs .carousel-item {min-height:300px;}
#ji-home-carousel .carousel-indicators {bottom:0}
#ji-home-carousel .carousel-caption {color:#333; text-shadow:0 -1px 2px #fff;
    b!ackground: rgba(255,255,255,.5);
    b!ox-shadow: 0 0 100px 10px #fff;
    b!order-radius:50px;
    display:inline-block;
}
#ji-home-carousel .carousel-control,
#ji-home-carousel .carousel-indicators {display:none}
#ji-download {}


.authors,
.authors > .auth {display:inline-block; padding-bottom:5px; margin:0; }
.authors > .auth > a {font-size:50px; padding:5px; border:1px solid; display:block; text-decoration:none; cursor:pointer}
.authors > .auth > a:hover {background:#def}
div .authors {display:block; padding:0; margin-bottom:3rem}

.row.body {padding-top:3rem}        

.container.center {text-align:center}
.center > .center {display:inline; float:none; display:inline-block}
body .jumbotron {margin:0;}
body .card-block {display:block}
.jumbotron.docker {background:#042E54 url(/images/whale_1030x500.jpg) fixed no-repeat right}
.jumbotron.docker a {color:#fff; text-decoration:none !important;}
.jumbotron.docker .row > div {position:relative}
.jumbotron.docker .icon-docker.big{font-size:300px; position:absolute; right:0; top:-4rem; text-decoration:none}

.tint {box-shadow:inset 0 0 100px rgba(0,0,0,.25)}

img.desaturate {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}
.img-box {display:block; overflow:hidden; float:left; line-height:132px; height:132px; width:112px; padding:0 10px; box-sizing:content-box; border:1px solid #ccc; background:#fff; margin:2px;}
.img-box > img {width:100%; vertical-align:middle; position:relative; top:-5px}

.media-row,
.step-by-step {text-align:center; padding:1rem 1rem 1.5rem; white-space:nowrap; overflow-x:auto; overflow:visible; position:relative;
box-shadow:inset 0 -2px 1px rgba(0,0,0,.15), 0 1px 3px rgba(0,0,0,.5);
background:repeating-linear-gradient(
  90deg,
  #eee,
  #eee 4px,
  #ddd 5px,
  #eee 6px,  
  #eee 154px,
  #eee 155px,
  #eee 156px
)}
.media-row > .header,
.step-by-step > .header {margin-bottom:1rem; }
.media-row > .media,
.step-by-step > .step {display:inline-block; width:12rem; height:12em; background:#fff; vertical-align:top; cursor:pointer; white-space:normal}
.step-by-step > .step .card-title {display:inline-block; width:4rem; height:4rem; padding:.5rem; background:#69c; color:#fff; border-radius:3px}
.step-by-step > .step .card-title > .tag {font-size:50%; font-weight:normal}
.step-by-step > .step .card-title > .num {font-size:125%}
.step-by-step > .step .short {font-size:85%; line-height:1.33em; height:5.33em; overflow:hidden; display:block; margin:0 .5rem .5rem; text-align:left; overflow:hidden }

.media-row > .media {width:14rem; height:16rem; text-align:left; font-size:85%; margin:.25rem}
.media-row > .media > img {width:100%}
.media-row > .media > .card-block {padding:.75rem}
.media-row > .media > .card-block p {line-height:1.2em}
.media-row > .media .media-title {font-size:1.25rem; margin-bottom:.125rem}

.quote-row {background:#f9f9f9; box-shadow:inset 0 10px 100px rgba(0,0,0,.25); border-radius:0; white-space:normal}
.quote-row .card.important{background:#fff; box-shadow:0 1px 5px rgba(0,0,0,.25); font-size:1rem; margin-top:-1rem; white-space:normal}
.quote-row .card.important p {font-size:1rem}

#directory td>a{display:block; padding-right:1rem; padding-bottom:.5rem; margin-bottom:.5rem}
#directory td>a>img {height:40px; width:40px;}
#directory tr {vertical-align:top}
#directory tr td .title {font-weight:bold; }
#directory tr td .description {font-size:75%}

#welcome,
body #sidebar ul.resources {padding-bottom:3rem; position:relative; border-top: 1px solid #ccc; padding-top: 1.5rem; margin-top: .75rem; margin-bottom:2rem}
#welcome > div {position:absolute; left:0; bottom:0; height:3rem}
#welcome > div > a {display:block; padding-left:40px; margin-left:1rem; position:absolute; top:0; font-weight:bold}
#sidebar #welcome > div > img {position:absolute; top:0; left:4px; height:32px; width:32px}
#sidebar #welcome > .content {position:relative; height:auto}
#sidebar ul.resources,
#sidebar ul.resources > li,
#sidebar ul.resources > li > a{display:block; list-style:none; margin:0; padding:0}
body #sidebar ul.resources > li > a {padding:0 0 .5rem 40px; margin-left:1rem; font-weight:bold}

#gutter-box{position:relative;}
.fixed > #gutter-peg{position:fixed; top:3.5rem}
#gutter {position:absolute; width:3.25rem; padding-left:.25rem; top:0; bottom:0; font-size:1rem; text-align:right; padding:0; box-shadow: inset -1px 0 3px #ddd; border:1px solid #ddd}
#gutter #gutter-peg {width:2.60rem; z-index:2; margin-left:.6rem}
#gutter #gutter-peg > div {background:#ddd; border-top-left-radius:5px;border-bottom-left-radius:5px; margin:.5rem 0 .5rem .1rem; text-aling:center; padding:.25rem}
#gutter a{display:block; position:relative; height:1.75rem; width:1.75rem; line-height:1.75rem; text-align:center; background:#999; b!ackground:#335061; color:#fff; border-radius:50%; margin:.25rem 0}
#gutter a > div {display:inline}
#gutter .side-tab > .hover-text {width:0; text-indent:.25rem; line-height:1.75rem; overflow:hidden; position:absolute; top:0; color:#555; display:block; font-size:.75rem; text-align:left; left:2.25rem; background:#fff; z-index:3; box-shadow:inset 0 0 0 1px #ccc, 0 1px 3px #ddd;
    -webkit-transition: width .5s ease-out;
    -moz-transition: width .5s ease-out;
    -o-transition: width .5s ease-out;
    transition: width .5s ease-out;}
#gutter .side-tab:hover  > .hover-text {width:7rem;}
body .gutter {padding-left:3rem !important}

#footer { background:#046; color:#acd; padding:2rem; position:relative; z-index:2; width:100%; float:left; clear:both;}
#footer .license-box { float: left; max-width: 25rem; font-size: .85rem}
#footer a {color:#fff;}
#footer .links {text-align:right; float:right;}
#footer .links ul li {text-align:left;}
#footer ul > .area {display:inline-block; padding-left:1rem; vertical-align:top; font-size:.85rem}
#footer ul, #footer li {display:block; list-style:none; margin:0; padding:0;}
#footer ul > .area h5 {font-size:1rem;}

body .ji-dated-list > .post {border-top:.1rem solid #ccc; margin-bottom:.5rem}
.ji-blog-list,
.ji-dated-list,
.ji-blog-list > post,
.ji-dated-list > .post,
.ji-blog-list > post > .body,
.ji-dated-list > .post > .body {display:block; position:relative; padding:0; margin:0; list-style:none; }
.ji-dated-list > .post > .attrs,
.ji-dated-list > .post > .body {padding:1.25rem 1rem 1rem 5rem; text-decoration:none;}
.ji-blog-list > .post > .more {position:absolute; right:0; color:#79B1BE}
.ji-blog-list > .post > .more:before {content:'+'; display:block; float:right; margin-left:.5rem; border:1px solid}
.ji-blog-list > .post > .body > .teaser,
.ji-dated-list > .post > .body > .teaser{ max-height:6rem; overflow:hidden; position:relative; margin:0 0 .5rem; text-decoration:none; color:#555}
.ji-blog-list > .event > .body > .teaser{max-height:3.3rem !important}

.ji-blog-list > .post > .body > .teaser:after,
.ji-dated-list > .post > .body > .teaser:after {display:block; content:''; box-shadow:inset -25rem 0 15rem -15rem #fff; height:1.5rem; bottom:0; right:0; width:30rem; position:absolute}
.ji-blog-list > .post > .body:hover,
.ji-dated-list > .post > .body:hover {text-decoration:none;}
.ji-blog-list > .post > .body:hover > .header > .title,
.ji-dated-list > .post > .body:hover > .title {text-decoration:underline}
.ji-dated-list > .post > .body > .teaser {text-decoration:none; color:#333}
.ji-dated-list > .post > .body > .card {position:absolute; left:0rem; top:1.25rem;}
.ji-dated-list > .post > .attrs {text-align:left; padding-top:0}
.ji-dated-list > .post > .attrs .author {font-size:125%; margin:0 0 .25rem; display:inline-block}
.ji-blog-list > .post > .attrs > .tags, 
.ji-dated-list > .post > .attrs > .tags {font-size:75%; opacity:.75}
.ji-blog-list > .post > .attrs > .tags > li,
.ji-dated-list > .post > .attrs > .tags > li {padding:0; display:inline-block}
.ji-blog-list > .post > .attrs > .tags >li > a {padding-right:.25rem}
.ji-dated-list > .post > .attrs > .tags > li > a {display:block; padding:0 .25rem; border:.1rem solid}
.ji-item-list .card {border: .1rem solid; text-align: center; width: 4rem;}
.date.card > .month {background:#999; color:#fff}
.date.card > .day {font-weight:600; font-size:150%; line-height:3rem}

.ji-blog-list .date {display:inline-block; font-size: .75rem;text-align: center; line-height:1.2em;border:1px solid; margin:-.25rem .25rem 0 -2.75rem; vertical-align:middle; position:relative;}
.ji-blog-list .header {padding-left:2.75rem; }
.ji-blog-list .title {display:inline-block; vertical-align:middle}
.ji-blog-list .date > .month {padding:0 .2rem; border-bottom:1px solid; background:#79B1BE; color: #fff}
.ji-blog-list .post {margin:.5rem 0 1.5rem}
.ji-blog-list .attrs {color:#d55}
.ji-blog-list .attrs > a {color:#d53730}

.ji-blog-list .header.time {padding:0 0 .33rem 2.15rem; position:relative}
.ji-blog-list .header.time .date {left:0; top:0; margin:0; position:absolute;}
.ji-blog-list .date-time .time {font-size:.85rem;color:#d53730; position:relative; margin-bottom:-.5rem; top:-.33rem} 

.events > h5,
.blog-posts > h4 {min-height:2rem; margin:0 0 1rem; border-bottom:1px solid #ccc}
.events .event .title {font-size:1rem; margin:0 ; display:block}
.events .event .teaser {font-size:.85rem; line-height:1.1rem;}
.events .ji-blog-list > .event > .body > .teaser:after {height:1.1rem}

.docker-plugins-list {margin-top:3rem}
.ji-item-list.plugins > .post .body {padding:.75rem 0 0 2.5rem}
.ji-item-list.plugins > .post .body p {margin:0}
.ji-item-list.plugins > .post .body > .title { margin-top:0}
.ji-item-list.plugins > .post > .attrs {font-size:80%; text-align:right }
.ji-item-list.plugins > .post > .body > .card {top:.75rem}
.card.icon {width:2rem; height:2rem; line-height:2rem; padding:0 .25rem; vertical-align:middle; display:inline}
.card.icon div {display:inline}

.ji-dated-list > .post > .article {text-decoration:none;}
.ji-dated-list > .post > .article > .title {margin:.5rem 0 .125rem}
.ji-dated-list > .post > .article > .url {color:#999; font-size:75%}

.doc-block {margin:2rem 0 6rem}
.sub-block {margin:3rem 0 3rem}
.active-section {margin-bottom:1rem}
.toc li a{display:block; padding:.5rem 0; line-height:1.2em}
.toc .active-section li a{ padding:.125rem 0}

.cal {border:1px solid #999; margin-bottom:2rem;}
.cal > .row {margin:0; border-bottom:1px solid rgba(0,0,0,.2)}
.cal > .days {text-align:center; border-bottom:1px solid #999; background:rgba(0,0,0,.15); box-shadow:inset 0 3px 3px -3px rgba(0,0,0,.3)}
.cal > .days > .col-md-2 {height:auto; line-height:2em; position:relative} 
.cal > .row > .col-md-2.weekend{background:rgba(0,0,0,.1); border:none; box-shadow:inset 3px 0 3px -3px rgba(0,0,0,.2)}
.cal .col-md-2 {height:5.5rem; border-right:1px solid rgba(0,0,0,.1)}
.cal a.apt {position:absolute; line-height:1.2em; background:rgba(100,255,255,.5); box-shadow:inset 0 0 0 1px rgba(0,100,100,.5); left:0; font-size:75%; padding:.125rem .5rem ; display:block}
.cal a.apt.span-4 {width:400%; margin:1px}
.cal a.apt.span-1 {width:100%}

.segment {background:#cef url(/images/bricks_40x40.png) fixed; padding:2rem 0 1rem; box-shadow:inset 0 1px 5px rgba(0,0,0,.25); border-top:1px solid #ccc}
.cols-3 {  -webkit-columns: 3;
     -moz-columns: 3;
          columns: 3;}
.chunks {list-style:none; margin:0; padding:0;}
.features.uniform-height > div {padding-left:0}
.uniform-height  .box {
    background:#fff;
    padding: .67rem .75rem 0 4rem;
    position: relative;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1),0 2px 3px rgba(0,0,0,.25),inset 0 -1px 0 1px rgba(0,0,0,.15);
    border-radius: 5px;}
.uniform-height  .box:before {
  content: ' ';
    box-shadow:inset 0 -1px 3px rgba(0,0,0,.2),inset 0 0 0 1px #fff, 0 1px 3px rgba(0,0,0,.33), 0 0 0 1px rgba(0,0,0,.1);
    display: block;
    position: absolute;
    left: .75rem;
    top: .75rem;
    width: 2.67rem;
    height: 2.67rem;
    background: #f5f5f5;
    border-radius: 2px;
}
.uniform-height  .box > p {line-height:1.2em; font-size:.8rem; overflow:hidden} 
.uniform-height  .box > h5 {line-height:1.15em; font-size:1.1rem;  margin-bottom:.33rem;}
.uniform-height  .box i {    position: absolute;
    font-size: 1.75rem;
    display: block;
    z-index: 1;
    top: 1.15rem;
    left: 1.25rem;
    color: #335061;
    text-shadow: #fff 0 1px 3px;}

@media (max-width: 768px){
  .segment {padding-top:1rem}
  .uniform-height  .box{min-height: 4rem;
    padding-bottom: .5rem;
    margin-bottom: .5rem;}
}
@media (min-width: 768px){
  .uniform-height  .box {min-height:7.5rem;}
  .uniform-height  .box > p {height:3.6em; } 
}
.brick-tops{position:relative; margin-top:-8px; height:8px; 
background:repeating-linear-gradient(
90deg,
  transparent,
  transparent 10px,
  #aaa 10px,
  #ddd 18px,
  #aaa 26px
)
}
.brick-tops.bottom
{position:absolute; bottom:-8px; left:0; right:0}
#ji-download .btn {position: relative;
    border-radius: 3px;
    box-shadow: 0 5px 10px -3px rgba(0,0,0,1.5);}
#ji-download .btn .brick-tops{
  background: repeating-linear-gradient( 90deg, transparent, transparent 12px, #358 12px, #07d 22px, #358 32px );
  
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.brick-tops.footer {background:repeating-linear-gradient( 90deg, transparent, transparent 12px, #234 12px, #357 22px, #234 32px ); border-bottom:2px solid rgba(255,255,255,.1)}
#ji-download .btn:hover .brick-tops{
 background: repeating-linear-gradient( 90deg, transparent, transparent 12px, #136 12px, #05a 22px, #136 32px );
}
#ji-download .btn:hover{box-shadow:none;}