
#ji-toolbar {position:fixed; top:0; left:0; right:0; z-index:99; border-radius:0}
#ji-toolbar-offset {min-height:3.4rem}
#ji-top-peg {position:absolute; right:0; z-index:99}
#ji-top-peg #ji-fork-tag {position:fixed; right:0}
.carousel-item {min-height:300px; background:#ccc}
