/* https://github.com/twbs/bootstrap/issues/1768#issuecomment-46519033 */
h1[id]:before,
h2[id]:before,
h3[id]:before,
h4[id]:before,
h5[id]:before,
h6[id]:before {
  display: block;
  content: " ";

  /* the top header wraps when the page isn't wide enough, but most of
     the time the height of a single row of links should be correct */
  margin-top: -55px;
  height: 55px;
  visibility: hidden;
}

/* hide anchors unless they're hovered to offset the weird margin/padding
   needed for anchored links to not hide the target behind the navigation bar */
*:hover > .anchorjs-link {
  opacity: 0;
}

.anchorjs-link:hover {
  opacity: 1;
}

/* make anchor links easier to find */
.anchorjs-link {
  padding: 0.4em 1em 0.4em 0.5em !important;
}

.container.page {
  position: relative
}
body .no-margin{
  margin:0;
  padding:0;
}
#ji-hover-layer {
  position: relative;
  z-index: 999
}

#download-menu>.dropdown-menu {
  width: 50rem;
  padding: 2rem
}

.download-popup-menu .popover-arrow {
  display: none;
}

#download-menu>.dropdown-menu .btn-group:active>.dropdown-menu {
  display: block;
}

body .popover.download-options {
  width: 620px;
  min-width: 500px !important;
  max-width: 90% !important;
  box-shadow: 0 3px 15px rgba(0, 0, 0, .25)
}

.betanotice {
  top: 0;
  width: 100%;
  background-color: #f7f1da;
  color: #d24939;
  text-align: center;
  font-weight: bold;
  z-index: 100;
}


body h1.page-title {
  font: bold 4rem 'georgia';
  margin-top: -.2rem
}

body h1.page-title .in-tag {
  display: none
}

.sub-heading {
  margin: -.5rem 0 1rem;
}
.fixed.top{
  position:fixed;
  top:0; width:100%;
  z-index:10;
}

.carousel-item {
  min-height: 27rem;
  background: #fff;
}

.carousel-item>.carousel-caption {
  bottom: auto;
  top: 1.5rem
}

#ji-download .carousel-caption {
  position: static;
  display: block;
  padding: 1rem;
  margin-top: 1rem
}

.carousel-item video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  opacity: .67
}

.carousel-item .mask {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, .5);
  box-shadow: 0 0 100px 10px #fff;
}

#ji-home-carousel .carousel-item {
  text-align: center;
  border-bottom:1px solid #179;
  background: #168bb9;
}

/* so that banner do not float over fixed navbar*/
.carousel {
  z-index: 9;
}

/* for same font-size in popups*/
.dropdown-menu p{

      font-size: .875rem !important;

}
/* fix for windows chrome which renders size of dropdown button 1px less because of round-off */
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm)
{
    .chromeOnly{

       height: 36px;

    }
}

#ji-home-carousel img.jenkins {
  position: absolute;
  left: 0px;
  top: 10px;
  width: 180px;
}

#ji-home-carousel .carousel-caption.primary {
    color: #fff;
    text-align: left;
    left: auto;
    right: auto;
    display: inline-block;
    position: relative;
    max-width: 620px;
    padding-left: 210px;
    top: 50px;
}

#ji-home-carousel.blogs #ji-download {
  display: none;
}

#ji-home-carousel.blogs .carousel-item {
  min-height: 300px;
}

#ji-home-carousel .carousel-indicators {
  bottom: 0
}

#ji-home-carousel .carousel-caption {
  color:#fff;
  b !ackground: rgba(255, 255, 255, .5);
  b !ox-shadow: 0 0 100px 10px #fff;
  b !order-radius: 50px;
  display: inline-block;
}

#ji-home-carousel .carousel-control, #ji-home-carousel .carousel-indicators
  {
  display: none
}

/* https://issues.jenkins-ci.org/browse/WEBSITE-148  */
.carousel-inner {
  z-index: 8;
}

#ji-download {
 top: 18rem;
 right: 0;
 left: 0;
 position: absolute;
 z-index: 9;
 text-align: center;
 min-width: 620px
}

.authors, .authors>.auth {
  display: inline-block;
  padding-bottom: 5px;
  margin: 0;
}

.authors>.auth>a {
  font-size: 50px;
  padding: 5px;
  border: 1px solid;
  display: block;
  text-decoration: none;
  cursor: pointer
}

.authors>.auth>a:hover {
  background: #def
}

div .authors {
  display: block;
  padding: 0;
  margin-bottom: 3rem
}

.row.body {
  padding-top: 3rem;
}

.no-margin .row {
  margin:0;
}



.container.center {
  text-align: center
}

.center>.center {
  display: inline;
  float: none;
  display: inline-block
}

body .jumbotron {
  margin: 0;
}

body .card-block {
  display: block;
}

.jumbotron.featured {
  background-color: #168bb9;
}

.jumbotron.featured a {
  color: #fff;
  text-decoration: none !important;
}

.jumbotron.featured .row>div {
  position: relative
}

.jumbotron.featured .icon-docker.big {
  font-size: 300px;
  position: absolute;
  right: 0;
  top: -4rem;
  text-decoration: none
}

.tint {
  box-shadow: inset 0 0 100px rgba(0, 0, 0, .25)
}

img.desaturate {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  filter:
    url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

.img-box {
  display: block;
  overflow: hidden;
  float: left;
  line-height: 132px;
  height: 132px;
  width: 112px;
  padding: 0 10px;
  box-sizing: content-box;
  border: 1px solid #ccc;
  background: #fff;
  margin: 2px;
}

.img-box>img {
  width: 100%;
  vertical-align: middle;
  position: relative;
  top: -5px
}

.media-row, .step-by-step {
  text-align: center;
  padding: 2rem 1rem 3rem;
  white-space: nowrap;
  overflow-x: auto;
  overflow: visible;
  position: relative;
  border-bottom: .1rem solid #ccc;
}

.media-row {
    background-color: #fff;
}

.media-row>.header, .step-by-step>.container>.header {
  margin-bottom: 1.75rem;
}

.media-row>.media, .step-by-step>.container.step {
  vertical-align: top;
  cursor: pointer;
  font-size:.9rem;
}
.date-time,
.step-by-step>.container .step .card-title {
    display: inline-block;
    text-align:center;
    width: 4.75em;
    height: 4.75em;
    padding: .5em;
    background: #168bb9;
    color: #fff;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    font-size: 1rem;
}
.date-time>.date,
.step-by-step>.container .step .card-title>.tag {
    font-size: .75em;
    font-weight: normal;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding: .5em 0 .25em;
    background: rgba(180,40,40,.85);
    box-shadow: 0 1px 5px rgba(0,0,0,.15);
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
}
.date-time > .date .small {
  font-size: .5em;
}

body .date-time{
  border-radius:.5em;
  height:5em;
  width:5em;
}
.date-time>.date>*{
  display:inline;
}
.date-time>.date>.dow{
    display: block;
    position: absolute;
    bottom: -1.1em;
    left: -1em;
    right: -1.15em;
    font-size: 6em;
    font-family: 'arial narrow';
    font-weight: bolder;
    color: rgba(0,0,0,.15);
    text-align: center;
}
.date-time>.time{
    font-size: 1.1em;
    line-height: .67em;
    position: relative;
    margin: 2em -1em 0;
}
.step-by-step>.container .step .card-title>.num {
    font-size: 2em;
    line-height: 1em;
    margin-top: .67em;
}
.step-by-step>.container .step .title {
  font-size:1.1rem;
  white-space:nowrap
}
.step-by-step>.container .step .short {
  font-size: .75rem;
  line-height: 1.5em;
  overflow: hidden;
  display: block;
  margin: 0 .5rem .5rem;
  overflow: hidden
}
/* default padding removed so that text dont get cropped */
.card-block{
  padding-bottom: 0
}

.media-row>.media {
  width: 14rem;
  height: auto;
  min-height: 16rem;
  text-align: left;
  font-size: 85%;
  margin: .25rem
}

.media-row>.media>img {
  width: 100%
}

.media-row>.media>.card-block {
  width: 100%;
  white-space: normal;
  padding: .75rem
}

.media-row>.media>.card-block p {
  line-height: 1.2em
}

.media-row>.media .media-title {
  font-size: 1.25rem;
  margin-bottom: .125rem
}

.quote-row {
  background: #f9f9f9;
  box-shadow: inset 0 10px 100px rgba(0, 0, 0, .25);
  border-radius: 0;
  white-space: normal
}

.quote-row .card.important {
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
  font-size: 1rem;
  margin-top: -1rem;
  white-space: normal
}

.quote-row .card.important p {
  font-size: 1rem
}

#directory td>a {
  display: block;
  padding-right: 1rem;
  padding-bottom: .5rem;
  margin-bottom: .5rem
}

#directory td>a>img {
  height: 40px;
  width: 40px;
}

#directory tr {
  vertical-align: top
}

#directory tr td .title {
  font-weight: bold;
}

#directory tr td .description {
  font-size: 75%
}

#welcome, body #sidebar ul.resources {
  padding-bottom: 3rem;
  position: relative;
  border-top: 1px solid #ccc;
  padding-top: 1.5rem;
  margin-top: .75rem;
  margin-bottom: 2rem
}

#welcome>div {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3rem
}

#welcome>div>a {
  display: block;
  padding-left: 40px;
  margin-left: 1rem;
  position: absolute;
  top: 0;
  font-weight: bold
}

#sidebar #welcome>div>img {
  position: absolute;
  top: 0;
  left: 4px;
  height: 32px;
  width: 32px
}

#sidebar #welcome>.content {
  position: relative;
  height: auto
}

#sidebar ul.resources, #sidebar ul.resources>li, #sidebar ul.resources>li>a
  {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0
}

body #sidebar ul.resources>li>a {
  padding: 0 0 .5rem 40px;
  margin-left: 1rem;
  font-weight: bold
}

#gutter-box {
  position: relative;
}

.fixed>#gutter-peg {
  position: fixed;
  top: 3.5rem
}

#gutter {
  position: absolute;
  width: 3.25rem;
  padding-left: .25rem;
  top: 0;
  bottom: 0;
  font-size: 1rem;
  text-align: right;
  padding: 0;
  box-shadow: inset -1px 0 3px #ddd;
  border: 1px solid #ddd
}

#gutter #gutter-peg {
  width: 2.60rem;
  z-index: 2;
  margin-left: .6rem
}

#gutter #gutter-peg>div {
  background: #ddd;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin: .5rem 0 .5rem .1rem;
  text-aling: center;
  padding: .25rem
}

#gutter a {
  display: block;
  position: relative;
  height: 1.75rem;
  width: 1.75rem;
  line-height: 1.75rem;
  text-align: center;
  background: #999;
  b !ackground: #335061;
  color: #fff;
  border-radius: 50%;
  margin: .25rem 0
}

#gutter a>div {
  display: inline
}

#gutter .side-tab>.hover-text {
  width: 0;
  text-indent: .25rem;
  line-height: 1.75rem;
  overflow: hidden;
  position: absolute;
  top: 0;
  color: #555;
  display: block;
  font-size: .75rem;
  text-align: left;
  left: 2.25rem;
  background: #fff;
  z-index: 3;
  box-shadow: inset 0 0 0 1px #ccc, 0 1px 3px #ddd;
  -webkit-transition: width .5s ease-out;
  -moz-transition: width .5s ease-out;
  -o-transition: width .5s ease-out;
  transition: width .5s ease-out;
}

#gutter .side-tab:hover>.hover-text {
  width: 7rem;
}

body .gutter {
  padding-left: 3rem !important
}

body .ji-dated-list>.post {
  border-top: .1rem solid #ccc;
  margin-bottom: .5rem
}

.ji-blog-list,
.ji-dated-list,
.ji-item-list,
.ji-item-list>post,
.ji-item-list>post>.body,
.ji-item-list>.post>.body {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size:1rem;
}
.events .ji-item-list{
  text-align: center;
  white-space: nowrap;
  overflow: visible;
  overflow-x: auto;
  overflow-y: visible;
  border-bottom:1px solid #ccc;
  vertical-align:top;
}

.events .ji-item-list>.event{
  display:inline-block;
  margin:0;
  vertical-align:top;
}
.events .ji-item-list>.event>a{
  width:16rem;
  padding:.75rem;
  margin:1rem .25rem .25rem;
  white-space:normal;
  text-decoration:none;
}
.events .ji-item-list>.event>a .title{
  margin:.75rem 0 .25rem;
  height:1.1rem;
  overflow:hidden;
  position:relative;
}
.events .ji-item-list>.event>a .title:after{
  content:' ';
  display:block;
  position:absolute;
  height:1.1rem;
  width:10%;
  box-shadow:inset #fff -3rem 0 2rem -2rem;
  bottom:0; right:0;
}
.events .ji-item-list>.event>a .teaser{
  color:#999;
  font-size:.85rem;
  height:3.3rem;
  overflow:hidden;
  position:relative;
}
.events .ji-item-list>.event>a .teaser:after{
  content:' ';
  display:block;
  position:absolute;
  height:1.1rem;
  width:25%;
  box-shadow:inset #fff -6rem 0 3rem -3rem;
  bottom:0; right:0;
}


.ji-dated-list>.post>.attrs, .ji-dated-list>.post>.body {
  padding: 1.25rem 1rem 1rem 5rem;
  text-decoration: none;
}

.ji-blog-list>.post>.more {
  position: absolute;
  right: 0;
  color: #79B1BE
}

.ji-blog-list>.post>.more:before {
  content: '+';
  display: block;
  float: right;
  margin-left: .5rem;
  border: 1px solid
}

.ji-blog-list>.post>.body>.teaser, .ji-dated-list>.post>.body>.teaser {
  max-height: 6rem;
  overflow: hidden;
  position: relative;
  margin: 0 0 .5rem;
  text-decoration: none;
  color: #555
}

.ji-blog-list>.event>.body>.teaser {
  max-height: 3.3rem !important
}
.fff.section{
  background:#fff;
  box-shadow:0 2px 3px rgba(0,0,0,.15);
  position:relative;
  z-index:2
}
.ji-blog-list>.post>.body>.teaser:after, .ji-dated-list>.post>.body>.teaser:after
  {
  display: block;
  content: '';
  box-shadow: inset -25rem 0 15rem -15rem #fff;
  height: 1.5rem;
  bottom: 0;
  right: 0;
  width: 30rem;
  position: absolute
}
.f9f9f9.section{
  background:#f9f9f9;
}
z.f9f9f9.section .ji-blog-list>.post>.body>.teaser:after, .ji-dated-list>.post>.body>.teaser:after{
  box-shadow: inset -25rem 0 15rem -15rem #f9f9f9;
}
.ji-blog-list>.post>.body:hover, .ji-dated-list>.post>.body:hover {
  text-decoration: none;
}

.ji-blog-list>.post>.body:hover>.header>.title, .ji-dated-list>.post>.body:hover>.title
  {
  text-decoration: underline
}

.ji-dated-list>.post>.body>.teaser {
  text-decoration: none;
  color: #333
}

.ji-dated-list>.post>.body>.card {
  position: absolute;
  left: 0rem;
  top: 1.25rem;
}

.ji-dated-list>.post>.attrs {
  text-align: left;
  padding-top: 0
}

.ji-dated-list>.post>.attrs .author {
  font-size: 125%;
  margin: 0 0 .25rem;
  display: inline-block
}

.ji-blog-list>.post>.attrs>.tags, .ji-dated-list>.post>.attrs>.tags {
  font-size: 75%;
  opacity: .75
}

.ji-blog-list>.post>.attrs>.tags>li, .ji-dated-list>.post>.attrs>.tags>li
  {
  padding: 0;
  display: inline-block
}

.ji-blog-list>.post>.attrs>.tags>li>a {
  padding-right: .25rem
}

.ji-dated-list>.post>.attrs>.tags>li>a {
  display: block;
  padding: 0 .25rem;
  border: .1rem solid
}

.ji-item-list .card {
  border: .1rem solid;
  text-align: center;
  width: 4rem;
}

.date.card>.month {
  background: #999;
  color: #fff
}

.date.card>.day {
  font-weight: 600;
  font-size: 150%;
  line-height: 3rem
}

.ji-blog-list .date {
  display: inline-block;
  font-size: .75rem;
  text-align: center;
  line-height: 1.2em;
  border: 1px solid;
  margin: -.25rem .25rem 0 -2.75rem;
  vertical-align: middle;
  position: relative;
}

.ji-blog-list .header {
  padding-left: 2.75rem;
}

.ji-blog-list .title {
  display: inline-block;
  vertical-align: middle
}

.ji-blog-list .date>.month {
  padding: 0 .2rem;
  border-bottom: 1px solid;
  background: #168bb9;
  color: #fff
}

.ji-item-list .post,
.ji-blog-list .post {
  margin: .5rem 0 1.5rem
}
.blog-posts .ji-blog-list .post
{
    margin: .5rem -1.5rem 1rem;
    background: #fff;
    padding: 1.5rem;
}
.ji-blog-list .attrs {
  color: #d55
}

.ji-blog-list .attrs>a {
  color: #d53730
}

.ji-blog-list .header.time {
  padding: 0 0 .33rem 2.15rem;
  position: relative
}

.ji-blog-list .header.time .date {
  left: 0;
  top: 0;
  margin: 0;
  position: absolute;
}

.ji-blog-list .date-time .time {
  font-size: .85rem;
  color: #d53730;
  position: relative;
  margin-bottom: -.5rem;
  top: -.33rem
}

.events>h5, .blog-posts>h4 {
  min-height: 2rem;
  margin: 0 0 1rem;
  border-bottom: 1px solid #ccc
}

.events .event .title {
  font-size: 1rem;
  margin: 0;
  display: block
}

.events .event .teaser {
  font-size: .85rem;
  line-height: 1.1rem;
}

.events .ji-blog-list>.event>.body>.teaser:after {
  height: 1.1rem
}

.docker-plugins-list {
  margin-top: 3rem
}

.ji-item-list.plugins>.post .body {
  padding: .75rem 0 0 2.5rem
}

.ji-item-list.plugins>.post .body p {
  margin: 0
}

.ji-item-list.plugins>.post .body>.title {
  margin-top: 0
}

.ji-item-list.plugins>.post>.attrs {
  font-size: 80%;
  text-align: right
}

.ji-item-list.plugins>.post>.body>.card {
  top: .75rem
}

.card.icon {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  padding: 0 .25rem;
  vertical-align: middle;
  display: inline
}

.card.icon div {
  display: inline
}

.ji-dated-list>.post>.article {
  text-decoration: none;
}

.ji-dated-list>.post>.article>.title {
  margin: .5rem 0 .125rem
}

.ji-dated-list>.post>.article>.url {
  color: #999;
  font-size: 75%
}

.doc-block {
  margin: 2rem 0 6rem
}

.sub-block {
  margin: 3rem 0 3rem
}

.active-section {
  margin-bottom: 1rem
}

.toc li a {
  display: block;
  padding: .5rem 0;
  line-height: 1.2em
}

.toc .active-section li a {
  padding: .125rem 0
}

.cal {
  border: 1px solid #999;
  margin-bottom: 2rem;
}

.cal>.row {
  margin: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2)
}

.cal>.days {
  text-align: center;
  border-bottom: 1px solid #999;
  background: rgba(0, 0, 0, .15);
  box-shadow: inset 0 3px 3px -3px rgba(0, 0, 0, .3)
}

.cal>.days>.col-md-2 {
  height: auto;
  line-height: 2em;
  position: relative
}

.cal>.row>.col-md-2.weekend {
  background: rgba(0, 0, 0, .1);
  border: none;
  box-shadow: inset 3px 0 3px -3px rgba(0, 0, 0, .2)
}

.cal .col-md-2 {
  height: 5.5rem;
  border-right: 1px solid rgba(0, 0, 0, .1)
}

.cal a.apt {
  position: absolute;
  line-height: 1.2em;
  background: rgba(100, 255, 255, .5);
  box-shadow: inset 0 0 0 1px rgba(0, 100, 100, .5);
  left: 0;
  font-size: 75%;
  padding: .125rem .5rem;
  display: block
}

.cal a.apt.span-4 {
  width: 400%;
  margin: 1px
}

.cal a.apt.span-1 {
  width: 100%
}

.segment {
    padding-top:3rem;
}

.cols-3 {
  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
}

.chunks {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features.uniform-height>div {
  padding-left: 0
}

.uniform-height  .box {
    padding: .67rem .75rem 0 4rem;
    position: relative;
    border-radius: 5px;
    min-height: 10rem;
  }

.uniform-height  .box i,
.uniform-height  .box:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0rem;
    top: .75rem;
    width: 3.25rem;
    height: 3.25rem;
    line-height: 3.25rem;
    background: #168bb9;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 1.75rem;
}

.uniform-height  .box>p {
  line-height: 1.5em;
  font-size: .8rem;
  overflow: hidden
}

.uniform-height  .box>h5 {
  line-height: 1.3em;
  font-size: 1.1rem;
  margin-bottom: .33rem;
}

@media ( max-width : 768px) {
  .segment {
    padding-top: 1rem
  }
  .uniform-height  .box {
    min-height: 4rem;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
  }
}

@media ( min-width : 992px ) and ( max-width : 1200px ) {
  .uniform-height  .box {
    min-height: 12rem;
  }
}

#ji-download .btn {
    position: relative;
    border-radius: 3px;
    box-shadow: 0 3px 3px -1px rgba(0, 0, 0, .25);
}

#ji-download .btn .brick-tops {
  display:none;
  background: repeating-linear-gradient(90deg, transparent, transparent 12px, #358
    12px, #07d 22px, #358 32px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.brick-tops.footer {
  background: repeating-linear-gradient(90deg, transparent, transparent 12px, #234
    12px, #357 22px, #234 32px);
  border-bottom: 2px solid rgba(255, 255, 255, .1)
}

#ji-download .btn:hover .brick-tops {
  background: repeating-linear-gradient(90deg, transparent, transparent 12px, #136
    12px, #05a 22px, #136 32px);
}

#ji-download .btn:hover {
  box-shadow: none;
}

#gutter-box>#gutter {
  display: none;
}
.brick-tops.footer {background:repeating-linear-gradient( 90deg, transparent, transparent 12px, #234 12px, #357 22px, #234 32px ); border-bottom:2px solid rgba(255,255,255,.1)}
#ji-download .btn:hover .brick-tops{
 background: repeating-linear-gradient( 90deg, transparent, transparent 12px, #136 12px, #05a 22px, #136 32px );
}
#ji-download .btn:hover{box-shadow:none;}

/*----plugin site----*/
body {
  font-family: 'lato', Roboto, 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  background-color: #fff;
}

.jumbotron.plugins {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#81b0c4+0,335061+100 */
background: #81b0c4; /* Old browsers */
background: -moz-linear-gradient(left,  #81b0c4 0%, #335061 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #81b0c4 0%,#335061 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #81b0c4 0%,#335061 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81b0c4', endColorstr='#335061',GradientType=1 ); /* IE6-9 */
  border-radius:0;
  color:#fff}
.overview {padding-top:1.5rem}
.overview p {font-size:1.1rem}

.btn-primary {
  background: #d24939;
  border: 0px;
}
.btn-primary:focus, .btn-primary:hover, .btn-primary:active {
  background:#335061;
  border: 0px;
}
nav .nav-item.active {
  box-shadow:inset #D33833 0 -2px;
}
a {
  color:#069;
}

#toc-blog {
  margin-left: -1rem;
}

.section.blogs h4.blog-title {
  font-size: 1.25rem;
  padding-bottom: 0.25rem;
}

.section.blogs .content {
  padding-top: .5rem
}

.container.blog-post {
  min-height: 65rem;
}

.container.blog-post h1 {
  font-size: 2.25rem;
  margin-bottom: 1.rem;
}

.container.blog-post .submitted {
  display: block;
}

.section.blogs h4.blog-title {
  font-size: 1.25rem;
  padding-bottom: 0.25rem;
}

.container.blog-post .main-content {
  margin-bottom: 60px
}

.quoteblock {
    padding-bottom: 1rem;
}

blockquote {
    padding: 1rem 1rem 1rem 2rem;
    border-left: 5px solid #ddd;
    margin: 1rem 0 2rem;
    font-style: italic;
}

.quoteblock blockquote {
    padding: 1rem 1rem 1rem 3rem;
    margin: 1rem 0 0 0;
    position: relative;
    background: #fff;
}

.quoteblock .attribution {
    margin-left: 1.5rem;
    font-style: italic;
}

.quoteblock blockquote:before {
    content: '\201C';
    font-size: 4rem;
    color: #ddd;
    display: block;
    position: absolute;
    left: 0rem;
    top: .5rem;
    width: 3rem;
    text-align: center;
    line-height: 1em;
}

.toc {
    margin-bottom: 1rem;
    background-color: #f9f9f9;
    border-left: 1px solid #c9c9c9;
    float: right;
    width: 20rem;
    margin-left: 15px;
    padding: 10px;
    clear: right;
}

.toc li li {
    padding-left: 1rem;
}
.toc ul, .toc li, .toc li > a {
    display: block;
    font-size: 0.9rem;
    line-height: 1.35rem;
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.toc ul.root > li > a {
    font-size: 0.85rem;
    color: rgb(153, 17, 17);
}
.container.blog-post #sidebar
{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 5rem;
    overflow-y: auto;
        background: #f9f9f9;
    border-left: 1px solid #ccc;
    box-shadow: inset 10px 0 10px -15px;
}
.vertical.events .ji-item-list>.event {
  display:block;
}
.container.blog-post .events .ji-item-list{
  white-space:normal;
  border:none;
}
.container.blog-post .time .date-time{
font-size: .75rem;
    position: absolute;
    left: 1rem;
}
.container.blog-post .events .ji-item-list>.event>a {
text-align: left;
    padding: .25rem 0 .25rem 5.5rem;
    width: auto;
    margin: .25rem 1rem .25rem .25rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    background:#fff;
    box-shadow:rgba(0,0,0,.15) 0 2px 2px;
}


/* override carousel.scss's text-shadowing which is bad and it should feel bad */
.carousel-caption {
  text-shadow: none;
}

.admonitionblock td.content>.title,.audioblock>.title,.exampleblock>.title,.imageblock>.title,.listingblock>.title,.literalblock>.title,.stemblock>.title,.openblock>.title,.paragraph>.title,.quoteblock>.title,table.tableblock>.title,.verseblock>.title,.videoblock>.title,.dlist>.title,.olist>.title,.ulist>.title,.qlist>.title,.hdlist>.title{text-rendering:optimizeLegibility;text-align:left;font-family:"Noto Serif","DejaVu Serif",serif;font-size:1rem;font-style:italic}
table.tableblock>caption.title{white-space:nowrap;overflow:visible;max-width:0}
.paragraph.lead>p,#preamble>.sectionbody>.paragraph:first-of-type p{color:rgba(0,0,0,.85)}
table.tableblock #preamble>.sectionbody>.paragraph:first-of-type p{font-size:inherit}
.admonitionblock>table{border-collapse:separate;border:0;background:none;width:100%; margin: 10px;}
.admonitionblock>table td.icon{text-align:center;width:80px}
.admonitionblock>table td.icon img{max-width:none}
.admonitionblock>table td.icon .title{font-weight:bold;font-family:"Open Sans","DejaVu Sans",sans-serif;text-transform:uppercase}
.admonitionblock>table td.content{padding-left:1.125em;padding-right:1.25em;border-left:1px solid #ddddd8;color:rgba(0,0,0,.6)}
.admonitionblock>table td.content>:last-child>:last-child{margin-bottom:0}
span.icon>.fa{cursor:default}
.admonitionblock td.icon [class^="fa icon-"]{font-size:2.5em;text-shadow:1px 1px 2px rgba(0,0,0,.5);cursor:default}
.admonitionblock td.icon .icon-note:before{content:"\f05a";color:#19407c}
.admonitionblock td.icon .icon-tip:before{content:"\f0eb";text-shadow:1px 1px 2px rgba(155,155,0,.8);color:#111}
.admonitionblock td.icon .icon-warning:before{content:"\f071";color:#bf6900}
.admonitionblock td.icon .icon-caution:before{content:"\f06d";color:#bf3400}
.admonitionblock td.icon .icon-important:before{content:"\f06a";color:#bf0000}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    /* font-family is needed to override some settings in font-icons.css */
    font-family: FontAwesome !important;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p.details {
  margin-top: 1rem;
}

.imageblock, .listingblock {
  background: #FAFAFA;
  padding: 15px;
  margin: 20px 0 20px 0;
}

.imageblock.right, .image.right {
  float: right;
}

.imageblock.left, .image.left {
  float: left;
}

.imageblock.center, .image.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.imageblock.boxshadow img {
  margin: 5px 5px 5px 5px;
  -moz-box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
}

.paragraph.boxshadow img {
  margin: 5px 5px 5px 5px;
  -moz-box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
}

#sponsorsblock {
  padding: 1rem 2rem;
}

#sponsorsblock ul, #sponsorsblock p {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

#sponsorsblock li {
  display: inline;
  padding: 1rem;
}

.supporters {
  padding-top: 1.5rem;
}

.supporters a {
  font-weight: bold;
}

.div-mar{
  margin-right: 2rem;
  border-top:solid 2px white;
}

.div-mar,.area{
  padding: 1rem 0;
}

.links{
  padding: 0;
}

.footer-left{
  padding-left: 0;
}

@media screen and (max-width: 991px){
  .footer-left{
    margin-top: 1rem;
  }
}

/* keep our bulleted lists tight */
li>p {
  padding: 0;
  margin: 0;
}

/* when centering images in asciidoc, let's make sure they resize to their
 * container properly
 */
.image.center>img {
    max-width: 100%;
    max-height: 100%;
}

.skip, .current-page, .next-link, .previous-link {
  position: relative;
  float: left;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.5;
  color: #0275D8;
  text-decoration: none;
  background-color: #FFF;
  border: 1px solid #DDD;
}

.next-link:focus, .next-link:hover, .previous-link:focus, .previous-link:hover {
  color: #014C8C;
  background-color: #ECEEEF;
  border-color: #DDD;
  text-decoration: underline;
}

.current-page {
  color: #014C8C;
  background-color: #ECEEEF;
  border-color: #DDD;
}

li.card.step {
  background: none;
  border: none;
}

.card.step > .card-block > p {
  white-space: normal;
}

/* Ensure that source code block numbering looks pretty (e.g. :http://asciidoctor.org/docs/user-manual/#source-code-blocks) */

.conum[data-value]{display:inline-block;color:#fff!important;background-color:rgba(0,0,0,.8);-webkit-border-radius:100px;border-radius:100px;text-align:center;font-size:.75em;width:1.67em;height:1.67em;line-height:1.67em;font-family:"Open Sans","DejaVu Sans",sans-serif;font-style:normal;font-weight:bold}
.conum[data-value] *{color:#fff!important}
.conum[data-value]+b{display:none}
.conum[data-value]:after{content:attr(data-value)}
pre .conum[data-value]{position:relative;top:-.125em}
b.conum *{color:inherit!important}
.conum:not([data-value]):empty{display:none}
.colist>table tr>td:first-of-type{padding:0 .75em;line-height:1}
.colist>table tr>td:last-of-type{padding:.25em 0}
table {
    margin-bottom: 1.25rem;
}

/** Project page **/

.sidebar-nav h4 {
  margin-bottom: 1.5rem;
}

/** docbook section navigation **/
.doc-page-link {
    margin-left: auto;
    margin-right: auto;
}


.pipeline-block {
    margin-bottom: 1rem;
}

.pipeline-script-expand {
    font-size: 0.7rem;
}


/** Role to be used in asciidoc for visually distinguishing Scripted Pipeline
 * sections of documentation
 **/
.scripted-pipeline {
    border-left: 2px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 5px;
}
/** Some specific styles for styling Pipeline syntax reference pages **/

.syntax h2 {
    border-bottom: 3px solid #ddd;
}
.syntax h3 {
    border-bottom: 2px solid #ddd;
}
.syntax h4 {
    border-bottom: 1px solid #ddd;
}

table.syntax {
    font-size: 0.8rem;
    margin: 1rem;
    border: 1px solid #FAFAFA;
}
table.syntax p {
    padding: 5px;
    margin: 0;
}
table.syntax > tbody > tr > td {
    border: 1px solid #FAFAFA;
}
table.syntax > tbody > tr > th {
    background-color: #FAFAFA;
    border: 1px solid #FAFAFA;
    font-weight: bold;
}


/** documentation side-bar navigation styling **/
.tour .active {
  font-weight: bold;
}


/** pilfered from blueocean-style.css **/
.navbar.navbar-toggleable-md {
  font-size: 0.875rem; }
  .navbar.navbar-toggleable-md.bg-inverse {
    background-color: #000; }
  .navbar.navbar-toggleable-md .navbar-brand {
    font-family: Georgia,Times,Times New Roman,serif;
    font-weight: 600;
    font-size: 20px;
    padding: 2px 0; }
  .navbar.navbar-toggleable-md .btn {
    font-size: 0.875rem;
    margin-left: 8px;
    margin-top: 1px; }
    .navbar.navbar-toggleable-md .btn.dropdown-toggle::after {
      margin: 0 0 0 8px; }
    .navbar.navbar-toggleable-md .btn.btn-outline-secondary.active, .navbar.navbar-toggleable-md .btn.btn-outline-secondary.focus, .navbar.navbar-toggleable-md .btn.btn-outline-secondary:active, .navbar.navbar-toggleable-md .btn.btn-outline-secondary:focus,
    .navbar.navbar-toggleable-md .btn .btn-outline-secondary.active,
    .navbar.navbar-toggleable-md .btn .btn-outline-secondary:active {
      background-color: rgba(255, 255, 255, 0.15); }
    .navbar.navbar-toggleable-md .btn.btn-outline-secondary:hover {
      background-color: rgba(255, 255, 255, 0.1); }
  .navbar.navbar-toggleable-md .show > .btn-outline-secondary.dropdown-toggle {
    background-color: rgba(255, 255, 255, 0.15); }
  .navbar.navbar-toggleable-md .nav-link {
    padding: 0.3rem 0.75rem 0.4rem; }
    .navbar.navbar-toggleable-md .nav-link.btn {
      color: rgba(255, 255, 255, 0.75); }
  .navbar.navbar-toggleable-md .dropdown-menu {
    font-size: 0.875rem; }
    @media (max-width: 767px) {
      .navbar.navbar-toggleable-md .dropdown-menu {
        background: none;
        border: none; }
        .navbar.navbar-toggleable-md .dropdown-menu .dropdown-item {
          color: #fff; } }
    @media (min-width: 767px) {
      .navbar.navbar-toggleable-md .dropdown-menu {
        background: none;
        border: none; }
        .navbar.navbar-toggleable-md .dropdown-menu .dropdown-item {
          color: #fff; } }
    @media (min-width: 992px) {
      .navbar.navbar-toggleable-md .dropdown-menu {
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.15); }
        .navbar.navbar-toggleable-md .dropdown-menu .dropdown-item {
          color: #292b2c; } }
  .navbar.navbar-toggleable-md .navbar-toggler {
    font-size: 1.5rem; }
  @media (max-width: 767px) {
    .navbar.navbar-toggleable-md .container {
      width: 100%; } }


.banner-container .skew:before {
  content: '';
  position: absolute;
  left: 0;
  top: -100px;
  overflow: visible;
  width: 100%;
  height: 600px;
  background: #F8F9FB;
  z-index: -1;
  -webkit-transform: skewY(-14deg);
  -moz-transform: skewY(-14deg);
  -ms-transform: skewY(-14deg);
  -o-transform: skewY(-14deg);
  transform: skewY(-14deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: initial; }
  @media (min-width: 767px) {
    .header .skew:before {
      top: -350px;
      height: 900px; } }
  @media (min-width: 992px) {
    .header .skew:before {
      top: -350px;
      height: 1020px; } }


.jumbotron {
    background-color: #F8F9FB;
}


.post-attrs>.tags>li  {
  display: inline-block;
  font-size: 0.7rem;
}

.post-attrs>.tags>li>a {
  padding-right: .25rem;
  display: inline-block;
  padding: 0 .25rem;
  border: .1rem solid;
  background-color: #069;
  color: #fff;
}

.author.box td {
  padding: 5px;
  vertical-align: top;
}

.author.logo {
  height: 128px;
}

.author.social-media-buttons {
  float: left;
  list-style: none;
  padding: 0;
  width: 100%;
}

.author.social-media-buttons li {
  display: block;
  float: left;
  margin-right: 10px;
}
