.roadmap-warning-banner {
  margin: 10px;
  padding: 10px;
  background-color: #FFFFCE;
}
/* Responsive table style based on https://css-tricks.com/responsive-data-tables/ by Chris Coyier */
@media (max-width: 767px) {

  /* Force table to not be like tables anymore */
  table.roadmap-table, .roadmap-table thead, .roadmap-table tbody,
  .roadmap-table th, .roadmap-table td, .roadmap-table tr {
    display: block;
  }
  body table.roadmap-table tbody tr td {
    position: relative;
    padding-left: 50%;
  }
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  td {
    border-bottom: 1px #e6eaee solid;
  }
  td:before {
    position: absolute;
    /* Top/left values mimic padding */
    top: 8px;
    left: 8px;
    width: 45%;
    padding-right: 8px;
    white-space: nowrap;
  }
  /*
  Label the data
  */
  td:not(.cat-name):before { content: attr(data-header); }
}
table.roadmap-table {
  border: 1px solid #e6eaee;
  border-radius: 3px;
  background-color: white; }
  table.roadmap-table thead tr {
    border-radius: 3px; }
    table.roadmap-table thead tr th {
      border-radius: 3px;
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: rgba(0, 0, 0, 0.54);
      text-transform: uppercase;
      text-align: center;
      border-bottom: 1px solid #e6eaee;
      padding-top: 13px;
      padding-bottom: 11px; }
      table.roadmap-table thead tr th:first-child {
        padding-left: 16px;
        text-align: left; }
      table.roadmap-table thead tr th:last-child {
        padding-right: 24px; }
      @media (min-width: 768px) {
          table.roadmap-table thead tr th:first-child {
            padding-left: 24px; } }
  table.roadmap-table tbody tr.status-category {
    background-color: rgba(248, 249, 251, 0.75);
    font-weight: 600; }
    table.roadmap-table tbody tr.status-category td {
      height: 40px;
      border-left: none; }
      table.roadmap-table tbody tr.status-category td span {
        align-items: center;
        display: flex;
        height: 100%; }
      table.roadmap-table tbody tr.status-category td:first-child {
        padding-left: 16px;
        text-align: left; }
      @media (min-width: 768px) {
          table.roadmap-table tbody tr.status-category td:first-child {
            padding-left: 24px; } }
  table.roadmap-table tbody tr td {
    font-size: 14px;
    color: #354052;
    line-height: 16px;
    text-align: center;
    min-height: 48px;
    padding: 0;
    padding-right: 16px; }
    table.roadmap-table tbody tr td.feat-name a {
      display: inline-block;
      height: 100%;
      align-items: center;
      display: flex;
      color: #2378b1; }
      table.roadmap-table tbody tr td.feat-name a:hover {
        text-decoration: none;
        color: #2c97de; }
    table.roadmap-table tbody tr td.feat-name a {
      align-items: center;
      display: flex;
      height: 100%; }
    table.roadmap-table tbody tr td div a {
      min-height: 32px;
      align-items: center;
      justify-content: center;
      display: flex;
      margin: 8px 4px;
      border-radius: 10px;
      font-weight: bold;
      padding: 4px 8px;
      color: white; }
      table.roadmap-table tbody tr td .status a:hover {
        cursor: help; }
    table.roadmap-table tbody tr td .not-planned a {
      background: #e16070;
      background: -webkit-linear-gradient(90deg, #e16070 0%, #d83941 100%);
      background: -moz-linear-gradient(90deg, #e16070 0%, #d83941 100%);
      background: -ms-linear-gradient(90deg, #e16070 0%, #d83941 100%);
      background: -o-linear-gradient(90deg, #e16070 0%, #d83941 100%);
      background: linear-gradient(90deg, #e16070 0%, #d83941 100%); }
    table.roadmap-table tbody tr td .future a {
      background: #2c97de;
      background: -webkit-linear-gradient(90deg, #2c97de 0%, #2378b1 100%);
      background: -moz-linear-gradient(90deg, #2c97de 0%, #2378b1 100%);
      background: -ms-linear-gradient(90deg, #2c97de 0%, #2378b1 100%);
      background: -o-linear-gradient(90deg, #2c97de 0%, #2378b1 100%);
      background: linear-gradient(90deg, #2c97de 0%, #2378b1 100%); }
    table.roadmap-table tbody tr td .current a {
      background: #efc663;
      background: -webkit-linear-gradient(90deg, #efc663 0%, #eab53a 100%);
      background: -moz-linear-gradient(90deg, #efc663 0%, #eab53a 100%);
      background: -ms-linear-gradient(90deg, #efc663 0%, #eab53a 100%);
      background: -o-linear-gradient(90deg, #efc663 0%, #eab53a 100%);
      background: linear-gradient(90deg, #efc663 0%, #eab53a 100%); }
    table.roadmap-table tbody tr td .near-term a {
      background: #9677df;
      background: -webkit-linear-gradient(90deg, #9677df 0%, #7347d5 100%);
      background: -moz-linear-gradient(90deg, #9677df 0%, #7347d5 100%);
      background: -ms-linear-gradient(90deg, #9677df 0%, #7347d5 100%);
      background: -o-linear-gradient(90deg, #9677df 0%, #7347d5 100%);
      background: linear-gradient(90deg, #9677df 0%, #7347d5 100%); }
    table.roadmap-table tbody tr td .preview a {
        background: #7b817c;
        background: -webkit-linear-gradient(90deg, #7b817c 0%, #6b816f 100%);
        background: -moz-linear-gradient(90deg, #7b817c 0%, #6b816f 100%);
        background: -ms-linear-gradient(90deg, #7b817c 0%, #6b816f 100%);
        background: -o-linear-gradient(90deg, #7b817c 0%, #6b816f 100%);
        background: linear-gradient(90deg, #7b817c 0%, #6b816f 100%); }
    table.roadmap-table tbody tr td .released a {
      background: #2dbda8;
      background: -webkit-linear-gradient(90deg, #2dbda8 0%, #1aab40 100%);
      background: -moz-linear-gradient(90deg, #2dbda8 0%, #1aab40 100%);
      background: -ms-linear-gradient(90deg, #2dbda8 0%, #1aab40 100%);
      background: -o-linear-gradient(90deg, #2dbda8 0%, #1aab40 100%);
      background: linear-gradient(90deg, #2dbda8 0%, #1aab40 100%); }
    table.roadmap-table tbody tr td:first-child {
      padding-bottom: 8px; }
    table.roadmap-table tbody tr td:last-child {
      padding-right: 16px; }
    @media (min-width: 768px) {
      table.roadmap-table tbody tr td {
        padding-right: 0;
        vertical-align: top;
        border-left: 1px dashed rgba(230, 234, 238, 0.25); }
        table.roadmap-table tbody tr td:first-child {
          padding-left: 16px;}
        table.roadmap-table tbody tr td:last-child {
          padding-right: 16px; } }

.tooltip {
  --bs-tooltip-bg: #212529;
}

.tooltip-inner {
  max-width: 260px;
  padding: 6px 12px;
  color: white;
}
